.carousel {
    position: relative;
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .carousel-item {
    position: relative;
    display: none;
    width: 100%;
  }

  @media (-webkit-transform-3d) {
    .carousel-item {
      -webkit-transition: -webkit-transform 0.6s ease-in-out;
      transition: -webkit-transform 0.6s ease-in-out;
      -o-transition: -o-transform 0.6s ease-in-out;
      transition: transform 0.6s ease-in-out;
      transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-perspective: 1000px;
              perspective: 1000px;
    }
  }

  @supports ((-webkit-transform: translate3d(0, 0, 0)) or (transform: translate3d(0, 0, 0))) {
    .carousel-item {
      -webkit-transition: -webkit-transform 0.6s ease-in-out;
      transition: -webkit-transform 0.6s ease-in-out;
      -o-transition: -o-transform 0.6s ease-in-out;
      transition: transform 0.6s ease-in-out;
      transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-perspective: 1000px;
              perspective: 1000px;
    }
  }

  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .carousel-item-next,
  .carousel-item-prev {
    position: absolute;
    top: 0;
  }

  @media (-webkit-transform-3d) {
    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-item-next,
    .active.carousel-item-right {
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0);
    }
    .carousel-item-prev,
    .active.carousel-item-left {
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0);
    }
  }

  @supports ((-webkit-transform: translate3d(0, 0, 0)) or (transform: translate3d(0, 0, 0))) {
    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-item-next,
    .active.carousel-item-right {
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0);
    }
    .carousel-item-prev,
    .active.carousel-item-left {
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0);
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    text-align: center;
    padding: 2rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .carousel-control-prev {
    left: 0 !important;
  }

  .carousel-control-next {
    right: 0 !important;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: inline-block;
    width: 12px;
    height: 9px;
    background: transparent no-repeat center center;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }


/* Product Gallery Carousel */

  .carousel-indicators-gallery {
    position: absolute;
   right: 0;
   bottom: -7rem;
   left: 0;
   z-index: 15;
   list-style: none;
   overflow-x: scroll;
  }

  .carousel-indicators-gallery li {
    flex-shrink: 0;
overflow: hidden !important;
position: relative;
width: 10rem;
height: 6rem;
cursor: pointer;
margin-right: 0.2rem;
background-color: rgba(255, 255, 255, 0.5);
  }

  .carousel-indicators-gallery li img {
    flex-shrink: 0;
      object-fit: cover !important;
  }


  @media screen and (max-width: 768px) {

    .carousel-indicators-gallery  {
      position: absolute;
        bottom: -6rem !important;
    }

    /* .carousel-indicators-gallery  li {
      height: 5rem !important;
    } */
  }

  @media screen and (min-width: 1024px) {

    .carousel-indicators-gallery  {
      position: absolute;
        bottom: -9rem !important;
    }

    /* .carousel-indicators-gallery li {
      height: 8rem !important;
    } */
  }

  .carousel-indicators-gallery  li img {
      background-color: #fff;
      width: 100% !important;
      height: 100% !important;
      object-fit: contain !important;
      flex-shrink: 0 !important;
  }

/* End of Product Gallery */

  .carousel-indicators li {
    overflow: hidden !important;
    position: relative;
    width: 100%;
    height: 6rem;
    object-fit: cover;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .carousel-indicators li img {
    flex-shrink: 0;
    object-fit: cover !important;
  }

  @media screen and (max-width: 768px) {

    .carousel-indicators {
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: absolute;
      bottom: -6rem !important;
    }

    .carousel-indicators li {
      height: 5rem !important;
    }
  }

  @media screen and (min-width: 1024px) {

    .carousel-indicators {
      position: absolute;
      bottom: -9rem !important;
    }

    .carousel-indicators li {
      height: 8rem !important;
    }
  }

  .carousel-indicators li img {
    /* background-color: #d3d3d3; grey color*/
    background-color: #ffffff;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    flex-shrink: 0 !important;
  }

  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }


  .img-fluidly {
    /* background-color: #d3d3d3; */
    background-color: #ffffff;
    max-width: 100%;
    height: 50vh !important;
  }

  /* .carousel-padding{
    padding: 50px 50px 50px 50px !important;
  } */

  @media screen and (min-width: 1024px) {
    .img-fluidly {
      height: 80vh !important;
      /* padding: 50px 0px 50px 0px !important; */
    }
    /* .carousel-padding {
      padding: 50px 50px 50px 50px !important;
    } */
  }

  .d-block{
  display: block;
  }


  .image-fluid {
    /* background-color: #d3d3d3; */
    background-color: #ffffff;
    height: 100vh;
  }

  .cross {
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  #carouselExampleIndicators2 {
    /* background-color: #d3d3d3;  grey color*/
    background-color: #ffffff;
  }

  /* How to video starts */

  .video-thumb:hover .time-stamp {
    opacity: 1 !important; }

  .overlay-modal {
    background: #000000;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none; }

  .video-modal {
    display: none;
    position: fixed;
    top: 10%;
    width: 50%;
    height: 100%; }
    .video-modal .video-close {
      background: #000000;
      /* color: #ffffff; */
      /* height: 20px; */
      width: 28px;
      /* text-align: center; */
      cursor: pointer; }

  /* How to video ends */
