<div id="logo" class="relative w-full h-screen">
    <!-- Carousel Start-->
    <div class="carousel z-10 w-full h-screen overflow-hidden absolute z-10">
      <!-- Triangle -->
      {# <div class="z-10 triangle p-back w-full h-full absolute top-0 ml-12 md:ml-16"></div> #}
      <div class="z-10 absolute top-0 ml-12 md:ml-16 w-2/12 md:w-4/12 sm:w-8" >
          <img class="object-fill w-auto h-auto opacity-75" src="/assets/images/template/Gold_Triangle.svg">
        </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          {% for i, block in ImageBanner.bannerBlock.all() %}
            {% if block.type == 'blockContent' %}
              <div class="carousel-item relative {{ (i == 0) ? 'active' : '' }}">
                  {% if block.heading != ''  %}
                <!-- Carousel Text -->
                  <div data-aos="fade-up" class="pl-16 z-20 w-full h-full absolute flex justify-center items-enter">
                    <div class="relative flex flex-col justify-center text-white">
                      <h1 class="z-20 leading-tight text-4xl md:text-5xl font-thin text-center max-w-3xl tracking-wider px-10">
                        {{ block.heading }}
                      </h1>
                      <p class="z-20 text-center max-w-4xl text-sm md:text-base mt-6 tracking-wider leading-loose font-normal px-10">
                        {{ block.subHeading }}
                      </p>
                    </div>
                  </div>
                {% endif %}
                <img class="d-block img-fluid object-cover" src="{{ block.bannerImage.one().url() }}" width="100%" alt="First slide"/>
              </div>
            {% endif %}

          {% endfor %}

        </div>
        <a class="carousel-control-prev ml-12 md:ml-16 z-20" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!-- Carousel End -->
    {% for image in globalWhiteLogo.logo.all() %}
      <div class="index-logo absolute top-0 w-full pl-16">
        <a href="{{ url('') }}">
          <img class="pt-8 sm:pl-20 w-48 sm:w-64 mx-auto sm:mx-0 flex-shrink-0" src="{{ image.getUrl() }}" alt="Windsor logo"/>
        </a>
      </div>
    </div>
  {% endfor %}
