{% for i, block in neo.level(1).all() %}
  <!--<div class="storycarousel-inner relative" role="listbox">-->

    <!-- Slide Start -->
    {% include '_includes/_neo/Builders/OurStory/' ~ block.type.handle with {
      (block.type.handle): block,
      class: (i == 0) ? 'active' : ''
    } %}
    <!-- Slide End -->

  <!--</div>-->
{% endfor %}
