<!-- Standard Stock Finishes-->

<section class="w-full flex flex-col sm:flex-row pl-16 sm:pl-0 py-24">
  <img class="w-full sm:w-1/3 md:w-1/2 lg:w-7/12 object-cover px-6 sm:px-0 flex-shrink-0" src="{{ RightAlignText.featuredImage.one().url }}" alt=""/>
  <div class="flex justify-center items-center flex-col px-6 sm:px-12 md:px-24 py-12 text-white text-center">
    <h1 class="leading-tight text-2xl md:text-4xl font-hairline px-6">
      {{ RightAlignText.heading }}
    </h1>
    <div class="text-xs tracking-widest leading-relaxed mt-6">
      {{ RightAlignText.richtext }}
    </div>
  </div>
</section>

<section class="pl-12 md:pl-16">
<div id="my-thumbs-list" class="mThumbnailScroller mx-auto max-w-6xl relative standard" data-mts-axis="x">
  <ul class="mx-auto flex">
    {#  {% set finishes = craft.entries.section('swatches').all() %} #}
    {% set finishes = RightAlignText.swatches.all() %}

    {% for i, finish in finishes %}

      <li>
        <a href="javascript:void(0);" data-swatch-right="{{ "right_info_" ~ finish.id }}" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box swatch-box-right">
          <!-- {% if finish.swatchImage.one() %} -->
            <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="{{ finish.swatchImage.one().url }}" alt=""/>
          <!-- {% else %}
            <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/BLK_web.png" alt=""/>
          {% endif %} -->

          <div class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
            {{ finish.finishCode }}
          </div>
        </a>
      </li>

    {% endfor %}
  </ul>

  {% for i, finish in finishes %}
  <!-- Swatches Description -->
<div class="standard-swatch-description standard-swatch-description-right overflow-hidden hidden text-xs text-center text-white max-w-xs px-6 mx-auto {{ " right_info_" ~ finish.id }}"="right_info_" ~ finish.id }}"">
  <h3 class="mb-2 mt-4 uppercase pointer-events-none">{{ finish.title }}</h3>
  <p class="mb-2 pointer-events-none">{{ finish.swatchDescription|striptags }}
  </p>

  <h3 class="mb-2 mt-4 uppercase pointer-events-none">Lead Time</h3>
  <p class="mb-2 pointer-events-none">{{ finish.leadTime }}</p>

  <div class="pdf-button">
      <a class="pdf" href="{{ (finish.LinkFiles) ? finish.LinkFiles.url : '#' }}" target="_blank">Download Pdf</a>
  </div>
</div>
{% endfor %}
</div>

</section>
