{% for block in neo.level(1).all() %}
<section class="finish-back">

    {% include '_includes/_neo/Builders/Finishes/' ~ block.type.handle with {
				(block.type.handle): block
			} %}

</section>
{% endfor %}
