<section id="current-vacancies" class="w-full flex flex-col justify-center mt-24 py-10 pl-12 md:pl-16 pb-32 overflow-hidden">
  <div data-aos="fade-up" class="w-full flex flex-col lg:px-24 px-6">
    <p class="text-4xl md:text-5xl font-hairline text-center px-6 aos-init aos-animate py-10 pl-16">Current Vacancies</p>

    <!-- Job Starts -->
    {% set job = craft.entries.section('jobs') %}
    {% set entries = job.all() %}
    {% if entries %}
      {% include 'Job/index.twig' with {
        'entries' : entries
      } %}
    {% else %}

      <div data-aos="fade-up" data-aos-duration="600" class="text-center text-base font-light mt-6 px-6 aos-init aos-animate">
        {{CurrentVacancies.introParagraph }}
      </div>

    {% endif %}
    <!-- Jobs End -->
  </div>
</section>
