html {
	height:100%;

	body {
		font-family: $primaryFont;
        h1: $secondaryFont;

		.wrapper {
            background-color: #f7f7f7;

						&.xs{
							background-color: #f7f7f7;
						}

            .topContainer{
                // background-color: #fff;
                background: linear-gradient(90deg, #fff 95%, #f7f7f7 5%);
                margin-top: 120px;
//                padding: 60px;
                padding: 60px 0 60px 60px;
            }

            .topRightAlignContainer {
                background: linear-gradient(90deg, #fff 95%, #f7f7f7 5%);
                margin-top: 180px;
                padding: 60px 0 60px 60px;

								&.xs{
									background: transparent;
									margin-top: 100px;
									padding: 0px;
								}

            }

						.latestContainer {
								background: linear-gradient(90deg, #fff 95%, #f7f7f7 5%);
								margin-top: 120px;
								padding: 60px 0 60px 60px;
						}

             .topLeftAlignContainer {
                 background: linear-gradient(-90deg, #fff 95%, #f7f7f7 5%);
                margin-top: 180px;
                padding: 60px 60px 60px 0;

								&.xs{
									background: transparent;
									margin-top: 100px;
									padding: 0px;
								}

            }

            .fullRightAlignContainer{
                background: linear-gradient(90deg, #fff 95%, #f7f7f7 5%);
                margin-top: 120px;
                padding: 60px 0 60px 60px;
            }

						.FullWidth{
							background: #fff;
						 margin-top: 60px;
						 padding: 0 60px 30px 60px;

						}

						.productContainer {

							background: linear-gradient(90deg, #fff 95%, #f7f7f7 5%);
							padding: 60px 0 60px 60px;

						}

						.sectionCenterAlign {

							padding: 0 60px;
							width: 100%;
							// display: table-cell;
							background: linear-gradient(90deg, #fff 95%, #f7f7f7 5%);

							&.xs{
								background: transparent;
								padding:0px;
							}
						}



//            .sectionContainer {
//                background-color: #fff;
//                margin-top: 160px;
//                padding: 60px;
//            }

            .sectionLeftAlignContainer {
                background: linear-gradient(-90deg, #fff 95%, #f7f7f7 5%);
                /*margin-top: 160px;*/
								margin-top: 30px;
                padding: 60px;

								&.xs{
									background: transparent;
									padding:0px;
								}
            }

						.sectionRightAlignContainer {
								background: linear-gradient(90deg, #fff 95%, #f7f7f7 5%);
								/*margin-top: 160px;*/
								/*margin-top: 30px;*/
								margin-top:0;
								padding: 60px;

								&.xs{
									background: transparent;
									padding:0px;
								}

						}



			& > .container {

				&:first-child {
					position: relative;
				}
			}
		}
	}
}


.richTextWrapper{
	&.xs {
		padding-top: 0 !important;
	}
 }
.sectionLeftAlignContainer {
	.richTextWrapper{
		&.xs {
			padding-top: 100px !important;
		}
	 }
}

li {
    font-size: 15px !important;
}
