.super_container {
	padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    overflow: hidden;
	display: block;
	position: relative;
	box-sizing: border-box;
	div {
		display: block;
		position: relative;
		box-sizing: border-box;
	}
	.banner-description {
		position: absolute;
		top: 50%;
		width: 50%;
		left: 25%;
	}
}
.home
{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.overlay
{
	position: absolute;
	left: 0;
	bottom: -270px;
	width: 120%;
	height: 270px;
	background: #FFFFFF;
	transform-origin: top left;
	transform: rotate(-8deg);
	z-index: 1;
	box-shadow: 0 0 1px 0 #FFFFFF inset, 0 0 1px 0 #FFFFFF;
}

.home_title
{
	font-size: 48px;
	font-weight: 200;
	color: #fff;
	line-height: 1.2;
	font-weight: bold;
	text-transform: uppercase;
}

.background_image
{
	/*position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;*/
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.layer2, .layer3 {
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	transition: transform 0.5s;
	z-index: 97;
	

}
.layer2 {
	background-position: left center;
	top: 0;
	z-index: 98;
	

}
.layer4 {
	position: absolute !important;
	top: 42%;
	left: 50%;
	width: 100%;
	min-height: 100vh;
	transition: transform .5s ease;
	z-index: 96;
}

@media only screen and (max-width: 575px)
{
	.home_title
	{
		font-size: 48px;
	}
}
