.super_container {
	height: 100vh;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
	display:none;
	/* make scrollbar transparent */
}

.full-size {
	width: 100%;
	height: 100%;
}

.viewport-full-size {
	width: 100vw;
	height: 100vh;
}

.full-width {
	width: 100%;
}

.pos-a {
	position: absolute;
}

.pos-a-center {
	position: absolute;
	left: 50%;
	top: 50%;
}

.pos-a-t-l {
	position: absolute;
	top: 0;
	left: 0;
}

.pos-a-b-l {
	position: absolute;
	bottom: 0;
	left: 0;
}

.pos-a-t-r {
	position: absolute;
	top: 0;
	right: 0;
}

.pos-a-b-r {
	position: absolute;
	bottom: 0;
	right: 0;
}

.pos-f-t-l {
	position: fixed;
	top: 0;
	left: 0;
}

.pos-f {
	position: fixed;
}

.pos-f-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
}

.pc-b::before {
	content: "";
}

.pc-a::after {
	content: "";
}

.center-l-t {
	position: absolute;
	left: 50%;
	top: 50%;
}

.vertically-centered-content {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	-ms-flex-direction: column;
	height: 100%;
	width: 85%;
	margin: -0.5% auto 0;
}
@media only screen and (max-width: 700px) {
	.vertically-centered-content .left-content-lockup,
	.vertically-centered-content .standard-content-lockup {
		width: 90%;
	}
}

.flex-vert {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	-ms-flex-direction: column;
}

.flex-vert > * {
	height: 100%;
}

.flex-horiz {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	flex-direction: row;
	-ms-flex-direction: row;
}

.flex-horiz > * {
	width: 100%;
}

.mob-only {
	display: none;
}
@media only screen and (max-width: 700px) {
	.mob-only {
		display: block;
	}
}

.desktop-only {
	display: block;
}
@media only screen and (max-width: 700px) {
	.desktop-only {
		display: none;
	}
}

.scrolling-content {
	top: 0;
	left: 0;
}

.headerWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

.bg {
	position: absolute;
	pointer-events: none;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("http://www.discoveroutpost.com/img/bg.jpg") repeat center center/360px 196px;
}

.wrapper {
	width: 100%;
}

.content-wrap {
	width: 100%;
	overflow: hidden;
}

.widow-killer {
	display: inline-block;
}

.standard-content-lockup {
	width: 70%;
	max-width: 700px;
	margin: 0 auto;
	/*display: none;*/
	&.mobile-view {
		display:none;
		&.xs {
			display: block;
		}
	}
}
@media only screen and (max-width: 700px) {
	.standard-content-lockup .box-btn {
		margin-top: 60px;
	}
}
@media only screen and (max-width: 700px) {
	.project-content .standard-content-lockup > * {
		text-align: left;
	}
}

.left-content-lockup {
	width: 70%;
	margin: 0 auto;
	max-width: 1000px;
	overflow: hidden;
}

.left-content-lockup > * {
	float: left;
	text-align: left;
}

.left-content-lockup > *:nth-child(1) {
	margin-right: 10%;
	width: 25%;
}

.left-content-lockup > *:nth-child(2) {
	width: 65%;
}
@media only screen and (max-width: 700px) {
	.left-content-lockup > * {
		float: none;
		width: 100% !important;
	}
}
@media only screen and (max-width: 700px) {
	.left-content-lockup,
	.standard-content-lockup {
		width: 76%;
	}
}

.scrolling-list {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.scrolling-list .statement {
	margin-bottom: 0.4em;
}

.page-out-load {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #111;
	display: none;
	opacity: 0;
	z-index: 10000;
	-webkit-transition: 0.23s;
	-moz-transition: 0.23s;
	transition: 0.23s;
}

.page-out-load[data-active="on"] {
	opacity: 1;
}

.preloader-wrap {
	pointer-events: none;
	position: fixed;
	z-index: 10000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #111111;
	-webkit-transition: 0.8s linear 0.25s;
	-moz-transition: 0.8s linear 0.25s;
	transition: 0.8s linear 0.25s;
}

.preloader-wrap .preloader-icon-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5px;
	height: 40px;
	margin: -20px 0 0 -2px;
	-webkit-transition: opacity 0.45s cubic-bezier(0.62, 0.02, 0.34, 1);
	-moz-transition: opacity 0.45s cubic-bezier(0.62, 0.02, 0.34, 1);
	transition: opacity 0.45s cubic-bezier(0.62, 0.02, 0.34, 1);
	-webkit-animation: preloader 2s cubic-bezier(0.52, 0.01, 0.16, 1) infinite forwards;
	-moz-animation: preloader 2s cubic-bezier(0.52, 0.01, 0.16, 1) infinite forwards;
	animation: preloader 2s cubic-bezier(0.52, 0.01, 0.16, 1) infinite forwards;
}

.preloader-wrap .preloader-icon-wrap .logo-stick {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	-webkit-transform: skew(-34deg);
	-moz-transform: skew(-34deg);
	-ms-transform: skew(-34deg);
	-o-transform: skew(-34deg);
	transform: skew(-34deg);
}

.home-scene-layers {
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}

.home-scene .home-scene-layers{
 width:93%;
}

body[data-loaded="true"] .home-scene-layers {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

body[data-loaded="true"] .preloader-wrap {
	opacity: 0;
}

body[data-loaded="true"] .preloader-wrap .preloader-icon-wrap {
	opacity: 0;
}

body[data-loaded="true"] .fog.movement::before {
	-webkit-transform: translateX(30%);
	-moz-transform: translateX(30%);
	-ms-transform: translateX(30%);
	-o-transform: translateX(30%);
	transform: translateX(30%);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	body[data-loaded="true"] .fog.movement::before {
		-webkit-transform: translateX(-30%) !important;
		-moz-transform: translateX(-30%) !important;
		-ms-transform: translateX(-30%) !important;
		-o-transform: translateX(-30%) !important;
		transform: translateX(-30%) !important;
	}
}

.home-header-gap {
	height: 2000px;
}

html.touchevents .home-header-gap {
	display: none;
}
@media only screen and (max-width: 700px) {
	.home-header-gap {
		display: none;
	}
}
//     -webkit-transform: translateY(-100%);
//     -moz-transform: translateY(-100%);
//     -ms-transform: translateY(-100%);
//     -o-transform: translateY(-100%);
//     transform: translateY(-100%); }
//   .recent-work-carousel[data-active-project="2"] .recent-project-links li:nth-child(2) {
//     display: block; }
//   .recent-work-carousel[data-active-project="3"] .sliced-img-mask ul {
//     -webkit-transform: translateX(-200%);
//     -moz-transform: translateX(-200%);
//     -ms-transform: translateX(-200%);
//     -o-transform: translateX(-200%);
//     transform: translateX(-200%); }
//   .recent-work-carousel[data-active-project="3"] .recent-project-titles {
//     -webkit-transform: translateY(-200%);
//     -moz-transform: translateY(-200%);
//     -ms-transform: translateY(-200%);
//     -o-transform: translateY(-200%);
//     transform: translateY(-200%); }
//   .recent-work-carousel[data-active-project="3"] .bg-img-list {
//     -webkit-transform: translateY(-200%);
//     -moz-transform: translateY(-200%);
//     -ms-transform: translateY(-200%);
//     -o-transform: translateY(-200%);
//     transform: translateY(-200%); }
//   .recent-work-carousel[data-active-project="3"] .recent-project-links li:nth-child(3) {
//     display: block; }
//   .recent-work-carousel[data-active-project="4"] .sliced-img-mask ul {
//     -webkit-transform: translateX(-300%);
//     -moz-transform: translateX(-300%);
//     -ms-transform: translateX(-300%);
//     -o-transform: translateX(-300%);
//     transform: translateX(-300%); }
//   .recent-work-carousel[data-active-project="4"] .recent-project-titles {
//     -webkit-transform: translateY(-300%);
//     -moz-transform: translateY(-300%);
//     -ms-transform: translateY(-300%);
//     -o-transform: translateY(-300%);
//     transform: translateY(-300%); }
//   .recent-work-carousel[data-active-project="4"] .bg-img-list {
//     -webkit-transform: translateY(-300%);
//     -moz-transform: translateY(-300%);
//     -ms-transform: translateY(-300%);
//     -o-transform: translateY(-300%);
//     transform: translateY(-300%); }
//   .recent-work-carousel[data-active-project="4"] .recent-project-links li:nth-child(4) {
//     display: block; }
//   .recent-work-carousel[data-active-project="5"] .sliced-img-mask ul {
//     -webkit-transform: translateX(-400%);
//     -moz-transform: translateX(-400%);
//     -ms-transform: translateX(-400%);
//     -o-transform: translateX(-400%);
//     transform: translateX(-400%); }
//   .recent-work-carousel[data-active-project="5"] .recent-project-titles {
//     -webkit-transform: translateY(-400%);
//     -moz-transform: translateY(-400%);
//     -ms-transform: translateY(-400%);
//     -o-transform: translateY(-400%);
//     transform: translateY(-400%); }
//   .recent-work-carousel[data-active-project="5"] .bg-img-list {
//     -webkit-transform: translateY(-400%);
//     -moz-transform: translateY(-400%);
//     -ms-transform: translateY(-400%);
//     -o-transform: translateY(-400%);
//     transform: translateY(-400%); }
//   .recent-work-carousel[data-active-project="5"] .recent-project-links li:nth-child(5) {
//     display: block; }
//   .recent-work-carousel[data-active-project="6"] .sliced-img-mask ul {
//     -webkit-transform: translateX(-500%);
//     -moz-transform: translateX(-500%);
//     -ms-transform: translateX(-500%);
//     -o-transform: translateX(-500%);
//     transform: translateX(-500%); }
//   .recent-work-carousel[data-active-project="6"] .recent-project-titles {
//     -webkit-transform: translateY(-500%);
//     -moz-transform: translateY(-500%);
//     -ms-transform: translateY(-500%);
//     -o-transform: translateY(-500%);
//     transform: translateY(-500%); }
//   .recent-work-carousel[data-active-project="6"] .bg-img-list {
//     -webkit-transform: translateY(-500%);
//     -moz-transform: translateY(-500%);
//     -ms-transform: translateY(-500%);
//     -o-transform: translateY(-500%);
//     transform: translateY(-500%); }
//   .recent-work-carousel[data-active-project="6"] .recent-project-links li:nth-child(6) {
//     display: block; }
//
// .recent-project-links {
//   position: absolute;
//   top: 0;
//   height: 100%;
//   left: 30%;
//   width: 40%;
//   z-index: 201; }
//
// .recent-project-links li, .recent-project-links li a {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%; }
//
// .recent-project-links li {
//   display: none; }
//
// .recent-project-titles-mask {
//   overflow: hidden; }
//
// .recent-project-titles {
//   position: relative;
//   -webkit-transition: 0.85s cubic-bezier(0.7, 0.3, 0, 1) 0.19s;
//   -moz-transition: 0.85s cubic-bezier(0.7, 0.3, 0, 1) 0.19s;
//   transition: 0.85s cubic-bezier(0.7, 0.3, 0, 1) 0.19s; }
//   .recent-project-titles li:not(:first-child) {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%; }
//   .recent-project-titles li:nth-child(1) {
//     -webkit-transform: translateY(0%);
//     -moz-transform: translateY(0%);
//     -ms-transform: translateY(0%);
//     -o-transform: translateY(0%);
//     transform: translateY(0%); }
//   .recent-project-titles li:nth-child(2) {
//     -webkit-transform: translateY(100%);
//     -moz-transform: translateY(100%);
//     -ms-transform: translateY(100%);
//     -o-transform: translateY(100%);
//     transform: translateY(100%); }
//   .recent-project-titles li:nth-child(3) {
//     -webkit-transform: translateY(200%);
//     -moz-transform: translateY(200%);
//     -ms-transform: translateY(200%);
//     -o-transform: translateY(200%);
//     transform: translateY(200%); }
//   .recent-project-titles li:nth-child(4) {
//     -webkit-transform: translateY(300%);
//     -moz-transform: translateY(300%);
//     -ms-transform: translateY(300%);
//     -o-transform: translateY(300%);
//     transform: translateY(300%); }
//   .recent-project-titles li:nth-child(5) {
//     -webkit-transform: translateY(400%);
//     -moz-transform: translateY(400%);
//     -ms-transform: translateY(400%);
//     -o-transform: translateY(400%);
//     transform: translateY(400%); }
//   .recent-project-titles li:nth-child(6) {
//     -webkit-transform: translateY(500%);
//     -moz-transform: translateY(500%);
//     -ms-transform: translateY(500%);
//     -o-transform: translateY(500%);
//     transform: translateY(500%); }
//   .recent-project-titles li:nth-child(7) {
//     -webkit-transform: translateY(600%);
//     -moz-transform: translateY(600%);
//     -ms-transform: translateY(600%);
//     -o-transform: translateY(600%);
//     transform: translateY(600%); }
//   .recent-project-titles li:nth-child(8) {
//     -webkit-transform: translateY(700%);
//     -moz-transform: translateY(700%);
//     -ms-transform: translateY(700%);
//     -o-transform: translateY(700%);
//     transform: translateY(700%); }
//   .recent-project-titles li:nth-child(9) {
//     -webkit-transform: translateY(800%);
//     -moz-transform: translateY(800%);
//     -ms-transform: translateY(800%);
//     -o-transform: translateY(800%);
//     transform: translateY(800%); }
//   .recent-project-titles li:nth-child(10) {
//     -webkit-transform: translateY(900%);
//     -moz-transform: translateY(900%);
//     -ms-transform: translateY(900%);
//     -o-transform: translateY(900%);
//     transform: translateY(900%); }
//
// .recent-work-imagery {
//   height: 100%;
//   width: 100%; }
//   .recent-work-imagery .bg-img-wrap {
//     position: absolute;
//     left: 0;
//     top: 17%;
//     height: 66%;
//     width: 100%;
//     overflow: hidden; }
//     .recent-work-imagery .bg-img-wrap .bg-img-mask, .recent-work-imagery .bg-img-wrap .bg-img, .recent-work-imagery .bg-img-wrap .bg-img-list {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%; }
//     .recent-work-imagery .bg-img-wrap .bg-img-mask {
//       -webkit-transform: scale(1.1);
//       -moz-transform: scale(1.1);
//       -ms-transform: scale(1.1);
//       -o-transform: scale(1.1);
//       transform: scale(1.1); }
//   .recent-work-imagery .bg-img-list {
//     -webkit-transition: 0.65s cubic-bezier(0.7, 0.3, 0, 1) 0.18s;
//     -moz-transition: 0.65s cubic-bezier(0.7, 0.3, 0, 1) 0.18s;
//     transition: 0.65s cubic-bezier(0.7, 0.3, 0, 1) 0.18s; }
//     .recent-work-imagery .bg-img-list li {
//       width: 100%;
//       height: 100%;
//       background-repeat: no-repeat;
//       background-size: cover;
//       background-position: center center; }
//   .recent-work-imagery .sliced-images {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     left: 30%;
//     width: 40%; }
//     @media only screen and (max-width: 700px) {
//       .recent-work-imagery .sliced-images {
//         left: 0;
//         width: 100%; } }
//   .recent-work-imagery .sliced-img-mask {
//     position: absolute;
//     top: 0;
//     width: 50.1%;
//     height: 100%;
//     overflow: hidden; }
//     @media only screen and (max-width: 700px) {
//       .recent-work-imagery .sliced-img-mask:nth-child(1) {
//         -webkit-transform: translateY(-15px);
//         -moz-transform: translateY(-15px);
//         -ms-transform: translateY(-15px);
//         -o-transform: translateY(-15px);
//         transform: translateY(-15px); }
//       .recent-work-imagery .sliced-img-mask:nth-child(2) {
//         -webkit-transform: translateY(15px);
//         -moz-transform: translateY(15px);
//         -ms-transform: translateY(15px);
//         -o-transform: translateY(15px);
//         transform: translateY(15px); } }
//     .recent-work-imagery .sliced-img-mask ul {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       -webkit-transition: 0.65s cubic-bezier(0.7, 0.3, 0, 1);
//       -moz-transition: 0.65s cubic-bezier(0.7, 0.3, 0, 1);
//       transition: 0.65s cubic-bezier(0.7, 0.3, 0, 1);
//       -webkit-transform: translateX(0%);
//       -moz-transform: translateX(0%);
//       -ms-transform: translateX(0%);
//       -o-transform: translateX(0%);
//       transform: translateX(0%);
//       will-change: transform; }
//       .recent-work-imagery .sliced-img-mask ul li {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         width: 100%;
//         height: 100%;
//         overflow: hidden; }
//         .recent-work-imagery .sliced-img-mask ul li:nth-child(1) {
//           -webkit-transform: translateX(0%);
//           -moz-transform: translateX(0%);
//           -ms-transform: translateX(0%);
//           -o-transform: translateX(0%);
//           transform: translateX(0%); }
//         .recent-work-imagery .sliced-img-mask ul li:nth-child(2) {
//           -webkit-transform: translateX(100%);
//           -moz-transform: translateX(100%);
//           -ms-transform: translateX(100%);
//           -o-transform: translateX(100%);
//           transform: translateX(100%); }
//         .recent-work-imagery .sliced-img-mask ul li:nth-child(3) {
//           -webkit-transform: translateX(200%);
//           -moz-transform: translateX(200%);
//           -ms-transform: translateX(200%);
//           -o-transform: translateX(200%);
//           transform: translateX(200%); }
//         .recent-work-imagery .sliced-img-mask ul li:nth-child(4) {
//           -webkit-transform: translateX(300%);
//           -moz-transform: translateX(300%);
//           -ms-transform: translateX(300%);
//           -o-transform: translateX(300%);
//           transform: translateX(300%); }
//         .recent-work-imagery .sliced-img-mask ul li:nth-child(5) {
//           -webkit-transform: translateX(400%);
//           -moz-transform: translateX(400%);
//           -ms-transform: translateX(400%);
//           -o-transform: translateX(400%);
//           transform: translateX(400%); }
//         .recent-work-imagery .sliced-img-mask ul li:nth-child(6) {
//           -webkit-transform: translateX(500%);
//           -moz-transform: translateX(500%);
//           -ms-transform: translateX(500%);
//           -o-transform: translateX(500%);
//           transform: translateX(500%); }
//         .recent-work-imagery .sliced-img-mask ul li:nth-child(7) {
//           -webkit-transform: translateX(600%);
//           -moz-transform: translateX(600%);
//           -ms-transform: translateX(600%);
//           -o-transform: translateX(600%);
//           transform: translateX(600%); }
//         .recent-work-imagery .sliced-img-mask ul li:nth-child(8) {
//           -webkit-transform: translateX(700%);
//           -moz-transform: translateX(700%);
//           -ms-transform: translateX(700%);
//           -o-transform: translateX(700%);
//           transform: translateX(700%); }
//         .recent-work-imagery .sliced-img-mask ul li:nth-child(9) {
//           -webkit-transform: translateX(800%);
//           -moz-transform: translateX(800%);
//           -ms-transform: translateX(800%);
//           -o-transform: translateX(800%);
//           transform: translateX(800%); }
//         .recent-work-imagery .sliced-img-mask ul li:nth-child(10) {
//           -webkit-transform: translateX(900%);
//           -moz-transform: translateX(900%);
//           -ms-transform: translateX(900%);
//           -o-transform: translateX(900%);
//           transform: translateX(900%); }
//     .recent-work-imagery .sliced-img-mask:nth-child(1) {
//       left: 0; }
//       .recent-work-imagery .sliced-img-mask:nth-child(1) .sliced-img-wrap {
//         left: 0; }
//     .recent-work-imagery .sliced-img-mask:nth-child(2) {
//       right: 0; }
//       .recent-work-imagery .sliced-img-mask:nth-child(2) .sliced-img-wrap {
//         left: -100%; }
//   .recent-work-imagery .sliced-img-wrap {
//     position: absolute;
//     top: -15%;
//     width: 200%;
//     height: 130%; }
//   .recent-work-imagery .sliced-img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-repeat: no-repeat;
//     background-size: 115%;
//     background-position: center center; }

.home-scene {
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	height: 100%;
	// will-change: opacity;
}

.home-scene .home-scene-layers {
	-webkit-transition: -webkit-transform 1.35s cubic-bezier(0.7, 0.3, 0, 1) 0.1s;
	-moz-transition: -moz-transform 1.35s cubic-bezier(0.7, 0.3, 0, 1) 0.1s;
	transition: transform 1.35s cubic-bezier(0.7, 0.3, 0, 1) 0.1s;
	will-change: transform;
	overflow: hidden;
}

.home-scene .fog {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 2000px;
	height: 617px;
	margin-left: -1000px;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
@media only screen and (max-width: 1300px) {
	.home-scene .fog {
		-webkit-transform: scale(0.7);
		-moz-transform: scale(0.7);
		-ms-transform: scale(0.7);
		-o-transform: scale(0.7);
		transform: scale(0.7);
	}
}

.home-scene .fog::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	will-change: transform;
	-webkit-transform: translateX(-30%);
	-moz-transform: translateX(-30%);
	-ms-transform: translateX(-30%);
	-o-transform: translateX(-30%);
	transform: translateX(-30%);
	-webkit-transition: opacity 1s linear, -webkit-transform 15s linear;
	-moz-transition: opacity 1s linear, -moz-transform 15s linear;
	transition: opacity 1s linear, transform 15s linear;
	background: url("http://www.discoveroutpost.com/img/home-scene/tinified/fog.png") no-repeat center center;
}

.home-scene .fog[data-state="fade-out"]::before {
	opacity: 0;
}
// .home-scene .fog[data-state="pre-refresh"]::before {
//   opacity: 0;
//   -webkit-transform: translateX(-30%);
//   -moz-transform: translateX(-30%);
//   -ms-transform: translateX(-30%);
//   -o-transform: translateX(-30%);
//   transform: translateX(-30%);
//   -webkit-transition: 0s !important;
//   -moz-transition: 0s !important;
//   transition: 0s !important; }
.home-scene .fog[data-state="normal-speed"]::before {
	opacity: 0;
	-webkit-transition: opacity 1s linear, -webkit-transform 15s linear;
	-moz-transition: opacity 1s linear, -moz-transform 15s linear;
	transition: opacity 1s linear, transform 15s linear;
}

.mob-home-bg {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background: url("http://www.discoveroutpost.com/img/home-scene/tinified/mob-home-bg.jpg") no-repeat center center/cover;
}

html.touchevents .mob-home-bg {
	display: block;
}

html.touchevents .home-scene {
	display: none;
}

.home-scene-content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-transition: 0.22s linear;
	-moz-transition: 0.22s linear;
	transition: 0.22s linear;
	pointer-events: none;
}

.home-scene-content h3 {
	font-size: 24px;
	overflow: hidden;
}
@media only screen and (max-width: 800px) {
	.home-scene-content h3 {
		font-size: 24px;
		margin-top: -65px;
	}
}

.home-scene-content h3 span {
	-webkit-transform: translateY(105%);
	-moz-transform: translateY(105%);
	-ms-transform: translateY(105%);
	-o-transform: translateY(105%);
	transform: translateY(105%);
	will-change: transform;
	display: block;
	-webkit-transition: -webkit-transform 1.15s cubic-bezier(0.52, 0.01, 0.16, 1) 0.5s;
	-moz-transition: -moz-transform 1.15s cubic-bezier(0.52, 0.01, 0.16, 1) 0.5s;
	transition: transform 1.15s cubic-bezier(0.52, 0.01, 0.16, 1) 0.5s;
}

body[data-loaded="true"] .home-scene-content h3 span {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
	transform: translateY(0%);
}

.home-scene-content .vertically-centered-content {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	will-change: opacity;
}

.js-scroll-wrap {
	position: fixed;
	z-index: 9999;
	left: 50%;
	margin-left: -25px;
	bottom: 30px;
	-webkit-transition: 0.75s cubic-bezier(1, 0, 0, 1);
	-moz-transition: 0.75s cubic-bezier(1, 0, 0, 1);
	transition: 0.75s cubic-bezier(1, 0, 0, 1);
}

.js-scroll-wrap.abs-scroll-wrap {
	position: absolute;
}

html.touchevents .js-scroll-wrap {
	position: absolute;
	bottom: auto;
}

.js-scroll-wrap[data-active="off"] {
	-webkit-transform: translateY(80px);
	-moz-transform: translateY(80px);
	-ms-transform: translateY(80px);
	-o-transform: translateY(80px);
	transform: translateY(80px);
}
@media only screen and (max-width: 700px) {
	.home-scene {
		position: absolute;
		height: 100vh;
		width: 100%;
	}

	.home-scene-content {
		position: relative;
		height: 100vh;
		margin-bottom: 80px;
	}
}

html.touchevents .home-scene {
	position: absolute;
	height: 100vh;
	width: 100%;
}

html.touchevents .home-scene-content {
	position: relative;
	height: 100vh;
	margin-bottom: 80px;
}

.home-scene-img,
.home-scene-layers {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.home-scene-img {
	will-change: transform;
}

.home-scene-text h1 {
	/* position: absolute;
    bottom: 18vh;
    left: 0;
    right: 0;
    font-size: 20vw; */
	color: white;
	position: absolute;
	bottom: 18vh;
	left: 750px;
	right: 0;
	top: 295px;
	font-size: 5vw;
	text-align: left;
}

.standard-content-lockup.js-scroll-down-to h2 {
	color: white;
	text-align: center;
}

.standard-content-lockup.js-scroll-down-to p {
	color: white;
	text-align: center;
}
// .all-home-scene {
//   background: url("http://www.discoveroutpost.com/img/home-scene/all-home-scene.jpg") no-repeat center center/cover; }
//
// .home-scene-bg {
//   background: url("http://fff.marketsouth.co.nz/img/Home-Page-Image_3.png") no-repeat center center/cover; }
//
// .home-scene-mid-ground {
//   background: url("http://fff.marketsouth.co.nz/img/Home-Page-Image_2.png") no-repeat center center/cover; }
//
// /* .home-scene-mid-mountains {
//   background: url("http://www.discoveroutpost.com/img/home-scene/tinified/mid-mountains.png") no-repeat center center/cover; } */
//
// .home-scene-mountains {
//   background: url("http://fff.marketsouth.co.nz/img/Home-Page-Image_1.png") no-repeat center center/cover; }

.home-scene-light {
	position: absolute;
	top: 50%;
	left: 50%;
}

.home-scene-light .beacon {
	width: 3px;
	height: 26px;
	margin: -13px 0 0 -6px;
	will-change: transform;
	-webkit-animation: hovering-beacon 3.6s forwards cubic-bezier(0.38, -0.32, 0.89, 0.34) infinite;
	-moz-animation: hovering-beacon 3.6s forwards cubic-bezier(0.38, -0.32, 0.89, 0.34) infinite;
	animation: hovering-beacon 3.6s forwards cubic-bezier(0.38, -0.32, 0.89, 0.34) infinite;
}

.home-scene-light .beacon::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	-webkit-transform: skew(-34deg);
	-moz-transform: skew(-34deg);
	-ms-transform: skew(-34deg);
	-o-transform: skew(-34deg);
	transform: skew(-34deg);
}

.home-scene-light .beacon::after {
	content: '';
	width: 36px;
	height: 30px;
	margin: 8px 0 0 -24px;
	background: radial-gradient(rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 50%);
	position: absolute;
	-webkit-animation: flickering 0.25s forwards infinite;
	-moz-animation: flickering 0.25s forwards infinite;
	animation: flickering 0.25s forwards infinite;
}

.home-scene-light .glow {
	position: absolute;
	left: 0;
	bottom: -40px;
	width: 80px;
	height: 20px;
	margin: 8px 0 0 -45px;
	background: radial-gradient(rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 50%);
	position: absolute;
	-webkit-animation: flickering 0.25s forwards infinite;
	-moz-animation: flickering 0.25s forwards infinite;
	animation: flickering 0.25s forwards infinite;
}

.home-content {
	width: 100%;
	z-index: 10;
	position: relative;
}
@media (min-width: 768px) and (max-width: 1024px) {

	.standard-content-lockup.js-scroll-down-to {
    display: none;
		}

	.home-scene-img {
		will-change: transform;
		display: none;
	}

	.home-scene.js-home-fadeout {
		background: url("/assets/images/template/Home-Page-GIF.gif") no-repeat center center/cover;
		height: 0;
		padding-top: 100%;
	}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

	.standard-content-lockup.js-scroll-down-to {
    display: none;
}

	.home-scene-img {
		will-change: transform !important;
		display: none !important;
	}

	.home-scene.js-home-fadeout {
		background: url("/assets/images/template/Home-Page-GIF.gif") no-repeat center center/cover !important;
		height: 0;
		padding-top: 100%;
	}
}
@media (min-width: 481px) and (max-width: 767px) {

	.standard-content-lockup.js-scroll-down-to {
    display: none;
}

	.home-scene-img {
		will-change: transform !important;
		display: none !important;
	}

	.home-scene.js-home-fadeout {
		background: url("/assets/images/template/Home-Page-GIF.gif") no-repeat center center/cover !important;
		height: 0;
		padding-top: 100%;
	}
}
@media (min-width: 320px) and (max-width: 480px) {
	.super_container {
		height: 60vh;
	}
	.standard-content-lockup.js-scroll-down-to {
		display: none;
		&.mobile-view {
			width: 100%;
			h2, p {
				color: #000;
			}
			&.xs {
				display: block;
			}
		}
	}
	.standard-content-lockup.js-scroll-down-to.mobile-view.lg {
    display: none !important;
}
	.home-scene-img {
		will-change: transform !important;
		display: none !important;
	}

	.home-scene.js-home-fadeout {
		background: url("/assets/images/template/Home-Page-GIF.gif") no-repeat center center/cover !important;
		height: 0;
		padding-top: 100%;
	}
}
