.latestNewsWrapper {
	// margin: 50px 0 70px 0;
	margin-top: 120px;
    padding: 60px 0 60px 60px;
	// padding: 60px 0 60px 60px;
  background: white;

	&.xs {
		padding: 0;
	}

	.listHeading {
		// border-bottom:1px solid $secondaryLightColour;
		// margin: 0 0 40px 0;
		margin: 0 0 40px 15px;
		padding: 0 0 5px 0;
		font-size: 1.2em;
	}
	.link,
	.title,
	.meta,
	.excerpt {
		text-align: left;
	}
	.title {
		// height: 75px;
		overflow: hidden;
	}
	.meta {
		height: 40px;
		overflow: hidden;
	}
	.excerpt {
		height: 120px;
		overflow: hidden;
	}
	.latestNewsExcerptWrapper {
		padding-top:15px;
		margin-top: 35px;
		transition: all $transitionTimeFast;

		&.link:hover {
			opacity: $opacityDark;
			cursor:pointer;
		}

		&:first-child {
			border-top:none;
			padding-top:0px;
			margin-top:0px;
		}

		.image {
			height:270px;
			border-bottom:3px solid $primaryColour;
		}

		.meta {
			color: $secondaryColour;
			border:1px solid $secondaryLightColour;
			border-top:none;
			padding: 10px;
			font-size: .8em;

			.categories, .date, .tags {

				i {
					margin:0 5px 0 0;
				}

				&.xs {
					float:none;
					text-align: left;
				}
			}

			.categories, .tags {
				margin: 0 0 0 15px;

				a {
					color: $secondaryColour;

					&:hover {
						text-decoration: underline;
					}

					&.active {
						color:$primaryColour;
					}
				}
			}
		}

		.excerpt {
			margin:0 0 15px 0;
		}

		.readMore {
			margin:0 0 30px 0;
		}
	}

	.paginationWrapper {
		padding-top: 60px;

		a {

			&.prev {

			}

			&.next {

			}
		}
	}

	.latestNewsSidebarWrapper {
		text-align: justify;

		.sidebarBlock {
			margin:0 0 10px 0;

			&:first-child {
				margin-top:0px;
			}

			.heading {
				font-size:1em;
				color: $primaryColour;
				border-bottom:2px solid #000;
				padding: 0 0 10px 0;
				margin: 0 0 15px 0;
				font-family:$primaryFont;
				transition: all 1s linear;
				i {
					margin:0 5px 0 0;
				}
			}

			ul {
				list-style-type: none;
				padding:0px;

				li {

					&:last-child {

						a {
							border-bottom:none;
						}
					}
					a {
						border-bottom:1px solid $secondaryLightColour;
						transition:all $transitionTimeFast;
						color:$secondaryColour;
						font-size: .9em;
						display: block;
						padding: 7px 0;
						text-decoration: none;

						&:hover, &.active {
							border-color: $primaryColour;
							color: $primaryColour;
						}
					}
				}
			}

			.panel-group {

				.panel {
					border: none;
					box-shadow:none;

					.panel-heading {
						border:none;
						color: $primaryColour;
						background: none;
						padding:0 0 5px 0;
						font-size:1em;

						a {
							text-decoration: none;

							&:active, &:focus, &:hover {
								text-decoration: none;
							}

							&.collapsed {
								color: $secondaryColour;
							}
						}
					}

					.panel-body {
						padding:0px;
						border: none;
						border-top:1px solid $secondaryLightColour;

						&.in {
							border-top:1px solid $primaryColour;
						}
					}
				}
			}

			&.tags {

				.tag {
					background:$secondaryLightColour;
					color:$secondaryDarkColour;
					display: inline-block;
					display: inline-block;
					font-size: .8em;
					float: left;
					padding: 3px 8px;
					border-radius: 14px;
					margin: 0 8px 7px 0;
					transition:all $transitionTimeFast;

					&:hover, &.active {
						background:$primaryColour;
						color: $whiteColour;
					}
				}
			}
		}
	}


	.latestSingleWrapper {

		.container {
			width: 100%;
		}

		[class*="col-"] {
			width:100%;
			margin-left:0px;
			margin-right:0px;
			padding-left:0px;
			padding-right:0px;
		}

		[class*="offset"] {

		}
		.sectionCenterAlign {
			padding: 0;
		}
		.relatedStaffWrapper {

			& > [class*="col-"] {
				padding-left:15px;
				padding-right:15px;
				width:inherit;
			}
		}
	}
}

.readMoreBtn {
	 display: inline-block;
    border-radius: 0px;
    /* background: #e3e3e3; */
    font-weight: bold;
    color: #000000;
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 12px 45px;
    position: relative;
    margin: 0 15px 15px 0;
    transition: all 0.2s;

		&:hover{

    color: #ffffff;
    background: #000000;
		    text-decoration: none;
		}

		i {
			font-size: 16px;
			vertical-align: middle;
		}
}

.link {
    margin-bottom: 60px;
}
a.latest-filter {
	color: #939598;
	text-decoration: none;
	font-family:$primaryFont;
	margin-right: 12px;
	// font-size: 22px;
	font-size: 25px;
	&.active {
		font-weight: 900;
		color: #000000;
		border-bottom: 2px solid;
		padding-bottom: 8px;
	}
}
