.searchResultsWrapper {

	.searchResultWrapper {
		border-top:1px solid $secondaryLightColour;
		margin: 15px 0 35px 0;
		padding: 10px 0 0 0;

		&:first-child {
			border:none;
		}  

		&:hover, &:active, &:focus {   
    
			* {
				opacity: $opacityDark;
			}

			.title, .readMore {
				color: $primaryColour;  
			}
		}  
   
		a {
			margin:10px 0 100px 0;

			.title { 
				color: $primaryColour !important;  
			} 

			.description {
				color: $blackColour; 

				.keyword {
					font-style: italic;   
					font-weight: 400; 
					color: $primaryColour;    
				} 
			}
 
			.readMore {
				font-style: italic;
				display: block;
				margin:10px 0 0 0;
				font-size: .8em;
				color: $primaryColour;
			}
		}
	}
}