<!-- Icon Block -->
<div class="pl-12 pb-32 md:pl-16 mt-16 w-full h-full lg:pl-20 lg:pr-4 justify-center grid gap-2 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 text-135 font-light aos-init aos-animate">
{% for block in IconBlocks.children.all() %}

  {% include '_includes/_neo/Builders/BodyBuilder/FullWidth/IconBlocks/' ~ block.type.handle with {
    (block.type.handle): block
  } %}

{% endfor %}
  </div>
<!-- End of Icon Block -->
