<!-- Our Story Block -->
<section class="w-full">
  <!-- Full Width Background Image -->
  <section class="w-full flex flex-col sm:flex-row pl-12 sm:pl-0 py-24">
      {% for i, story in StoryBlocks.storyBlocks.all() %}
      {% set image = story.storyFullIamge.one() %}
      {% if image != ''%}
        <img class="w-full object-cover px-6 sm:px-0 flex-shrink-0 ourStoryFullWidthImage" src="{{ image.url }}" alt="">
        {% endif %}
      {% endfor %}
  </section>
  <!-- storycarousel Start-->
  <div class="storycarousel w-full">
    <div id="storycarouselExampleIndicators" class="storycarousel slide" data-ride="storycarousel">
        <div class="storycarousel-inner relative" role="listbox">
          {% for i, story in StoryBlocks.storyBlocks.all() %}
            {% if story.type == 'blockContent' %}
            <div class="storycarousel-item relative {{ (i == 0) ? 'active' : ''}}">
              <div class="grid grid-cols-1 lg:grid-cols-2 bg-light">
                {% set image = story.storyFeatureImg.one() %}
                <img data-aos="fade-right" data-aos-anchor-placement="top-bottom" class="w-full object-cover" src="{{ image.url }}" alt=""/>
                <div class="flex flex-col">
                  <div class="pl-12 md:pl-16 lg:pl-0 grid grid-cols-1 lg:grid-cols-2">
                    <h2 data-aos="fade-left" data-aos-anchor-placement="top-bottom" class="p-color text-3xl leading-66 font-light py-4 px-8 lg:mt-12 lg:ml-12">
                      {{ story.storyHeading }}
                    </h2>
                    <div class="flex-col lg:mt-12 lg:mr-12 text-base tracking-wider leading-snug">
                      <div data-aos="fade-left" data-aos-anchor-placement="top-bottom" data-aos-duration="650" class="pt-4 px-8 flex-1 mb-8">
                        {{ story.storySubIntroduction }}
                      </div>
                      <div data-aos="fade-left" data-aos-anchor-placement="top-bottom" data-aos-duration="700" class="text-xs pb-4 px-8 flex-1">
                        {{ story.storyHistory }}
                      </div>
                    </div>
                  </div>

                  <div class="w-full pl-12 md:pl-16 my-10">
                    <div class="px-20 flex justify-end">
                      <a class="storycarousel-control-prev z-20" href="#storycarouselExampleIndicators" role="button" data-slide="prev">
                        <span class="storycarousel-control-prev-icon" aria-hidden="true">
                          <i class="uil uil-arrow-left text-4xl p-color"></i>
                        </span>
                        <span class="sr-only">Prev</span>
                      </a>
                      <a class="storycarousel-control-next z-20" href="#storycarouselExampleIndicators" role="button" data-slide="next">
                        <span class="storycarousel-control-next-icon" aria-hidden="true">
                          <i class="uil uil-arrow-right text-4xl p-color"></i>
                        </span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}

        </div>
    </div>
  </div>
  <!-- storycarousel End -->
</section>
