{% set entries = craft.entries.section('products').relatedTo(category).all()|sort  %}
{% for entry in entries %}
  <!-- Product Start -->
  {% if entry.australianProductCategory['2']  is not defined %}
  <a class="product block w-full flex flex-col justify-between items-center xl:items-start" href="{{entry.url}}">
    <div class="w-full">
        <div class="w-full profile overflow-hidden relative">
          {% for i, block in entry.productVariants.all() %}
          {% set prodImg = block.productImages %}
            {% if prodImg != '' and prodImg.one() != null %}
            <img class="absolute top-0 w-full h-full object-cover product-range" src="{{ prodImg.one().url }}" alt="" />
            {% endif %}
          {% endfor %}
        </div>
        <p class="pt-3 mb-1 text-base uppercase font-medium tracking-wider">
          {{ entry.productDescription }}
        </p>
    </div>
    <div class="w-full">
      <span class="view-collection text-xs md:text-sm"
        >View Collection</span>
    </div>
  </a>
  {% endif %}
  <!-- Product End -->
{% endfor %}
{% if category.hasDescendants() %}
    {% set childCategories = category.getDescendants().level(3).all() %}
    {% for cat in childCategories %}
      <!-- Product Start -->
      <a class="product block w-full flex flex-col justify-between items-center xl:items-start" href="{{cat.url}}">
        <div class="w-full">
            <div class="w-full profile overflow-hidden relative">
              {% if cat.categoryImage.one() %}
                <img class="absolute top-0 w-full h-full object-cover product-range" src="{{ cat.categoryImage.one().url }}" alt="" />
              {% endif %}
            </div>
            <p class="pt-3 mb-1 text-base uppercase font-medium tracking-wider">
              {{ cat.title }}
            </p>
        </div>
        <div class="w-full">
          <span class="view-collection text-xs md:text-sm"
            >View Collection</span>
        </div>
      </a>
      <!-- Product End -->
    {% endfor %}
{% else %}
    <a class="product block w-full flex flex-col justify-between items-center xl:items-start" href="">No Data found</a>
{% endif %}
