{% extends '_layouts/base' %}


{% block bodyContent %}

	{{ parent() }}

	{#{% include '_includes/_neo/Builders/Finishes' with {
		'neo': entry.Finishes
	} %}#}

<div class="w-full pl-12 md:pl-16">


	{% for image in globalBlackLogo.logo.all() %}
		<div id="logo" class="w-full absolute top-0">
			<a href="{{ url('') }}">
				<img class="pt-8 sm:pl-20 mx-auto sm:mx-0 w-48 sm:w-64" src="{{ image.getUrl() }}" alt="Windsor logo"/>
			</a>
		</div>
	{% endfor %}


	<section class="w-full flex flex-col justify-center items-center pt-32 px-6 py-12">
<h1 data-aos="fade-up" class="leading-tight text-4xl md:text-5xl font-hairline text-center mb-6">
		Product Categories
</h1>

{# Create a category query with the 'group' parameter #}
{% set myCategoryQuery = craft.categories().group('australianProductCategories').level(1).all() %}

{# Display the navigation #}
<div data-aos="fade-up" data-aos-duration="600" class="mt-16 w-full lg:px-24 grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
{% for category in myCategoryQuery %}
<!-- Product Start -->
<a class="product block w-full flex flex-col justify-between"  href="{{ category.url }}" >
 <div>
	 <!-- Image Box -->
	 <div class="relative image-box">
		 <!-- Default Image -->
		 {% if category.categoryImage[0] is defined %}
			 <img class="w-full object-cover"  src="{{  category.categoryImage[0].url }}" alt=""/>
			 <!-- Image on Hover -->
			 <img class="hovered-img absolute top-0 left-0 w-full object-cover"  src="{{  category.categoryImage[1].url }}" alt="" />
		 {% endif %}
	 </div>
	 <p  class="pt-3 text-base uppercase font-medium tracking-wider mb-1" >
		 {{ category.title }}
	 </p>
 </div>
 <span class="view-collection text-xs md:text-sm">View Collection</span>
</a>
<!-- Product End-->
{% endfor %}
</div>
</section>
</div>

{% endblock %}
