{% extends '_layouts/base' %}


{% block bodyContent %}

	{{ parent() }}
  <div class="w-full pl-12 md:pl-16">


  	{% for image in globalBlackLogo.logo.all() %}
  		<div id="logo" class="w-full">
  			<a href="{{ url('') }}">
  				<img class="pt-8 sm:pl-20 mx-auto sm:mx-0 w-48 sm:w-64" src="{{ image.getUrl() }}" alt="Windsor logo"/>
  			</a>
  		</div>
  	{% endfor %}

<section class="w-full xl:w-1/2 xl:px-24 xl:pt-32 pt-12 pb-12">
<ul class="font-normal flex flex-wrap text-xs tracking-widest mb-12 px-6 lg:px-0">
  <li>
    <a href="/au/products" class="text-gray">Product Category</a>
  </li>
  <li>
    <a href="javascript:void(0);" class="font-base p-color">
      <i class="uil uil-angle-right"></i>
    </a>
  </li>
  <li>
    <a href="/au/product-categories/{{entry.australianProductCategory[0].slug}}" class="text-gray">{{ entry.australianProductCategory[0].title }}</a>
  </li>
	{% if entry.australianProductCategory[1] is defined %}
	<li>
		<a href="javascript:void(0);" class="font-base p-color">
			<i class="uil uil-angle-right"></i>
		</a>
	</li>
	<li>
    <a href="/au/product-categories/{{entry.australianProductCategory[0].slug}}" class="text-gray">{{ entry.australianProductCategory[1].title }}</a>
  </li>
	{% endif %}
	{% if entry.australianProductCategory[2] is defined %}
		<li>
			<a href="javascript:void(0);" class="font-base p-color">
				<i class="uil uil-angle-right"></i>
			</a>
		</li>
		<li>
	    <a href="/au/product-categories/{{entry.australianProductCategory[2].slug}}" class="text-gray">{{ entry.australianProductCategory[2].title }}</a>
	  </li>
	{% endif %}
	{% if entry.australianProductCategory[3] is defined %}
		<li>
			<a href="javascript:void(0);" class="font-base p-color">
				<i class="uil uil-angle-right"></i>
			</a>
		</li>
		<li>
	    <a href="/au/product-categories/{{entry.australianProductCategory[3].slug}}" class="text-gray">{{ entry.australianProductCategory[3].title }}</a>
	  </li>
	{% endif %}
	<li>
		<a href="javascript:void(0);" class="font-base p-color">
			<i class="uil uil-angle-right"></i>
		</a>
	</li>
	<li>
		<a href="javascript:void(0);" class="text-gray" > {{ entry.productDescription }} </a>
	</li>
</ul>

{% set viewSlider = [] %}
{% for i, ent in  entry.productVariants.all() %}
	{% set swatchTitle = '' %}
	{% set prodImg = '' %}
	{% set swatchStock = '' %}

		{% if  ent.swatches != '' and ent.swatches[0] is defined %}
				{% set swatchTitle = ent.swatches[0].title %}
		{% endif %}
		{% set swatchStock = ent.stockcode %}

		{% set prodImg = ent.productImages %}

		{% set viewSlider = viewSlider|merge([{ swatchTitle:  swatchTitle, prodImg: prodImg, swatchStock: swatchStock}]) %}

{% endfor %}

<div class="xl:absolute top-0 right-0 w-full xl:w-1/2 mb-48 xl:pl-32">
  <!-- Carousel Start-->
  <div class="carousel w-full mb-6">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
          <ol class="carousel-indicators-gallery flex flex-row">

        {% for i, ent in viewSlider|sort((a, b) => a.swatchTitle <=> b.swatchTitle) %}
          <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" class="{{ (loop.index0==0) ? 'active': ''}}">
						{% if '-PC' in ent.swatchStock %}
							<img class="d-block img-fluidly object-cover" src="/assets/images/template/Colour-Swatches_web.png" width="100%" alt="First slide">
            {% elseif ent.prodImg != '' and ent.prodImg.one() != null %}
              <img class="d-block img-fluidly object-cover" src="{{ ent.prodImg.one().url }}" width="100%" alt="First slide">
						{% else %}
							<img class="d-block img-fluidly object-cover" src="/assets/images/template/Products_Image_Not_Available.png" width="100%" alt="First slide">
            {% endif %}
            <!-- Thumbnail Caption Start -->
            <div class="opacity-0 lg:hover:opacity-100 w-full h-full p-back-80 absolute left-0 bottom-0 flex justify-center items-center">
              {% if ent.swatchTitle != '' and ent.swatchTitle is defined %}<p class="w-full text-white text-center p-2 break-words text-sm">{{ ent.swatchTitle }}</p>{%endif%}
            </div>
            <!-- Thumbnail Caption End -->
          </li>
        {% endfor %}
      </ol>

      <div class="cursor-pointer carousel-inner relative" role="listbox">
        <div id="modalOpen" onclick="openModal()" class="flex justify-center items-center">
          <i class="uil uil-expand-arrows text-white text-2xl"></i>
        </div>
            {% for i, ent in viewSlider|sort((a, b) => a.swatchTitle <=> b.swatchTitle) %}
              <div class="carousel-item relative {{ (loop.index0==0) ? 'active': ''}}">
								{% if '-PC' in ent.swatchStock %}
									<img class="d-block img-fluidly object-contain p-20" src="/assets/images/template/Colour-Swatches_web.png" width="100%" alt="First slide">
		            {% elseif ent.prodImg != '' and ent.prodImg.one() != null %}
                  <img class="d-block img-fluidly object-contain p-20" src="{{ ent.prodImg.one().url }}" width="100%" alt="First slide">
								{% else %}
										<img class="d-block img-fluidly object-contain p-20" src="/assets/images/template/Products_Image_Not_Available.png" width="100%" alt="First slide">
                {% endif %}
              {% if ent.swatchTitle != '' and ent.swatchTitle is defined %}  <p id="main-caption{{i}}" class="p-back-80 absolute bottom-0 left-0 w-full text-white text-center p-2 uppercase truncate">{{ ent.swatchTitle }}</p>{%endif%}
              </div>
              {#<div class="carousel-item relative">
                <img class="d-block img-fluidly object-cover" src="/assets/images/Products/Show_On_Hover.png" width="100%" alt="First slide">
              </div>#}
            {% endfor %}
        <!-- Caption ~ Main -->

        <!-- Caption -->
      </div>
      <a class="carousel-control-prev custom-prev-one z-20" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next custom-next-one z-20" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!-- Carousel End -->
</div>

{# <h1 class="text-4xl sm:text-5xl font-hairline px-6 lg:px-0 mb-8">
  {{ category.title }}
</h1> #}
<h1 class="text-4xl sm:text-5xl font-hairline px-6 lg:px-0 mb-8">
  {{ entry.productDescription }}
</h1>

<!-- Product Code -->
<h1 class="tracking-widest mx-6 lg:mx-0 pr-6 py-1 mb-6 border-b text-sm font-normal">
  Product Code:{{entry.title}}
</h1>

{# <p class="text-base font-light tracking-wider px-6 lg:px-0 mb-6">
  {{ entry.productDescription|striptags }}
</p> #}
<p class="text-base font-light tracking-wider px-6 lg:px-0 mb-6">
  {{ entry.salesHtml|striptags }}
</p>
{# <p class="text-xs font-light tracking-wider px-6 lg:px-0 mb-6">

  {{ entry.salesHtml|striptags }}
</p> #}
<!-- Features -->
{% set features = entry.features.all() %}
{% if features|length > 0 %}
  <h1 class="tracking-widest font-bold p-color uppercase px-6 lg:px-0 pt-6">
    FEATURES AND BENEFITS
  </h1>

  <ul class="mt-6 px-6 lg:px-0 mb-16">
    {% for feature in features %}
      <li class="text-xs font-light tracking-wider mb-1">
        -
        {{ feature.feature }}
      </li>
    {% endfor %}
  </ul>
{% endif %}

<!-- Fitting Instruction & How to buttons -->
{% set relatedFittingInstructions = craft.entries.section('fittingInstructions').relatedTo({targetElement: entry, field: 'fittingInstructionsLink'}) %}

{% if relatedFittingInstructions is defined %}

  {%- for video in relatedFittingInstructions.all() -%}
    <div class="fitting-button px-6 lg:px-0 mb-8 text-xs">
       <a class="fitting" href="/au/installation?slug={{ video.slug }}#fitting-instructions">Fitting Instructions</a>
    </div>
  {%- endfor -%}
{% endif %}
{% set relatedVideo = craft.entries.section('howToVideos').relatedTo({
		 targetElement: entry,
		 field: 'howToVideolink'
 }) %}

 {% if relatedVideo is defined %}

	 {%- for video in relatedVideo.all() -%}
		 {% if video.embedUrl is not empty %}
		 <div class="px-6 lg:px-0 how-to-button text-xs">
		 <a class="how-to" href="/au/installation?slug={{ video.slug }}#how-to-videos">How to</a>

		 </div>
		 {% endif %}
	 {%- endfor -%}

 {% endif %}

<!-- Finishes Data -->

<div class="px-6 lg:px-0  custom-grid gap-4 align-center items-center mt-12 p-color text-xs sm:text-base font-bold uppercase tracking-wider">
  <!-- Headings -->
  <h1>Finish Options</h1>
	<h1>Code</h1>
  <h1>RRP(NZD)</h1>
  <h1>Lead Time</h1>
</div>
{% set viewSwatches = [] %}
{% for i, ent in  entry.productVariants.all() %}
	{# <div  > #}
	{% set swatchTitle = '' %}
	{% set swatchImg = '' %}
	{% set swatchStock = '' %}
	{% set swatchRrp = '' %}
	{% set swatchLeadTime = '' %}


		{% if  ent.swatches != '' and ent.swatches[0] is defined %}
				{% set swatchImg = ent.swatches[0].swatchImage %}
				{% set swatchTitle = ent.swatches[0].title %}
		{% endif %}
		{% set swatchStock = ent.stockcode %}
		{% set swatchRrp = '$' ~ ent.rrp|number_format(2)  %}
		{% if ent.leadTime != '' and ent.leadTime != null %}
			{% set swatchLeadTime = ent.leadTime %}
		{% else %}
			{% set swatchLeadTime = '--' %}
		{% endif %}

		{% set viewSwatches = viewSwatches|merge([{ swatchTitle:  swatchTitle, swatchImg: swatchImg, swatchStock: swatchStock, swatchRrp: swatchRrp, swatchLeadTime: swatchLeadTime}]) %}

{% endfor %}


<div class="px-6 lg:px-0 custom-grid gap-4 items-center mt-6 text-xs tracking-wider">
  {% for i, ent in viewSwatches|sort((a, b) => a.swatchTitle <=> b.swatchTitle) %}
    {# <div  > #}



			<a class="flex flex-col items-start md:flex-row md:items-center" href="#" data-target="#carouselExampleIndicators" data-slide-to="{{i}}" >

			{% set swatchImg = ent.swatchImg %}
        {% if swatchImg != '' and swatchImg.one() != null  %}
          <img class="flex-shrink-0 w-1/2 md:w-1/4 lg:w-12 mb-2 md:mr-2 rounded-full di" src="{{swatchImg.one().url}}" alt=""/>
					{% else %}
					<img class="flex-shrink-0 w-1/2 md:w-1/4 lg:w-12 mb-2 md:mr-2 rounded-full di" src="/assets/images/template/Swatches_Image_Not_Available.png" width="100%" alt="First slide">
        {% endif %}
        <p class="di">{{ ent.swatchTitle }}</p>
      </a>
    {# </div> #}
		<!-- stockcode -->
		<p>{{ ent.swatchStock}}</p>
    <!-- RRP Data -->
    <p>{{ ent.swatchRrp }}</p>
		<p>{{ ent.swatchLeadTime }}</p>

  {% endfor %}
</div>
<!-- Data Row One -->
<!-- Finish Colors -->

<!-- Modal -->

<div class="modal fixed z-30 top-0 right-0 bottom-0 w-full h-screen hidden">
  <div class="relative">
    <div onclick="closeModal()" class="absolute cross z-30 p-4 cursor-pointer">
      <svg class="h-6 w-6" width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L13 13M1 13L13 1L1 13Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

    </div>
    <!-- Carousel Start-->
    <div class="carousel z-10 w-full h-screen overflow-hidden absolute z-10">
      <div id="carouselExampleIndicators2" class="carousel slide" data-interval="false">
        <div class="carousel-inner" role="listbox">
            {% for i, ent in viewSlider|sort((a, b) => a.swatchTitle <=> b.swatchTitle) %}
              <div class="carousel-item bg-white h-screen relative {{ (i == 0) ? 'active' : '' }}">
								{% if '-PC' in ent.swatchStock %}
									<img class="d-block object-contain" src="/assets/images/template/Colour-Swatches_web.png" width="100%" alt="First slide">
		            {% elseif ent.prodImg != '' and ent.prodImg.one() != null %}
									<img class="d-block img-fluid object-contain" src="{{ ent.prodImg.one().url }}" width="100%" alt="First slide">
								{% else %}
										<img class="d-block object-contain" src="/assets/images/template/Products_Image_Not_Available.png" width="100%" alt="First slide">
								{% endif %}
								{% if  ent.swatchTitle != '' and ent.swatchTitle is defined %}
                	<p  class="p-back-80 absolute bottom-0 left-0 w-full text-white text-center p-2 uppercase truncate">{{ ent.swatchTitle }}</p>
								{% endif %}
              </div>
              {#<div class="carousel-item relative">
                <img class="d-block img-fluidly object-cover" src="/assets/images/Products/Show_On_Hover.png" width="100%" alt="First slide">
              </div>#}
            {% endfor %}

          <!-- Caption -->
        </div>
        <a class="carousel-control-prev custom-prev-two" href="#carouselExampleIndicators2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next custom-next-two" href="#carouselExampleIndicators2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!-- Carousel End -->
  </div>

</div>
</section>
</div>
 {% endblock %}
 {% block customJs %}
 <script type="text/javascript">
 		/*$(".custom-prev-one").on("click", function(){
			$(".custom-prev-two").click();
		});
		$(".custom-next-one").on("click", function(){
			$(".custom-next-two").click();
		});*/

		$('#carouselExampleIndicators').on('slid.bs.carousel', function() {
		   let currentIndex = $('#carouselExampleIndicators').find('.carousel-item.active').index();
			 $("#carouselExampleIndicators2").find('.carousel-item').removeClass('active');
			 $("#carouselExampleIndicators2").find('.carousel-item').eq(currentIndex).addClass('active');
			 //alert("small:"+ currentIndex);
			 //alert("bif:"+  $('#carouselExampleIndicators2').find('.carousel-item.active').index());

		});

	</script>
 {% endblock %}
