<div id="logo" class="relative w-full h-screen">
    <!-- Carousel Start-->


    <!--<iframe width="100%" height="100%" src="{{ Video.embedUrl }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->



	{% set videoId = Video.embedUrl|replace('/.+watch\\?v=(.+)/', '$1') %}

	<div class='videoBannerWrapper bodyBuilderComponent'>

		<div class="videoWrapper">
			<div class="video">
				<div
					id="player1"
					class="youtubeVideoEmbed"
					videoId="{{ videoId }}"
					videoHeight="800"
				></div>
			</div>
		</div>

		<div class="overlay">
			<div class="playButton">
				<div class="blueImpLinkSet">
					<a
						href="{{ Video.embedUrl }}"
						data-gallery="#blueimp-gallery"
						data-youtube="{{ videoId }}"
						data-poster="https://i.ytimg.com/vi/{{ videoId }}/maxresdefault.jpg"
						type="text/html"
					>
						<img src="/assets/images/play-button.png" class='img-responsive' />
					</a>
				</div>
			</div>

		</div>

	</div>


    <!-- Carousel End -->
    {% for image in globalWhiteLogo.logo.all() %}
      <div class="index-logo absolute top-0 w-full pl-16">
        <a href="{{ url('') }}">
          <img class="pt-8 sm:pl-20 w-48 sm:w-64 mx-auto sm:mx-0 flex-shrink-0" src="{{ image.getUrl() }}" alt="Windsor logo"/>
        </a>
      </div>
    </div>
  {% endfor %}
