<!-- Group -->
<div class="relative mb-2px w-full">
  <input class="opacity-0 absolute w-full h-10 cursor-pointer" type="checkbox" name="accordion"/>
  <div class="plus-minus flex justify-between items-center md:text-lg uppercase font-base">
    <div class="py-2 font-medium">{{ WarrantyExpandSection.heading }}</div>
    <div class="relative">
      <span class="minus">-</span><span class="plus">+</span>
    </div>
  </div>
  <div class="expand w-full">
    <!-- Expand Start -->
    <div class="w-full py-4 pink-border-b">
      <h3 class="text-base capitalize font-base font-medium mb-2">
        {{ WarrantyExpandSection.plainText }}
      </h3>
      <div class="text-sm warranty-list">
        {{ WarrantyExpandSection.richtext }}
      </div>
      <!-- Expand End -->
    </div>
  </div>
</div>
  <!-- Group End -->
