 <!-- How to section -->
      <section  class="w-full flex flex-col justify-center items-center px-6 py-10">
        <h1 data-aos="fade-up" class="text-4xl font-hairline text-center">
          How To Videos
        </h1>

        <div data-aos="fade-up" data-aos-duration="600" class="mt-16 w-full lg:px-24 grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
          <!-- How to Video link -->
		{% set videos = craft.entries.section('howToVideos').all() %}
		{% for video in videos %}
			{% set img = video.backgroundImage.one() %}
          <a href="#" data-video="{{ video.embedUrl }}" class="block relative w-full h-full overflow-hidden open-video">
            <figure class="snip1206 w-full h-full">
              <img src="{{ img.url }}" alt="sample74"/>
              <figcaption>
                <p class="break-words px-2 hidden md:block text-white text-lg uppercase tracking-wider font-normal text-center">
                  {{ video.title }}
                </p>
              </figcaption>
              <h2 class="truncate absolute bottom-0 z-20 block md:hidden w-full p-2 text-white text-lg uppercase tracking-wider font-normal text-center">
                {{ video.title }}
              </h2>
            </figure>
          </a>
          <!-- End -->
		  {% endfor %}
          <!-- How to Video link -->

        </div>
      </section>
	  
		<div class="overlay-modal"></div>
		<div class="video-modal">
			<div class="video-close">X</div>
			<div class="video-content"></div>
		</div>
      <!-- How to Video link -->
