{% extends '_layouts/base' %}

{% block headerContent %}
<section class="relative">
	{{ parent() }}

	{% include '_includes/_neo/Builders/HeaderBuilder' with {
		'neo': entry.HeaderBuilder
	} %}
</section>
{% endblock %}


{% block bodyContent %}
<section class="relative">
	{{ parent() }}

	{% include '_includes/_neo/Builders/BodyBuilder' with {
		'neo': entry.BodyBuilder
	} %}</section>
{% endblock %}
