<div id="logo" class="w-full">
  <img class="pt-8 sm:pl-20 mx-auto sm:mx-0 w-48 sm:w-64" src="./images/template/Windsor-Logo_Architectural.png" alt="Windsor logo"/>
</div>
<section class="w-full flex flex-col justify-center items-center px-6 py-24">
  <h1 data-aos="fade-up" class="leading-tight text-4xl md:text-5xl font-hairline text-center">
    Warranty
  </h1>
</section
