<section id="{{ GoToSection.plainText|kebab }}" class="w-full flex flex-col justify-center items-center py-10 pl-16">
  <h1 data-aos="fade-up" class="text-4xl md:text-5xl font-hairline text-center px-6">
    {{ GoToSection.plainText }}
  </h1>
  <p data-aos="fade-up" data-aos-duration="600" class="text-center max-w-2xl text-base font-light mt-6 px-6">
    {{ GoToSection.richtext|striptags }}
  </p>
  {% if GoToSection.featuredImage.one() %}
    <img data-aos="fade-up" data-aos-duration="700" class="w-full max-w-3xl mt-12 mx-auto" src="{{ GoToSection.featuredImage.one().url() }}" alt=""/>
  {% endif %}
</section>
