{% extends '_layouts/base' %}

{% block bodyContent %}
  {% set finish = craft.entries.section('CataloguesFlyers') %}
  {% set entries = finish.all() %}
  {% for entry in entries %}
    <section class="pl-12 md:pl-16">
      {% for image in globalBlackLogo.logo.all() %}
      <div id="logo" class="w-full">
        <a href="{{ url('') }}">
        <img class="pt-8 sm:pl-20 mx-auto sm:mx-0 w-48 sm:w-64" src="{{ image.getUrl() }}" alt="Windsor logo"/>
       </a>
      </div>
      {% endfor %}
      <section class="w-full flex flex-col justify-center items-center px-6 py-32 lg:py-48">
        <h1 data-aos="fade-up" class="leading-tight text-4xl md:text-5xl font-hairline text-center">
          {{ entry.heading }}
        </h1>
        <div data-aos="fade-up" data-aos-duration="600" class="text-center max-w-2xl text-base font-light mt-6">
          {{ entry.richtext }}
        </div>
      </section>
      <!-- Catalogue Start -->
      {% if entry.displayProductCatelogue %}
        {% include 'ProductCatalogue/index.twig' %}
      {% endif %}

      <!-- Request Section -->
      {% if entry.displayRequestPrintedCatalogues  %}
          <section
            id="request"
            class="w-full flex flex-col mt-24 justify-center items-center px-6 py-12 pb-32"
          >
            <h1
              data-aos="fade-up"
              class="leading-tight text-4xl md:text-5xl sm:text-6xl font-hairline text-center"
            >
              Request printed catalogues
            </h1>
            <!-- <div data-aos="fade-up" class="text-center text-base font-light max-w-2xl text-lg my-6"> -->
          <div data-aos="fade-up" class="text-center max-w-2xl text-base font-light mt-6 aos-init aos-animate">
              Use this form to request copies of the catalogues to be mailed to you.
            </div>


<!-- form starts -->
          {% macro errorList(errors) %}
              {% if errors %}
                  <ul class="errors">
                      {% for error in errors %}
                          <li>{{ error }}</li>
                      {% endfor %}
                  </ul>
              {% endif %}
          {% endmacro %}

          {% from _self import errorList %}

          {{ wheelformErrors['form'] is defined ? errorList(wheelformErrors['form']) }}
        <form  method="post" accept-charset="UTF-8" novalidate="" enctype="multipart/form-data"
          data-aos="fade-up"
          data-aos-duration="600"
          class="w-full mt-16 mx-auto max-w-4xl"
        >
        {{ csrfInput() }}
        <input type="hidden" name="action" value="wheelform/message/send">
        <input type="hidden" name="form_id" value="2">
        {% if craft.app.session.hasFlash('wheelformSuccess') %}
            <p class="message success mb-12 p-color font-base">{{ craft.app.session.getFlash('wheelformSuccess') }}</p>
        {% endif %}
          <!-- Name -->
          <div
            class="w-full grid grid-cols-1 md:grid-cols-2 gap-8 text-left mb-8"
          >
            <div id="request-form" class="flex flex-col">
              <input
                class="input-border focus:outline-none"
                id="first-name"
                type="text" name="Firstname"
                placeholder=" "
                data-placeholder="first-name"
                value="{{ values['Firstname'] ?? '' }}"
              />
              <label class="uppercase text-sm font-base" for="first-name"
                >First Name</label
              >
                {{ wheelformErrors['Firstname'] is defined ? errorList(wheelformErrors['Firstname']) }}
            </div>
            <div id="request-form" class="flex flex-col">
              <input
                class="input-border focus:outline-none" id="last-name"
                name="Lastname"   value="{{ values['Lastname'] ?? '' }}"
                type="text"
                placeholder=" "
                data-placeholder="last-name"
              />
              <label class="uppercase text-sm font-base" for="last-name"
                >Last Name</label
              >
              {{ wheelformErrors['Lastname'] is defined ? errorList(wheelformErrors['Lastname']) }}
            </div>
          </div>

          <!-- Email and Phone -->
          <div
            id="request-form"
            class="w-full grid grid-cols-1 md:grid-cols-2 gap-8 text-left mb-8"
          >
            <div class="flex flex-col">
              <input
                class="input-border focus:outline-none"
                id="email" name="Emailaddress"   value="{{ values['Emailaddress'] ?? '' }}"
                type="email"
                placeholder=" "
                data-placeholder="E-mail"
              />
              <label class="uppercase text-sm font-base" for="email"
                >Email Address</label
              >
              {{ wheelformErrors['Emailaddress'] is defined ? errorList(wheelformErrors['Emailaddress']) }}
            </div>
            <div class="flex flex-col">
              <input
                class="input-border focus:outline-none"
                id="phone" name="Phone"   value="{{ values['Phone'] ?? '' }}"
                type="text"
                placeholder=" "
                data-placeholder="Phone"
              />
              <label class="uppercase text-sm font-base" for="phone"
                >Phone</label
              >
              {{ wheelformErrors['Phone'] is defined ? errorList(wheelformErrors['Phone']) }}
            </div>
          </div>

          <!-- Mail Address -->
          <div id="request-form" class="focus w-full flex flex-col mb-12">
            <input
              class="input-border focus:outline-none"
              type="text"
              name="Mailingaddress"
              id="mail-address" name="Mailingaddress"   value="{{ values['Mailingaddress'] ?? '' }}"
              placeholder=" "
              data-placeholder="Mail"
            />
            <label class="uppercase text-sm font-base" for="mail-address"
              >Mail Address</label
            >
            {{ wheelformErrors['Mailingaddress'] is defined ? errorList(wheelformErrors['Mailingaddress']) }}
          </div>

          <!-- Special Instructions -->
          <div class="focus w-full flex flex-col mb-12">
            <label
              class="mb-2 uppercase text-sm font-base"
              for="special-instructions"
              >Special Instructions</label
            >

            <textarea
              class="w-full border border-gray-500 focus:border-gray-900 focus:outline-none p-2"
              name="Specialinstructions"
              id="special-instructions" name="Specialinstructions"   value="{{ values['Specialinstructions'] ?? '' }}"
              cols="3"
              rows="5"
            ></textarea>
            {{ wheelformErrors['Specialinstructions'] is defined ? errorList(wheelformErrors['Specialinstructions']) }}
          </div>

          <!-- Select Catalogues -->
          <div>
            <div class="grid grid-cols-2">
              <label class="uppercase text-sm font-base" for="catalogues"
                >Select Catalogue(s)</label
              >
              <label
                class="text-right uppercase text-sm font-base"
                for="quantity"
                >Quantity</label
              >
            </div>
            <div
              class="grid grid-cols-1 gap-2 rounded mt-2 p-4 border border-gray-500"
            >
              <!-- Catalogue Item-->
              <div class="flex justify-between">
                <p>PRODUCT CATALOGUE - NZ</p>
                <div class="flex items-center">
                  <span class="minuso h-6 w-6 cursor-pointer rounded">-</span>
                  <input
                    class="number w-12 mx-1 rounded"
                    type="text"
                    name="Productcataloguenz"
                    value="0"
                  />
                  <span class="pluso h-6 w-6 cursor-pointer rounded">+</span>
                </div>
              </div>
              <!-- Catalogue Item End -->
              <!-- Catalogue Item-->
              <div class="flex justify-between">
                <p>PRODUCT CATALOGUE - AUSTRALIA</p>
                <div class="flex items-center">
                  <span class="minuso h-6 w-6 cursor-pointer rounded">-</span>
                  <input
                    class="number w-12 mx-1 rounded"
                    type="text"
                    name="Productcatalogueau"
                    value="0"
                  />
                  <span class="pluso h-6 w-6 cursor-pointer rounded">+</span>
                </div>
              </div>
              <!-- Catalogue Item End -->
              <!-- Catalogue Item-->
              <div class="flex justify-between">
                <p>ITALIAN RANGE</p>
                <div class="flex items-center">
                  <span class="minuso h-6 w-6 cursor-pointer rounded">-</span>
                  <input
                    class="number w-12 mx-1 rounded"
                    type="text"
                    name="Italianrange"
                    value="0"
                  />
                  <span class="pluso h-6 w-6 cursor-pointer rounded">+</span>
                </div>
              </div>
              <!-- Catalogue Item End -->
              <!-- Catalogue Item-->
              <div class="flex justify-between">
                <p>ASTRON RANGE</p>
                <div class="flex items-center">
                  <span class="minuso h-6 w-6 cursor-pointer rounded">-</span>
                  <input
                    class="number w-12 mx-1 rounded"
                    type="text"
                    name="Astronrange"
                    value="0"
                  />
                  <span class="pluso h-6 w-6 cursor-pointer rounded">+</span>
                </div>
              </div>
              <!-- Catalogue Item End -->
              <!-- Catalogue Item-->
              <div class="flex justify-between">
                <p>GALAXY RANGE</p>
                <div class="flex items-center">
                  <span class="minuso h-6 w-6 cursor-pointer rounded">-</span>
                  <input
                    class="number w-12 mx-1 rounded"
                    type="text"
                    name="Galaxyrange"
                    value="0"
                  />
                  <span class="pluso h-6 w-6 cursor-pointer rounded">+</span>
                </div>
              </div>
              <!-- Catalogue Item End -->
              <!-- Catalogue Item-->
              <div class="flex justify-between">
                <p>FUTURA RANGE</p>
                <div class="flex items-center">
                  <span class="minuso h-6 w-6 cursor-pointer rounded">-</span>
                  <input
                    class="number w-12 mx-1 rounded"
                    type="text"
                    name="Futurarange"
                    value="0"
                  />
                  <span class="pluso h-6 w-6 cursor-pointer rounded">+</span>
                </div>
              </div>
              <!-- Catalogue Item End -->
              <!-- Catalogue Item-->
              <div class="flex justify-between">
                <p>NEW FITTING SYSTEM - RAPIDFIT</p>
                <div class="flex items-center">
                  <span class="minuso h-6 w-6 cursor-pointer rounded">-</span>
                  <input
                    class="number w-12 mx-1 rounded"
                    type="text"
                    name="Newfitting"
                    value="0"
                  />
                  <span class="pluso h-6 w-6 cursor-pointer rounded">+</span>
                </div>
              </div>
              <!-- Catalogue Item End -->
              <!-- Catalogue Item-->
              <div class="flex justify-between">
                <p>CONCEALED FIX CUP MAGNET</p>
                <div class="flex items-center">
                  <span class="minuso h-6 w-6 cursor-pointer rounded">-</span>
                  <input
                    class="number w-12 mx-1 rounded"
                    type="text"
                    name="Concealed"
                    value="0"
                  />
                  <span class="pluso h-6 w-6 cursor-pointer rounded">+</span>
                </div>
              </div>
              <!-- Catalogue Item End -->
            </div>
          </div>

          <input
            class="mt-16 p-back text-white py-1 px-4 text-base"
            type="submit" value="Send"
          />
        </form>


    		{# {% set options = {
    			"class": "w-full mt-16 mx-auto max-w-4xl",
    		} %}
    		{{ craft.sproutForms.displayForm("RequestPrintedCataloguesForm", options) }} #}
        {# Request printed catalogues #}

          </section>
      {% endif %}

      </section>
    {% endfor %}
  {% endblock %}
