
  <div class="relative w-full h-screen finish-banner overflow-hidden">
    {% set background = Header.backgroundImage.one() %}
    <!-- Video/ Image goes here (make sure to add these classes to it) -->
    <!-- <img class="absolute top-0 w-full h-full object-cover" src="{{ background.url }}" alt=""> -->
    <!-- <video src="/assets/videos/windsorSpecial.mp4" alt="" autoplay loop muted> -->

    <video class="absolute top-0 w-full h-full object-cover" src="/assets/videos/windsorSpecial.mp4" alt="" playsinline autoplay muted loop type='video/mp4' controls="true"> </video>
    <!-- Video/ Image ends here -->

    {% set videoId = Header.embedUrl|replace('/.+watch\\?v=(.+)/', '$1') %}

    <!-- <div class='videoBannerWrapper bodyBuilderComponent'>

      <div class="videoWrapper">
        <div class="video">
          <div
            id="player1"
            class="youtubeVideoEmbed"
            videoId="{{ videoId }}"
            videoHeight="1000"
            style="height:100vh"
          ></div>
        </div>
      </div>

      <div class="overlay">
        <div class="playButton">
          <div class="blueImpLinkSet">
            <a
              href="{{ Header.embedUrl }}"
              data-gallery="#blueimp-gallery"
              data-youtube="{{ videoId }}"
              data-poster="https://i.ytimg.com/vi/{{ videoId }}/maxresdefault.jpg"
              type="text/html"
            >
              <img src="/assets/images/play-button.png" class='img-responsive' />
            </a>
          </div>
        </div>

      </div>

    </div> -->

    <h1 class="finishes-heading absolute top-0 z-10 w-full h-full text-white pt-48 pl-16 sm:pl-0 bg-black bg-opacity-50 leading-tight text-4xl md:text-5xl font-hairline text-center tracking-wider Z-0">
      <span>
        {{ entry.title }}
      </span>

    </h1>

    {% for image in globalWhiteLogo.logo.all() %}
      <div class="pl-12 md:pl-16 index-logo w-full">

        <a href="{{ url('') }}">
          <img class="pt-8 sm:pl-20 w-48 sm:w-64 z-10 mx-auto sm:mx-0" src="{{ image.getUrl() }}" alt="Windsor logo"/>
        </a>
      </div>
    {% endfor %}


  </div>


<!-- Animated Line -->
<div class="finish-line z-10"></div>
