<section class="w-full flex flex-col justify-center items-center py-24 pl-12 md:pl-16">
        <h1 class="text-3xl p-color font-light">Our Values</h1>
        <div data-aos="fade-up" data-aos-duration="800" class="members mt-8 w-full justify-center items-center px-6 lg:px-2 grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-5">
          {% for block in valuesSection.children.all() %}

                {% include '_includes/_neo/Builders/OurStory/valuesSection/' ~ block.type.handle with {
                  (block.type.handle): block
                } %}

          {% endfor %}
        </div>
      </section>
