@mixin blackGradientTextUnderlay(){
	content:'';
	width: 100%;
	height: 33%;
	position:absolute;
	bottom:0px;
	left:0px;

	// Needs latest Compass, add '@import "compass"' to your scss
	// Permalink - use to edit and share this gradient:
	// http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,1+100
	@include filter-gradient(#000000, #000000, vertical); // IE6-9
	@include background-image(linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 200%));
}
