<section class="w-full flex flex-col justify-center items-center py-32 pl-12 md:pl-16">

<!-- <div data-aos="fade-up" data-aos-duration="700" class="grid grid-cols-1 md:grid-cols-2 gap-3 mt-10 text-center pb-32"> -->
<div data-aos="fade-up" data-aos-duration="700" class="flex flex-row flex-wrap justify-center mt-10 text-center">
  {% set position = 'up' %}
  {% for i, field in entry.OurStory.level(1).all() %}


    {% if GoToButtons.id == field.id %}
      {% set position = 'down' %}
    {% endif %}

    {% if field.type.handle == 'GoToSection' %}

      <a class="flex justify-center items-center dark-back text-white py-1 pl-4 pr-2 m-2" href="#{{ field.plainText|kebab }}">{{ field.plainText }}
        <i class="uil uil-angle-{{position}} ml-2 text-xl"></i>
     </a>
    {% endif %}

  {% endfor %}

</div>
</section>
