<div class="w-full relative flex flex-col text-center justify-between overflow-hidden mx-auto">
  <img
    class="top-0 w-full object-cover flex-shrink-0"
    src="{{ valuesText.featuredImage.one().url  }}"
    alt="" style="height: 450px;"
  />
  <div class="absolute bottom-0 w-full" style="background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1));">
    <p class="text-center text-white max-w-2xl text-xl uppercase font-medium mt-6 px-6 pb-6">{{ valuesText.plainText }}</p>
  </div>
</div>
