
{% for entry in entries %}
  <!-- Job -->
  <div class="relative mb-2px w-full">
    <input class="opacity-0 absolute w-full h-10 cursor-pointer" type="radio" name="accordion"/>
    <div class="plus-minus flex justify-between items-center md:text-lg p-color uppercase font-base">
      <div class="font-medium py-2">{{ entry.plainText }}</div>
      <div class="relative">
        <span class="minus">-</span><span class="plus">+</span>
      </div>
    </div>
    <div class="expand">
      <div class="py-6 text-sm pink-border-b">
        {{ entry.richtext }}
        <div class="text-xs mt-6">
          {% if entry.LinkFiles != ''%}
          <div id="catalogue-buttons" class="mb-1">
            <!-- Job Description Button-->
            <a href="{{ entry.LinkFiles.url }}" target="_blank" class="p-color font-base" href="">Job Description</a>
          </div>
          {% endif %}
          <!-- Apply Button -->
          <div id="catalogue-buttons">
            <a class="mt-2 p-color font-base" href="/job-application">Apply Now</a >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Job End -->
{% endfor %}
