{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Windsor Products plugin for Craft CMS 3.x
 *
 * Windsor Products index.twig
 *
 * @author    Priti Rathod
 * @copyright Copyright (c) 2020 Priti Rathod
 * @link      https://www.hotzone.in
 * @package   WindsorProducts
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("windsor\\windsorproducts\\assetbundles\\windsorproducts\\WindsorProductsAsset") %}
{% do view.registerAssetBundle("windsor\\windsorproducts\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "Windsor Products" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('windsor-products') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@windsor/windsorproducts/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('windsor-products') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Click below button to fetch categories and  products"|t('windsor-products') }}</h2>
    {# <img src="{{ iconUrl }}" height="64" width="64" /> #}
    <div class="buttons">
        <a href="{{ url('fetch-categories') }}" class="btn submit icon">{{ "Fetch Categories"|t('windsor-products') }}</a>
    </div>
    <div class="buttons">
        <a href="{{ url('fetch-products') }}" class="btn submit icon">{{ "Fetch Products"|t('windsor-products') }}</a>
    </div>


{% endset %}
