{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Windsor Products plugin for Craft CMS 3.x
 *
 * Windsor Products Settings.twig
 *
 * @author    Priti Rathod
 * @copyright Copyright (c) 2020 Priti Rathod
 * @link      https://www.hotzone.in
 * @package   WindsorProducts
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("windsor\\windsorproducts\\assetbundles\\windsorproducts\\WindsorProductsAsset") %}

{{ forms.textField({
    label: 'Some Field',
    instructions: 'Enter some setting here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: settings['someAttribute']})
}}
