body {
	font-size: 14px;
	font-family: $primaryFont;
	color:$blackColour;
 
	&.xs {

	}

	&.sm {

	}

	&.md {

	} 

	&.lg {

	}
}

b, strong {
    font-weight: bold;
}
 
h1, h2, h3 {
	font-family:$secondaryFont !important; 
	line-height: 1.3em;
	text-transform:uppercase; 
} 

h1, h2, h3, h4, h5, h6 {
	line-height: 1.3em;
}
 
p {
	line-height: 1.5em;
}

h1, h2, h3, h4, h5 {
	font-family:$primaryFont;
	font-weight: bold;
	margin:20px 0 10px 0;
}
 
h1, h2, h3, h4, h5 {
	color: $primaryColour;
	font-weight: normal;
}

h1 {
	font-size: 3em;
	margin: .7em 0; 
	font-weight: 300;
	line-height: 1em; 

	&.xs {
		font-size: 2em; 
	}
}

h2 {
	font-size:1.7em;
	line-height: 1.3em;
}
 
h3 {
	color:tint($secondaryColour, 30); 
	text-transform:uppercase;
	font-size: 2em; 
	line-height: 1.4em;  
}

h4 { 
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 1em 0 .5em 0; 
}

h5 {
	font-size: 1.3em; 
	font-weight: 300;
	color: $blackColour;
	line-height: 1.6em;
	font-weight: 400;
}

h6 {
	color:$blackColour; 
	font-weight:bold; 
	font-size:1em;  
	margin:1.2em 0 .5em 0;
}

p {
	color: $blackColour;
	font-weight:300;
	font-size: 1.1em; 
	margin:0 0 .8em; 

	&:last-child {
		margin-bottom:0px;
	}
}

[class*="col-"] {

	h1, h2, h3, h4, h5, h6 {

		&:first-child {
			margin-top:0px;
		}
	}
}

ol {
	list-style-type:none;
    margin: 20px 0;
    padding: 0px; 

	li {
		counter-increment: item;
		margin-bottom: 5px;
		font-weight: 300; 

		&:before {
			font-weight: bold;
			content: counter(item);
			margin: 0 15px 0 0;
		}
	}
}