/* Typography/Text styles */

b, .bold {
	font-weight:bold;
}

.textAlignCentre {
	text-align: center;
}

.textAlignLeft {
	text-align: left;
}

.textAlignRight {
	text-align: right;
}

i, .italic {
	font-style:italic;
}

/* End Typography/Text styles */

/* Padding and Margin helpers */

$directions: 
	'top',
	'right',
	'bottom',
	'left';

$helperTypes:
	'padding',
	'margin';

//@each $helperType in $helperTypes {
//	
//	@each $direction in $directions {
//
//		@for $i from 1 through 20 {
//
//			$typeAmount:$i * 10;
//
//			.#{$helperType}#{str-ucfirst($direction)}#{$typeAmount} {
//
//				#{$helperType}-#{$direction}: #{$typeAmount}px;
//			}
//
//			.#{$helperType}#{str-ucfirst($direction)}#{$typeAmount}.xs {
//
//				#{$helperType}-#{$direction}: #{$typeAmount / 2}px;
//			}			
//		}
//	}
//}
/* End Padding and Margin helpers */

/* Structure Help Classes */

.clear {
	clear:both;
}

.relative {
	position: relative;
}
 
.floatLeft {
	float:left;	
}

.floatRight {
	float:right;
}

.block {
	display:block;
}

.none {
	display:none;
	transition:all 2s;
}

/* End Structure Help Classes */

/* Font Awesome */

i {
	font-family: fontawesome;
	font-style: normal;
}

a {

	i {

		&:hover {
			text-decoration: none;
		}
	}
}

/* End Font Awesome */


/* Remove styling helpers */

.noRadius { 
	border-radius: 0px; 
}

.noBorder {
	border: none !important;
}

.noUnderline {
	text-decoration: none !important;

	&:hover {
		text-decoration: none !important;
	}
}

/* End Remove styling helpers */

/* Cursors */

.defaultCursor {
	cursor: default;
}

/* End Cursors */

/* Padding */

.noPaddingTop {
	padding-top:0px !important;
}

.noPaddingRight {
	padding-right:0px !important;
}

.noPaddingBottom {
	padding-bottom:0px !important;
}

.noPaddingLeft {
	padding-left:0px !important;
}

/* End Padding */

/* Margin */

.noMarginTop {
	margin-top:0px !important;
}

.noMarginRight {
	margin-right:0px !important;
} 

.noMarginBottom {
	margin-bottom:0px !important;
}

.noMarginLeft {
	margin-left:0px !important;
} 

/* End Margin */

/* Spacers */

.spacer10 {
	margin-top:5px;
	margin-bottom:5px;
}

.spacer20 {
	margin-top:10px;
	margin-bottom:10px;
}

.spacer30 {
	margin-top:15px;
	margin-bottom:15px;
}

.spacer40 {
	margin-top:20px;
	margin-bottom:20px;
}

.spacer50 {
	margin-top:25px;
	margin-bottom:25px;
}

.spacer60 {
	margin-top:30px;
	margin-bottom:30px;
}

.spacer70 {
	margin-top:35px;
	margin-bottom:35px;
}

.spacer80 {
	margin-top:40px;
	margin-bottom:40px;
}

.spacer90 {
	margin-top:45px;
	margin-bottom:45px;
}

.spacer100 {
	margin-top:50px;
	margin-bottom:50px;
}

/* End Spacers */

/* Animate.css animations */

.animated {
	animation-duration: .5s;
}

@keyframes slideUp {

	0% {
		transform:translateY(0);
	}

	100% {
		transform:translateY(-100%);	
	}
}

.animated.slideUp {
	animation-name:slideUp
}

@keyframes slideDown {

	0%{
		transform:translateY(-100%);
	}

	100% {
		transform:translateY(0);
	}
}

.animated.slideDown {
	animation-name:slideDown
}

/* End Animate.css animations */

img.centre {
	margin-left:auto;
	margin-right:auto;
}

/* Link Types */

a.linkType {
	display: inline-block;

	&:before {
		margin-left:2px;
	}

	&.linkTypePdf:before {
		content: "\f1c1";
		font-family: FontAwesome;
		margin:0 4px 0 0;
	}

	&.linkTypeExternal:before {
		content: "\f08e";
		font-family: FontAwesome;
		margin:2px 4px 0 0;
	}
}

/* End Link Types */

/* Vetically Centre Image */

.verticallyCentreContent {
	height:100%; //Equals max-height on .verticallyCentreContent img
	white-space: nowrap;
	text-align: center;
}

.verticallyCentreContent:before, .verticallyCentreContentBefore {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.verticallyCentreContent {
	
	img {
		vertical-align: middle;
		max-height:100%;
		max-width:450px;
	}
}

/* End Vetically Centre Image */

/* Fix Bootstrap img-responsive in ie<11 */

.img-responsive {
	width: auto \9;
}

/* End Fix Bootstrap img-responsive in ie<11 */

/* Booststrap Column Padding */

.bsNoPadding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* End Booststrap Column Padding */

/* Centered columns styles */

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;

    &.xs {
    	margin-right:0px;
    }
}

/* End Centered columns styles */

/* Shame or Unknown */

.error_msg {

	* {
		color: red;
	}
}

.backgroundWhite {
	background: $whiteColour;
}

/* End Shame or Unknown */