{% set staff = craft.entries.section('staff') %}
{% set entries = staff.all() %}
{% for entry in entries %}


<!-- Team Member -->

      <div
        class="w-full relative flex flex-col justify-between overflow-hidden mx-auto"
      >
        <div class="profile relative overflow-hidden mb-2">
          <input type="radio" name="profile-input" id="profile-input" class="chb z-20 w-full" />

          <!-- Details -->

          <div
            class="z-0 profile-details absolute flex flex-col justify-between top-0 bg-light w-full h-full p-4"
          >
            <div
              class="text-xs tracking-wider h-48 overflow-hidden relative pr-3"
            >
              {{ entry.staffBio }}
            </div>

            <!-- Member Contact-->
            <div class="w-full text-xs p-color font-base">
              <!-- Phone -->
              <a class="flex items-center m-1" href="tel:0800-607-208">
                <i class="fas fa-phone-alt pr-2"></i>
                {{ entry.staffPhone | raw }}
              </a>
              <!-- Email -->
              <a
                class="flex items-center truncate m-1"
                href="mail-to:sales@windsorhardware.co.nz"
              >
                <i class="fas fa-envelope pr-2"></i>
                {{ entry.staffEmail | raw }}
              </a>

              <!-- Linked In -->
              {% if entry.staffName != '' and entry.staffLinkedin != '' %}
              <a class="flex items-center m-1 truncate" href="{{ entry.staffLinkedin }}" target="_blank"
                ><i class="fab fa-linkedin pr-2"></i>Connect with {{ entry.staffName }}</a
              >
              {% endif %}
            </div>
            <div
              class="cursor-pointer absolute top-0 right-0 text-2xl text-white bg-black bg-opacity-75"
            >
              <i class="uil uil-times"></i>
            </div>
          </div>
            {% set image = entry.staffProfilePhoto.one() %}
          <!-- Image & Plus icon-->
          <div class="z-10 profile-img w-full cursor-pointer">
            <img
              class="absolute top-0 w-full object-cover flex-shrink-0"
              src="{{image.getUrl()}}"
              alt=""
            />
            <div
              class="profile-plus cursor-pointer absolute top-0 right-0 text-2xl text-white bg-black bg-opacity-75"
            >
              <i class="uil uil-plus"></i>
            </div>
          </div>
        </div>

        <!-- Info -->
        <div>
          <!-- Name -->
          <div class="tracking-wider uppercase font-medium text-sm">
            {{ entry.staffName }}
          </div>
          <!-- Job -->
          <div class="tracking-wider font-normal text-xs">
            {{ entry.staffPosition }}
          </div>
        </div>
      </div>
      <!-- Team Member End-->

{% endfor %}
