
          <div class="w-full relative flex flex-col text-center overflow-hidden mx-auto">
            <h1 class="text-3xl p-color font-light">{{ vissionMissionText.heading }}</h1>
            <p class="text-center max-w-2xl text-base font-light mt-6 px-6 aos-init aos-animate">{{ vissionMissionText.plainText }}</p>
          </div>
