.btn, button {
	border-radius:0px;
	background:$secondaryLightColour;
	font-weight:bold;
	color:$blackColour;
	border:none;
	text-transform:uppercase;
	font-size: .8em;
	padding: 12px 45px;
	position: relative;
	margin:0 15px 15px 0;
	transition:all $transitionTimeFast;

	&:hover {
		color: $whiteColour;
		background:$primaryColour;

		i {
			color: $whiteColour;
		}
	}

	i {
		transition:all $transitionTimeFast !important;
	}

	&.iconRight, &.iconLeft {

		i {
			position: absolute;
			top:11px;
			font-weight: bold;
			font-size: 1.8em;
		}
	}

	&.iconRight {
		padding-left:0px !important;

		i {
			// right: 21px;
			// right: 12px;
    	margin-left: 8px;
		}
	}

	&.iconLeft {
		padding-right:0px !important;

		i {
			left: 21px;
			right: inherit;
		}
	}

	&.xs {
		width: 100%;
	}
}
