body {
	overflow: visible !important;

	.ekko-lightbox {
		z-index: 5000;
		text-align: center;

		.modal-backdrop {

		}

		.modal-dialog {
			z-index: 2000;
			width: inherit !important;
			display: inline-block;

			.modal-content {
				border-radius: 0px;
				border: none;
				width: inherit !important;

				.modal-header {
					display: none;
				}

				.modal-body {
					padding:0px !important;

					.ekko-lightbox-container {

						.ekko-lightbox-nav-overlay {
							position: absolute;
							height: 100%;
							width: 100%;

							.glyphicon {
								background: rgba($blackColour, .8);
								position: absolute;
								height: 45px;
								width: 45px;
	    						padding-top:0px !important;
	    						top:45%;

								&:before {
									font-family: 'FontAwesome';
									color: $whiteColour;
									margin:15px 0 0 0;
									display: block;
								}

								&.glyphicon-chevron-left {
									left:0px;

									&:before {
										content:'\f053';
									}
								}

								&.glyphicon-chevron-right {
									right:0px;

									&:before {
										content:'\f054';
									}
								}
							}
						}

						div {

							img {
								max-width: 1200px;
								margin:0 auto;
							}
						}
					}
				}

				.modal-footer {

				}
			}
		}
	}
}

body.sm, body.xs {

	.ekko-lightbox {
		padding: 15px !important;

		.modal-dialog {
			margin:0px !important;

			.modal-content {

				.modal-body {

					.ekko-lightbox-container {

						.ekko-lightbox-nav-overlay {

							.glyphicon {
	  							background: rgba($blackColour, .6);
	  							@include opacity(.6); 
							}
						}

						div {

							img {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}

body.xs {

	.ekko-lightbox {

		.modal-dialog {

			.modal-content {

				.modal-body {

					.ekko-lightbox-container {

						.ekko-lightbox-nav-overlay {

							.glyphicon {
	  							top:33%;
							}
						}
					}
				}
			}
		}
	}
}
