	.farmerLoginWrapper {

		&.xs {
			position: absolute;
			top: 0px;
			left: 0px;
		}

		a {
			position:relative;
			background: $primaryColour;
			width:105px;
			height: 115px; 
			font-family: $secondaryFont; 
			display: block; 
			float: right;
			margin:-40px 0 0 0; 
  			transition: all $transitionTime;
  			overflow: hidden;  
 
			&.xs {
				position: absolute;
				top: 0px;
				margin: 0px;
				left: 0px;
				width: 100%;
    			height: inherit;
				padding: 5px 0;

				.content {
					position: initial;

					i {
						display: none; 
					}					
				}				
			}
   
			.content {
				color: $whiteColour;
				position: absolute;
				bottom:10px;
				left: 0px;   
				width: 100%;
				text-align:center;
				text-transform:uppercase; 
				padding: 0 10px;

				i {					
 
					&:before {
						transition: all $transitionTime;
						font-size: 1.25em;	
						content:'\f105';
						font-family: 'FontAwesome';	
						position: absolute;
						width: 100%;
						text-align: center;
						left: 0%;
						opacity:1;
						top:-25px;		   							
					} 	  			 	
				}								
			}  

			&:hover {
				background: shade($primaryColour, 10);
  
				.content {

					i {
						opacity:1;
						color: $whiteColour; 
  
						&:before {
							opacity:0;
							left:50%;
						}
					}
				}
			}	
		}
	}