a {
	color: $primaryColour;
	transition: all $transitionTimeFast;

	i {
		transition: all $transitionTimeFast;
	}
	
	&:hover {
		text-decoration: none;

		i {
			color: $secondaryColour;
		}
	}

	&:active {

		* {
			color: $secondaryColour;
		}
	}

	&:visited {

		* {
			color:inherit;
		}
	}	
}