.masonryWrapper { 
	margin:0 -16px 0 -15px; 
 
	&.xs {
		margin-left: 0px;
		margin-right: 0px;
	}

	.masonry-item {
		margin-bottom:30px; 

		&.xs {
			padding:0px; 
		} 
   
		.masonryContentWrapper {
			      
		}
	}
} 