quote {
	font-weight: bold;
	margin: 15px 0;
	display: block;	
	position:relative;

	&, * {
		color: $primaryColour !important; 
	}

	p {

		&:first-child {

			&:before {
				content:'"';
			}
		}

		&:last-child {
			
			&:after {
				content:'"';
			}
		}	
	}
}