#responsive_recaptcha {
	border-radius: 0px;
	background:none;
	border: 1px solid #e0e0e0;
	max-width:inherit;

	#recaptcha_challenge_image {
		border: 1px solid #e0e0e0;
		border-radius: 0px;
	}

	.solution {
		background: none;
		margin:0px;
		padding:0px;
		width: 100%;

		#recaptcha_response_field {
			border: 1px solid #e0e0e0;
			width: 100%;
			padding:8px;
			font-weight:normal;
			color: $blackColour;
			margin-top:7px !important;

			&:focus {
				border:1px solid $primaryColour;
			}
		}

		.recaptcha_only_if_image {
			font-weight: normal;
			color: $secondaryDarkColour;
			font-style: italic;
			float: right;
		}		
	}

	.options {
		float: inherit;
		padding:0px;
		width: 100%;

		a {
			border: none !important;
			border-radius: 0px !important;
			background: $primaryColour;
			color:$whiteColour;
			float: left;
			width: 33%;

			&#icon-reload {
				border-radius:3px 0 0 3px !important;
			}

			&#icon-help {
				border-radius:0 3px 3px 0 !important;
			}			

			&#icon-audio {
				border-left: 1px solid $whiteColour !important;
				border-right: 1px solid $whiteColour !important;
				width: 34%;
			}

			&:hover {
				background: $primaryLightColour;
			}
		}
	}
}

.container.xs {

	#responsive_recaptcha {

		.options {

			a {
				width: 100% !important;
				border-radius:0px !important;
				float: inherit;

				&#icon-reload {
					border-radius:3px 3px 0 0 !important;
				}

				&#icon-audio {
					border-left: none !important;
					border-right: none !important;
					margin:1px 0 2px 0;
				}

				&#icon-help {
					border-radius:0 0 3px 3px !important;
				}				
			}
		}
	}
}