a.arrow {
	width: 3vmin;
	height: 3vmin;
	box-sizing: border-box;
	position: absolute;
	bottom: 50px;
	right: 45px;
	transform: rotate(-45deg);
	opacity:.4;
 	z-index: 90000 !important;

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #000000;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}


	&:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: #000000;
		transform-origin: 100% 0;
		transition:.2s ease;
	}


	&:hover::after {
	border-color: grey;
	}
	&:hover::before {
		border-color: grey;


	}

}
