.searchOverlayWrapper {
	background:rgba($blackColour, $opacityDark);  
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100000;
    display: none;  

	.close {  
		color: $whiteColour;
		position: fixed;
		font-size: 1.1em;
		font-weight: 700;
		line-height: 1;
		top: 30px;  
		right: 30px;
		opacity: 1;

		&:before {
			content: '\f00d';
			font-family: 'FontAwesome';			
		}
	}

	.container {
		position: relative;
		top: 50%;  
		transform: translateY(-50%);

	    .searchWrapper {

	    	form.search {
	  
	    		.headingWrapper {
					border-color:$whiteColour;  

	    			i {
	    				color:$whiteColour;
	    			}

	    			.heading {
	    				color:$whiteColour;  
	    			}
	    		}  
	 
	    		.input {

	    			input[type="text"] { 
	    				background:none;
	    				color:$whiteColour;
	    			}
	    		}
	    	}
	    }
	}

	&.xs {

		.headingWrapper {
   
			i {
				top: 12px !important;
				right: auto !important;
				left: 15px;			
			}
		}
  
		.input {

			input {
				padding: 0 0 0 35px !important;
			}
		}
	}

}