$stickyFooterXsHight:460px;
$stickyFooterSmHight:245px;
$stickyFooterMdHight:235px;
$stickyFooterLgHight:210px;

* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -$stickyFooterLgHight;

	&.noStickyFooter {
		min-height: inherit;
	}

	&:after {
		height: $stickyFooterLgHight;
	}

	&.xs {
		margin-bottom: -$stickyFooterXsHight;

		&:after {
			height:$stickyFooterXsHight;
		}
	}

	&.sm {
		margin-bottom: -$stickyFooterSmHight;

		&:after {
			height:$stickyFooterSmHight;
		}
	}

	&.md {
		margin-bottom: -$stickyFooterMdHight;

		&:after {
			height:$stickyFooterMdHight;
		}
	}

	&.lg {
		margin-bottom: -$stickyFooterLgHight;

		&:after {
			height:$stickyFooterLgHight;
		}
	}
}

.wrapper:after {
	content: "";
	display: block;
}

footer {
	height:$stickyFooterLgHight;

	&.xs {
		height:$stickyFooterSmHight;
	}

	&.sm {
		height:$stickyFooterSmHight;
	}

	&.md {
		height:$stickyFooterMdHight;
	}

	&.lg {
		height:$stickyFooterLgHight;
	}
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
