{% extends '_layouts/base' %}

{% block bodyContent %}
  {% set about = craft.entries.section('aboutus') %}
  {% set entries = about.all() %}
  {% for entry in entries %}

    {% for image in globalBlackLogo.logo.all() %}
      <div id="logo" class="w-full pl-12 md:pl-16 absolute top-0">
        <a href="{{ url('') }}">
          <img class="pt-8 sm:pl-20 mx-auto sm:mx-0 w-48 sm:w-64" src="{{ image.getUrl() }}" alt="Windsor logo"/>
        </a>
      </div>
    {% endfor %}

    <section class="w-full flex flex-col justify-center items-center pt-32 pl-12 md:pl-16">
      <h1 data-aos="fade-up" class="pt-24 px-6 leading-tight text-4xl md:text-5xl font-hairline text-center aos-init aos-animate">
        {{ entry.title }}
      </h1>
      <div data-aos="fade-up" data-aos-duration="600" class="px-6 text-center max-w-2xl text-base font-light mt-6">
        {{ entry.richtext }}
      </div>
    </section>
    {% include '_includes/_neo/Builders/OurStory' with {
      'neo' : entry.OurStory
    } %}





    <!-- End story section -->

  {% endfor %}
{% endblock %}
