<section class="w-full flex flex-col justify-center items-center px-6 py-24">
  <div data-aos="fade-up" data-aos-duration="600" class="text-center max-w-2xl text-base font-light mt-6">
  {{ RichText.richtext }}
  </div>
</section>
