<h1 data-aos="fade-up" class="leading-tight text-4xl md:text-5xl font-hairline text-center mb-6">
  {{ category.title }}
</h1>

<!-- Breads , title & filter -->
<div data-aos="fade-up" class="lg:p-6 lg:px-24 w-full">
 <!-- Breadcrumbs -->
  <ul class="font-normal flex text-xs tracking-widest">
    <li><a href="/products" class="text-gray">Product Category</a></li>
    <li><a href="javascript:void(0);" class="font-base p-color">
      <i class="uil uil-angle-right"></i>
    </a></li>
    {% if category.level == 2 %}
    {% for parentCat in craft.categories().group('productCategories').ancestorOf(category).level(1).all() %}
        <li><a href="/product-categories/{{parentCat.slug}}" class="text-gray"> {{ parentCat.title }}</a></li>
        <li><a href="javascript:void(0);" class="font-base p-color">
          <i class="uil uil-angle-right"></i>
        </a></li>
    {% endfor %}
      {% for parentCat in craft.categories().group('productCategories').ancestorOf(category).level(2).all() %}
          <li><a href="/product-categories/{{parentCat.slug}}" class="text-gray"> {{ parentCat.title }}</a></li>
          <li><a href="javascript:void(0);" class="font-base p-color">
            <i class="uil uil-angle-right"></i>
          </a></li>
      {% endfor %}
    {% elseif (category.level == 3) %}
    {% for parentCat in craft.categories().group('productCategories').ancestorOf(category).level(1).all() %}
        <li><a href="/product-categories/{{parentCat.slug}}" class="text-gray"> {{ parentCat.title }}</a></li>
        <li><a href="javascript:void(0);" class="font-base p-color">
          <i class="uil uil-angle-right"></i>
        </a></li>
    {% endfor %}
      {% for parentCat in craft.categories().group('productCategories').ancestorOf(category).level(2).all() %}
          <li><a href="/product-categories/{{parentCat.slug}}" class="text-gray"> {{ parentCat.title }}</a></li>
          <li><a href="javascript:void(0);" class="font-base p-color">
            <i class="uil uil-angle-right"></i>
          </a></li>
      {% endfor %}
      {% for parentCat in craft.categories().group('productCategories').ancestorOf(category).level(3).all() %}
          <li><a href="/product-categories/{{parentCat.slug}}" class="text-gray"> {{ parentCat.title }}</a></li>
          <li><a href="javascript:void(0);" class="font-base p-color">
            <i class="uil uil-angle-right"></i>
          </a></li>
      {% endfor %}
    {% elseif (category.level == 4) %}
    {% for parentCat in craft.categories().group('productCategories').ancestorOf(category).level(1).all() %}
        <li><a href="/product-categories/{{parentCat.slug}}" class="text-gray"> {{ parentCat.title }}</a></li>
        <li><a href="javascript:void(0);" class="font-base p-color">
          <i class="uil uil-angle-right"></i>
        </a></li>
    {% endfor %}
      {% for parentCat in craft.categories().group('productCategories').ancestorOf(category).level(2).all() %}
          <li><a href="/product-categories/{{parentCat.slug}}" class="text-gray"> {{ parentCat.title }}</a></li>
          <li><a href="javascript:void(0);" class="font-base p-color">
            <i class="uil uil-angle-right"></i>
          </a></li>
      {% endfor %}
      {% for parentCat in craft.categories().group('productCategories').ancestorOf(category).level(3).all() %}
          <li><a href="/product-categories/{{parentCat.slug}}" class="text-gray"> {{ parentCat.title }}</a></li>
          <li><a href="javascript:void(0);" class="font-base p-color">
            <i class="uil uil-angle-right"></i>
          </a></li>
      {% endfor %}
    {% endif %}
    <li><a href="javascript:void(0);" class="text-gray"> {{ category.title }}</a></li>
  </ul>
  <!-- Title -->
  <div class="p-back w-full mb-6">
      <p class="text-center uppercase tracking-wider text-lg text-white py-2 px-3 my-6">PRODUCT RANGES</p>
  </div>
  {# <!-- Filter -->
  {% if category.level < 2 %}
   <div class="relative filter">
       <input type="checkbox" class="w-full opacity-0 h-8 absolute z-10 cursor-pointer">
       <p class="ml-12 text-base uppercase tracking-wider filter-text rounded-full py-2 px-4 text-center w-24 bg-gray-300 cursor-pointer">Filter</p>
       <div class="filter-box flex flex-col lg:flex-row w-full pl-12 my-8">
         <div class="flex flex-1">
           {% if category.hasDescendants() and category.level == 1 %}
             {% set  childCategories = category.getDescendants().level(2).all() %}
             <ul class="flex-1 product-category-level-two">
               {% for childCategory in  childCategories %}
                 <li data-category='{{childCategory.id}}'>{{ childCategory.title }}</li>
               {% endfor %}
             </ul>
           {% else %}
              <ul class="flex-1">
                <li> No child category found.</li>
              </ul>
           {% endif %}
         </div>
          {% if category.hasDescendants() %}
           {% for i, childCategory in  childCategories %}
             <div class="w-full lg:w-2/3 flex flex-col lg:flex-row justify-center items-center overflow-hidden pr-8 mt-8 lg:mt-0 lg:px-8 category-info category-info-{{childCategory.id}}" {% if i != 0 %} style="display:none;" {% endif %}>
                 <!-- Image Box -->
                 <div class="lg:pr-12 relative">
                   <!-- Default Image -->
                   {% set img = childCategory.categoryImage %}
                   {% if img.one() != '' %}
                   <img
                     class="w-full lg:w-64 lg:h-32 object-contain"
                     src="{{img.one().url}}"
                     alt=""
                   />
                   {% endif %}

                   <!-- Image on Hover -->
                   <!-- <img
                     class="w-full lg:w-auto lg:h-32 hovered-img absolute top-0 left-0 object-cover"
                     src="./images/Home/Stockist_QL.png"
                     alt=""
                   /> -->
                 </div>
                 <p class="text-gray leading-loose mt-8 lg:mt-0 w-full lg:w-1/2 text-sm tracking-wide text-light">
                   {{ childCategory.introParagraph|striptags }}
                 </p>
             </div>
           {% endfor %}
          {% endif %}
       </div>
   </div>
   {% endif %} #}
</div>
<div data-aos="fade-up" data-aos-duration="600" class="mt-16 w-full lg:px-24 grid gap-8 grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 childCategory-level-3">
 {# Fetch all of the entries related to this category #}
   {% if category.hasDescendants() and category.level == 1 %}
   {% set childCategories = category.getDescendants().level(2).orderBy('title asc').all()  %}
   {% for cat in childCategories %}
     <!-- Product Start -->
     <a class="product block w-full flex flex-col justify-between items-center xl:items-start" href="{{cat.url}}">
       <div class="w-full">
           <div class="w-full profile overflow-hidden relative">
             {% if cat.categoryImage != '' and cat.categoryImage.one() != null %}
               <img class="absolute top-0 w-full h-full object-cover product-range" src="{{ cat.categoryImage.one().url }}" alt="" />
             {% endif %}
           </div>
           <p class="pt-3 mb-1 text-base uppercase font-medium tracking-wider">
             {{ cat.title }}
           </p>
       </div>
       <div class="w-full">
         <span class="view-collection text-xs md:text-sm"
           >View Collection</span>
       </div>
     </a>
     <!-- Product End -->
   {% endfor %}
       {% elseif category.hasDescendants() and category.level == 2 %}
       {% set childCategories = category.getDescendants().level(3).orderBy('title asc').all() %}
       {% for cat in childCategories %}
         <!-- Product Start -->
         <a class="product block w-full flex flex-col justify-between items-center xl:items-start" href="{{cat.url}}">
           <div class="w-full">
               <div class="w-full profile overflow-hidden relative">
                 {% if cat.categoryImage != '' and cat.categoryImage.one() != null %}
                   <img class="absolute top-0 w-full h-full object-cover product-range" src="{{ cat.categoryImage.one().url }}" alt="" />
                 {% endif %}
               </div>
               <p class="pt-3 mb-1 text-base uppercase font-medium tracking-wider">
                 {{ cat.title }}
               </p>
           </div>
           <div class="w-full">
             <span class="view-collection text-xs md:text-sm"
               >View Collection</span>
           </div>
         </a>
         <!-- Product End -->
       {% endfor %}
       {% set entries = craft.entries.section('products').relatedTo(category).all()|sort %}
       {% for entry in entries %}
         <!-- Product Start -->
         {% if entry.productCategory['2']  is not defined  %}
         <a class="product block w-full flex flex-col justify-between items-center xl:items-start" href="{{entry.url}}">
           <div class="w-full">
               <div class="w-full profile overflow-hidden relative">
                 {% for i, block in entry.productVariants.all() %}
                 {% set prodImg = block.productImages %}
                   {% if prodImg != '' and prodImg.one() != null %}
                   <img class="absolute top-0 w-full h-full object-cover product-range" src="{{ prodImg.one().url }}" alt="" />
                   {% endif %}
                 {% endfor %}
               </div>
               <p class="pt-3 mb-1 text-base uppercase font-medium tracking-wider">
                 {{ entry.productDescription }}
               </p>
           </div>
           <div class="w-full">
             <span class="view-collection text-xs md:text-sm"
               >View Collection</span>
           </div>
         </a>
         {% endif %}
             <!-- Product End -->
           {% endfor %}
       {% elseif category.hasDescendants() and category.level == 3 %}
       {% set childCategories = category.getDescendants().level(4).orderBy('title asc').all() %}
       {% for cat in childCategories %}
         <!-- Product Start -->
         <a class="product block w-full flex flex-col justify-between items-center xl:items-start" href="{{cat.url}}">
           <div class="w-full">
               <div class="w-full profile overflow-hidden relative">
                 {% if cat.categoryImage != '' and cat.categoryImage.one() != null %}
                   <img class="absolute top-0 w-full h-full object-cover product-range" src="{{ cat.categoryImage.one().url }}" alt="" />
                 {% endif %}
               </div>
               <p class="pt-3 mb-1 text-base uppercase font-medium tracking-wider">
                 {{ cat.title }}
               </p>
           </div>
           <div class="w-full">
             <span class="view-collection text-xs md:text-sm"
               >View Collection</span>
           </div>
         </a>
         <!-- Product End -->
       {% endfor %}
   {% else %}

     {% set entries = craft.entries.section('products').relatedTo(category).orderBy('productDescription asc').all()  %}
     {% for entry in entries %}
       <!-- Product Start -->
       <a class="product block w-full flex flex-col justify-between items-center xl:items-start" href="{{entry.url}}">
         <div class="w-full">
             <div class="w-full profile overflow-hidden relative">
               {% for i, block in entry.productVariants.all() %}
               {% set prodImg = block.productImages %}
                 {% if prodImg != '' and prodImg.one() != null %}
                 <img class="absolute top-0 w-full h-full object-cover product-range" src="{{ prodImg.one().url }}" alt="" />
                 {% endif %}
               {% endfor %}
             </div>
             <p class="pt-3 mb-1 text-base uppercase font-medium tracking-wider">
               {{ entry.productDescription }}
             </p>
         </div>
         <div class="w-full">
           <span class="view-collection text-xs md:text-sm"
             >View Collection</span>
         </div>
       </a>
       <!-- Product End -->
     {% endfor %}
 {% endif %}
</div>
