{% extends '_layouts/base' %}

{% block bodyContent %}

	{{ parent() }}

  <div class="w-full pl-12 md:pl-16">


  	{% for image in globalBlackLogo.logo.all() %}
  		<div id="logo" class="w-full">
  			<a href="{{ url('') }}">
  				<img class="pt-8 sm:pl-20 mx-auto sm:mx-0 w-48 sm:w-64" src="{{ image.getUrl() }}" alt="Windsor logo"/>
  			</a>
  		</div>
  	{% endfor %}


	{#}	{% if category.level == 4 %}
			<section class="w-full xl:w-1/2 xl:px-24 xl:pt-32 pt-12 pb-12">
					{% set entries = craft.entries.section('products').relatedTo(category).all() %}
					{% include '_entries/page/Product/product-detail' with {
						'entries' : entries,
						'category': category
					} %}
			</section>
		{% else %}#}

		{#	{% if category.hasDescendants() %} #}
			  <section class="w-full flex flex-col justify-center items-center px-6 py-12">
					{% include '_entries/page/Product/category-listing' with {
						'category' : category
					} %}
				</section>
			{#}{% else %}#}
				{#}	<section class="w-full flex flex-col justify-center items-center px-6 py-12">
					 {% include '_entries/page/Product/product-listing' with {
						 'category' : category
					 } %}
				 </section>#}
			{#}{% endif %} #}
		{#}{% endif %}#}

</div>
{% endblock %}
