body {
    height: 2000px;
    .parallax {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      &:nth-child(odd) {
        background: #f2f2f2;
      }
    }
  }


/* ==========================================================================
Floating Images
========================================================================== */

.floating-holder {
  .floating-inner {
    position: relative;
    bottom: 140px;
    left: 45px;

    &.xs{
      bottom: 0px;
      left: 0px;
    }
  }

  .floating-inner-solo {
    position: relative;
    top: 150px;
    right: 50px;
  }

  .floating-inner-solo-right {
    position: relative;
    top: 150px;
    left: 50px;
    &.xs{
        position: relative;
        top: 0px;
        right: 0px;
    }
  }

  .floating-inner-solo-left  {
    position: relative;
    top: 140px;
    right: 90px;

    &.xs{
        position: relative;
        top: 0px;
        right: 0px;
    }
  }

  .floating-main-image-holder,
  .floating-aux-image-holder {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .floating-image-wrapper {
    height: 100%;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;

    .solo {
      // box-shadow: rgba(187, 193, 255, 0.45) -7px 13px 35px 4px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }


  .floating-main-image-holder {
    z-index: 10;
  }

  img {
    position: absolute;
    max-width: unset;
    // border-radius: 8px;
  }
  &.xs {
	margin-top: 60px;
	margin-bottom: 150px;
  }
}
