.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom {
    top: 80%;
}

.fadeIn-top {
    top: 20%;
}

.fadeIn-left {
    left: 20%;
}

.fadeIn-right {
    left: 80%;
}

.related-staff {
	background: linear-gradient(-90deg, #fff 95%, #f7f7f7 5%);
	padding: 0 0 60px 60px;

  &.xs{
    background:#f7f7f7;
	padding: 0;
  }
  .staff-data {
	&.xs {
		padding-left: 0;
		padding-right: 10px;
	}
	.title {
		position: relative;
		font-weight: 700;
	}
  }
}

.staff__member__bio:nth-child(5n+1):nth-last-child(-n + 5) ~ .staff__member__bio {
    position: absolute;
    left: 100%;
    top: 0px;
    z-index: 9999;
    background: rgb(255, 255, 255);
    width: 200%;
}

.staff__member__bio:nth-child(5n+1):nth-last-child(-n + 5) {
    position: absolute;
    right: -100%;
    top: 0px;
    z-index: 9999;
    background: rgb(255, 255, 255);
    width: 200%;
}
.staff__member1,
.staff__member {
	position: relative;
	margin-top: 10px;
	height: auto;
	-webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
	.plus-sign  {
		position: absolute;
		top: 0;
		right: -10px;
        font-weight: 500;
	}
	&:hover {
		/*height: 500px;
		.staff-img {
			opacity: 0.8;
		}
		.staff-info {
			visibility: visible;
			opacity: 1;
			transition-delay: 0s;
		}
		.plus-sign  {
			transform: rotate(45deg);
		}*/
	}
	&.active {
		/*height: 500px;*/
		.staff-info {
			visibility: visible;
			opacity: 1;
			transition-delay: 0s;
		}
		.plus-sign  {
			transform: rotate(45deg);
		}
	}
	.staff-info {
		   position: absolute;
			background: #fff;
			/*box-shadow: 0px 1px 1px 0px #000;*/
			padding: 0 25px;
			top: 0;
			left: 0;
			width: 320px;
			z-index:999;
			visibility: hidden;
			opacity: 0;
			/*height: 450px;
			overflow: hidden;*/

			transition: visibility 0s linear 0.33s, opacity 0.33s linear;
			.title {
				font-weight: bold;
			}
			.small {
				/*font-style: italic;*/
			}
			.desc {
				/*height: 400px;
				overflow: hidden;*/
			}
			&.xs {
				left: 0;
			}

      .quote{
        color: #000000;
        font-weight: 300;
        font-size: 1.3em;
        margin: 0 0 0.8em;
        line-height: 1.3em;
      }
			a {
				color: #000;
			}
	}
}

.plus-sign  {
	float: right;
    font-size: 20px;
	-webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
	cursor: pointer;
}

.seperator {
	-webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
	display: inline-block;
    width: 100%;
    padding: 0 15px 0 0; //additional 
}
