.reveal {
    margin: 0 20px;
    overflow: hidden;
}

.reveal__content {
    font-weight: 700;
    font-size: xx-large;
    text-transform: uppercase;
    transform: translateY(100%);
    animation: reveal 1.7s cubic-bezier(1, 0, 0.3, 0.9) forwards;
}

.reveal:nth-child(2) .reveal__content {
    animation-delay: 0.6s;
}

.reveal:nth-child(3) .reveal__content {
    animation-delay: 1.2s;
}

@keyframes reveal {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}




