{% extends '_layouts/base' %}


{% block bodyContent %}

{% set contact = craft.entries.section('contactus') %}
{% set entries = contact.all() %}
{% for entry in entries %}

<section class="pl-16">
  {% for image in globalBlackLogo.logo.all() %}
  <div id="logo" class="w-full">
    <a href="{{ url('') }}">
    <img class="pt-8 sm:pl-20 mx-auto sm:mx-0 w-48 sm:w-64" src="{{ image.getUrl() }}" alt="Windsor logo"/>
   </a>
  </div>
  {% endfor %}

     <section class="w-full md:w-1/2 px-6 lg:px-24 md:pt-32 pt-12 pb-12 pb-32">
       <img
         class="md:absolute top-0 right-0 w-full md:w-1/2 pb-12 md:pb-0 md:pl-32 md:h-screen object-cover"
         src="{{ entry.featuredImage.one().url }}"
       />

       <h1 data-aos="fade-up" class="text-4xl md:text-5xl font-hairline">
         {{ entry.title }}
       </h1>


       <!-- New Zealand -->
       <!-- Address -->
       <h2 data-aos="fade-up" class="mt-8 font-semibold">New Zealand</h2>
       <p data-aos="fade-up" class="font-normal max-w-xs mt-1">
         {{ entry.address }}
       </p>

       <!-- Contact Info -->
       <div data-aos="fade-up" class="contact-info flex flex-col mt-4 mb-12">
         <!-- Phone -->
         <a class="flex items-center" href="tel:{{ entry.contactnumber }}"
           ><i class="fas fa-phone-alt pr-1"></i>{{ entry.contactnumber }}</a
         >
         <!-- Email -->
         <a
           class="flex items-center"
           href="mailto:{{ entry.email }}"
           ><i class="fas fa-envelope pr-1"></i>{{ entry.email }}</a
         >
         <!-- Instagram -->
         <a class="flex items-center" href="https://www.instagram.com/{{ entry.instagram }} "  target="_blank"
           ><i class="fab fa-instagram pr-1"></i>{{ entry.instagram }}</a
         >
         <!-- Linked In -->
         <a class="flex items-center" href="{{ entry.linkedin }}" target="_blank"
           ><i class="fab fa-linkedin pr-1"></i>Connect with us</a
         >
       </div>

       <!-- Australia-->
       <h2 data-aos="fade-up" class="mt-8 font-semibold">Australia</h2>
       <!-- Contact Info -->
       <div data-aos="fade-up" class="contact-info flex flex-col mt-1 mb-12">
         <!-- Phone -->
         <a class="flex items-center" href="tel:{{ entry.contactnumber }}"
           ><i class="fas fa-phone-alt pr-1"></i>{{ entry.australianPhoneNumber }}</a
         >

       </div>


       <!-- Send Message -->
       <h1
         data-aos="fade-up"
         class="text-4xl md:text-5xl font-hairline mb-4 leading-tight"
       >
         Send a message
       </h1>
       <!-- Form -->
       {% macro errorList(errors) %}
          {% if errors %}
              <ul class="errors">
                  {% for error in errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
      {% endmacro %}

      {% from _self import errorList %}

    {{ wheelformErrors['form'] is defined ? errorList(wheelformErrors['form']) }}
        <form method="post" accept-charset="UTF-8" novalidate="" enctype="multipart/form-data"
          data-aos="fade-up"
          data-aos-anchor-placement="top"
          class="w-full mt-16 mb-16 mx-auto max-w-4xl"
          action=""
        >
        {{ csrfInput() }}
        <input type="hidden" name="action" value="wheelform/message/send">
        <input type="hidden" name="form_id" value="1">
        {% if craft.app.session.hasFlash('wheelformSuccess') %}
            <p class="message success mb-12 p-color font-base">{{ craft.app.session.getFlash('wheelformSuccess') }}</p>
        {% endif %}
          <!-- Name -->
          <div class="w-full grid grid-cols-1 gap-8 text-left mb-8">
            <div id="request-form" class="flex flex-col">
              <input  id="from-name"
                class="input-border focus:outline-none"
                name="name" value="{{ values['name'] ?? '' }}"
                type="text"
                placeholder=" "
                data-placeholder="full-name"
              />
              <label class="uppercase text-sm font-base" for="from-name"
                >Full Name</label
              >
            </div>
            {{ wheelformErrors['name'] is defined ? errorList(wheelformErrors['name']) }}
          </div>

          <!-- Email and Phone -->
          <div
            id="request-form"
            class="w-full grid grid-cols-1 gap-8 text-left mb-8"
          >
            <div class="flex flex-col">
              <input
                class="input-border focus:outline-none" id="from-email"
                name="email" value="{{ values['email'] ?? '' }}"
                type="email"
                placeholder=" "
                data-placeholder="E-mail"
              />
              <label class="uppercase text-sm font-base" for="from-email"
                >Email Address</label
              >
              {{ wheelformErrors['email'] is defined ? errorList(wheelformErrors['email']) }}
            </div>
            <div class="flex flex-col">
              <input
                class="input-border focus:outline-none" id="phone"
                name="Phone" value="{{ values['phone'] ?? '' }}"
                type="text"
                placeholder=" "
                data-placeholder="Phone"
              />
              <label class="uppercase text-sm font-base" for="phone"
                >Phone</label
              >
              {{ wheelformErrors['Phone'] is defined ? errorList(wheelformErrors['Phone']) }}
            </div>
          </div>

          <!-- Mail Address -->
          <div id="request-form" class="w-full flex flex-col mb-12">
            <input
              class="input-border focus:outline-none"
              type="textarea"
              name="Mailaddress"
              id="mail-address"
              placeholder=" "
              data-placeholder="Mail"
            />
            <label class="uppercase text-sm font-base" for="mail-address"
              >Mail Address</label
            >
            {{ wheelformErrors['Mailaddress'] is defined ? errorList(wheelformErrors['Mailaddress']) }}
          </div>

          <!-- Message -->
          <div class="w-full flex flex-col mb-12">
            <label class="mb-2 uppercase text-sm font-base" for="message"
              >Message</label
            >

            <textarea
              class="w-full border border-gray-500 focus:outline-none p-2"
              name="message"
              id="message"
              cols="3"
              rows="5"
            ></textarea>
            {{ wheelformErrors['message'] is defined ? errorList(wheelformErrors['message']) }}
          </div>
          <div class="flex w-full mt-12 mb-6 relative cursor-pointer">
            <button class="uppercase p-back text-white py-1 px-4 text-base cursor-pointer" for="message" id="customButton">ATTACH AN IMAGE OR FILE</button>
            <input class="absolute opacity-0 w-56 focus:outline-none cursor-pointer" type="file" id="fileUpload" name="user_file">
            <span class="mx-4" id="fileName"></span>
          </div>

          <div class="recaptcha-container w-full flex flex-col mb-12">
              <script src="https://www.google.com/recaptcha/api.js"></script>
              <div class="g-recaptcha" data-sitekey="6LeWY8QZAAAAAFafow0uB6b18P1l_5t7qm15ylmi">
              </div>
          </div>

          <input
            class="mt-4 p-back text-white py-1 px-4 text-base"
            type="submit" value="Send"
          />
        </form>



       <!-- Delivery Instructions -->

      {% for i, block in entry.deliveryInstructions.all() %}

       <h1
         data-aos="fade-up"
         data-aos-anchor-placement="top"
         class="text-4xl md:text-5xl font-hairline mb-8"
       >
         {{ block.deliveryTitle }}
       </h1>
       <div
         data-aos="fade-up"
         data-aos-anchor-placement="top"
         data-aos-duration="600"
         class="uppercase font-bold mb-4"
       >
         {{ block.subTitle }}
       </div>
       <div
         data-aos="fade-up"
         data-aos-anchor-placement="top"
         data-aos-duration="700"
         class="font-light text-sm"
       >
        {{ block.deliveryDetails }}
      </div>
       {% endfor %}
     </section>
</section>

<script>
document.getElementById("customButton").addEventListener("click", function(){
  document.getElementById("fileUpload").click();  // trigger the click of actual file upload button
});

document.getElementById("fileUpload").addEventListener("change", function(){
  var fullPath = this.value; // fetched value = C:\fakepath\fileName.extension
  var fileName = fullPath.split(/(\\|\/)/g).pop();  // fetch the file name
  document.getElementById("fileName").innerHTML = fileName;  // display the file name
}, false);
</script>






{% endfor %}
{% endblock %}
