<!-- Story redesign -->
    <section
      id="team"
      class="w-full flex flex-col justify-center items-center pl-12 md:pl-16"
    >
      {# <h1
        data-aos="fade-up"
        class="text-4xl md:text-5xl font-hairline text-center px-6"
      >
        Vision, Mission and Vision
      </h1> #}

      <div data-aos="fade-up" data-aos-duration="800" class="members mt-16 w-full justify-center px-6 lg:px-64 grid gap-24 grid-cols-1 sm:grid-cols-2 lg:grid-cols-2">
        {% for block in vissionMission.children.all() %}

              {% include '_includes/_neo/Builders/OurStory/vissionMission/' ~ block.type.handle with {
                (block.type.handle): block
              } %}

        {% endfor %}
          {# <div class="w-full relative flex flex-col text-center justify-between overflow-hidden mx-auto">
            <h1 class="text-3xl p-color font-light">Mission</h1>
            <p class="text-center max-w-2xl text-base font-light mt-6 px-6 aos-init aos-animate">We fulfil dreams and needs by providing innovative, bespoke architectural hardware products that are elegant, functional, reliable and produced in a sustainable way.</p>
          </div> #}
      </div>
    </section>
