<!-- Products -->
{% set iconBlockImage = IconBlock.featuredImage.one() %}

{% set thumb = { mode: 'crop', width: 426, height: 432, quality: 100, position: 'top-center' } %}

<!-- Icon Blocks -->
<a href="{{ IconBlock.linkItNoCustomText.url }}" class="block relative w-full h-full overflow-hidden">
          <figure class="snip1206i w-full h-full">
            <img class="w-full" src="{{ iconBlockImage.getUrl(thumb) }}" width="{{ iconBlockImage.getWidth(thumb) }}" height="{{ iconBlockImage.getHeight(thumb) }}">
            <figcaption>
              <p class="hidden md:block text-white uppercase tracking-wider text-center">
                {{ IconBlock.plainText }}
              </p>
            </figcaption>
            <h2 class="absolute bottom-0 z-20 block md:hidden w-full p-2 text-white uppercase tracking-wider text-center">
              {{ IconBlock.plainText }}
            </h2>
          </figure>
        </a>
