$blackColour: #000000;

$primaryLightColour:#000000;
$primaryColour:#000000;
$primaryDarkColour:#004b80;

$secondaryLightColour:#e3e3e3;
$secondaryColour:#939598;
$secondaryDarkColour:#2b2b2b;
 
$whiteColour: #ffffff; 