$primaryFont: 'Gotham Book';
$secondaryFont: 'gothambold1';

/* checkbox css */

    /* Customize the label (the checkbx-container) */
    .checkbx-container {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .checkbx-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: transparent;
        border: 2px solid #000;/* changes made here */
        /*background-color: #eee;*/
    }

    /* On mouse-over, add a grey background color */
    .checkbx-container:hover input~.checkmark {
        background-color: transparent;/* changes made here */
        /*background-color: #ccc;*/
    }

    /* When the checkbox is checked, add a blue background */
    .checkbx-container input:checked~.checkmark {
        background-color: transparent;/* changes made here */
        /*background-color: #2196F3;*/
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .checkbx-container input:checked~.checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkbx-container .checkmark:after {
        left: 4px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid #000;/* changes made here */
        /*border: solid white;*/
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

/* css of Number of Lambs,Number of Ewes textbox

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

/* right sectipon, left section , floating image css */

.floating-holder .floating-inner-solo-left {
    position: relative;
    top: 0px; /* edited */
    right: 108px;
}

.floating-holder .floating-inner-solo-right {
    position: relative;
    top: 0px; /* edited */
    left: 50px;
}

// html body .wrapper .sectionRightAlignContainer {
//     background: linear-gradient(90deg, #fff 95%, #f7f7f7 5%);
//     margin-top: 10%; /* edited */
//     padding: 60px;
// }
//
//
// html body .wrapper .sectionLeftAlignContainer {
//     background: linear-gradient(-90deg, #fff 95%, #f7f7f7 5%);
//     margin-top: 10%; /* edited */
//     padding: 60px;
// }
//
// html body .wrapper .sectionCenterAlign{
//
//   display: inline-block;
// }
