<section class="w-full flex flex-col justify-center items-center pl-12 md:pl-16 py-32 lg:py-48">
  <h1 data-aos="fade-up" class="leading-tight text-4xl md:text-5xl font-hairline text-center max-w-3xl line-66 font-hairline mx-6">
    {{ IntroParagraph.plainText}}
  </h1>
  <div data-aos="fade-up" data-aos-duration="600" class="text-center max-w-4xl text-base mt-6 tracking-wider leading-loose font-light mx-6">
    {{ IntroParagraph.richtext }}
  </div>
</section>
