{# {% extends '_layouts/base' %}

{% block bodyContent %}
{{ parent() }}

{% set finish = craft.entries.section('finishes') %}
{% set entries = finish.all() %}
{% for entry in entries %}
<section class="finish-back">
<section>
<div id="logo" class="relative w-full h-screen finish-banner">

  <h1 class="finishes-heading absolute top-0 w-full h-full text-white pt-48 pl-16 sm:pl-0 bg-black bg-opacity-50 leading-tight text-4xl md:text-5xl font-hairline text-center tracking-wider Z-0">
    <span>
      {{ entry.title }}
    </span>

  </h1>
  <div class="pl-16 index-logo w-full">
    <img class="pt-8 sm:pl-20 w-48 sm:w-64 z-10 mx-auto sm:mx-0" src="/assets/images/template/Windsor-Logo_Architectural-Hardware_WHITE.png" alt="Windsor logo"/>
  </div>
</div>
</section>

<!-- Animated Line -->

<div class="finish-line"></div>

<section class="w-full flex flex-col sm:flex-row pl-16 sm:pl-0 py-24">
<img class="w-full sm:w-1/3 md:w-1/2 lg:w-7/12 object-cover px-6 sm:px-0 flex-shrink-0" src="/assets/images/Finish/Finishes_img2.png" alt=""/>
<div class="flex justify-center items-center flex-col px-6 sm:px-12 md:px-24 py-12 text-white text-center">
  <h1 class="leading-tight text-2xl md:text-4xl font-hairline px-6">
    {{ entry.heading }}
  </h1>
  <div class="font-hairline text-xs md:text-base mt-6">
    {{ entry.richtext }}
  </div>
</div>
</section>
<!-- Finishes -->

<section class="pl-16">
<div id="my-thumbs-list" class="mThumbnailScroller mx-auto max-w-6xl relative standard" data-mts-axis="x">
  <ul class="mx-auto flex">
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/BLK_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/GN_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/MC_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/SC_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/SS_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/UB_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/BLK_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/GN_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/MC_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/SC_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/SS_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/UB_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
  </ul>

  <!-- Swatches Description -->

  <div class="standard-swatch-description overflow-hidden hidden text-sm text-center text-white max-w-xs px-6 mx-auto">
    <h3 class="mb-2 mt-4 uppercase pointer-events-none">Brushed Nickle</h3>
    <p class="mb-2 pointer-events-none">Markup of this will stay empty in the beginning, when the user clicks on the image/swatches, innerText must be added to these elements.
    </p>

    <h3 class="mb-2 mt-4 uppercase pointer-events-none">Lead Team</h3>
    <p class="mb-2 pointer-events-none">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, aperiam?</p>

    <div class="pdf-button">
      <a class="pdf" href="#">Download Pdf</a>
    </div>
  </div>

</div>

</section>

<!-- Special Finishes -->
<section class="w-full flex flex-col sm:flex-row-reverse pl-16 py-24">
<img class="w-full sm:w-1/3 md:w-1/2 lg:w-7/12 object-cover px-6 sm:px-0 flex-shrink-0" src="/assets/images/Finish/Finishes_img3.png" alt=""/>
<div class="flex justify-center items-center flex-col px-6 sm:px-12 md:px-24 py-12 text-white text-center">
  <h1 class="leading-tight text-2xl md:text-4xl font-hairline">
    Special Finishes
  </h1>
  <p class="font-hairline text-xs md:text-base mt-6">
    Lorum Ipsum incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde vol.
  </p>
</div>
</section>

<!-- Finishes -->

<section class="pl-16">
<div id="my-thumbs-list" class="mThumbnailScroller mx-auto max-w-6xl relative special" data-mts-axis="x">
  <ul class="mx-auto flex">
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/BLK_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/GN_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/MC_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/SC_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/SS_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/UB_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/BLK_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/GN_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/MC_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/SC_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/SS_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
    <!-- Swatch Start -->
    <li>
      <a href="javascript:void(0);" class="block relative h-24 w-24 md:h-32 md:w-32 flex justify-center items-center flex-shrink-0 cursor-pointer swatch-box">
        <img class="absolute h-20 w-20 md:h-24 md:w-24 flex-shrink-0" src="/assets/images/Finish/swatches/UB_web.png" alt=""/>
        <p class="w-full h-full absolute swatch-name flex justify-center items-center text-xl uppercase text-white">
          BN
        </p>
      </a>
    </li>
    <!-- Swatch End-->
  </ul>

  <!-- Swatches Description -->

  <div class="special-swatch-description overflow-hidden hidden text-sm text-center text-white max-w-xs px-6 mx-auto">
    <h3 class="mb-2 mt-4 uppercase pointer-events-none">Brushed Nickle</h3>
    <p class="mb-2 pointer-events-none">Markup of this will stay empty in the beginning, when the user clicks on the image/swatches, innerText must be added to these elements.
    </p>

    <h3 class="mb-2 mt-4 uppercase pointer-events-none">Lead Team</h3>
    <p class="mb-2 pointer-events-none">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, aperiam?</p>

    <div class="pdf-button">
      <a class="pdf" href="#">Download Pdf</a>
    </div>
  </div>

</div>

</section>
</section>
{% endfor %}
{% endblock %} #}

{% extends '_layouts/base' %}


{% block bodyContent %}

	{{ parent() }}

	{% include '_includes/_neo/Builders/Finishes' with {
		'neo': entry.Finishes
	} %}

{% endblock %}
