{% extends '_layouts/base' %}

{% block bodyContent %}
  {{ parent() }}

  <div id="logo" class="pl-12 md:pl-16">
    {% for image in globalBlackLogo.logo.all() %}
      <div id="logo" class="w-full">
        <a href="{{ url('') }}">
          <img class="pt-8 sm:pl-20 mx-auto sm:mx-0 w-48 sm:w-64" src="{{ image.getUrl() }}" alt="Windsor logo"/>
        </a>
      </div>
    {% endfor %}
  </div>

  {% set searchQuery = craft.app.request.getParam('q') %}
  {% set entries = craft.entries().section(['swatches', 'jobs', 'staff', 'fittingInstructions', 'news']).search(searchQuery).orderBy('score').all() %}
  {% set entriesProduct = craft.entries().section('products').search(searchQuery).orderBy('score').all() %}

  {# {% set entries = craft.entries.section('products').relatedTo(category).all() %}
  {% for entry in entries %} #}


  <section class="w-full flex flex-col justify-center items-center py-12 pl-12 md:pl-16">

    <h1 class="leading-tight text-4xl md:text-5xl font-hairline text-center xl:mb-6">
      Search Results
    </h1>

    <!-- Search -->
    <div class="w-full pl-8 lg:pl-20 py-3 flex items-center mt-4 md:mt-12 xl:-mt-20 mb-4 md:mb-16">
      <svg onclick="remove()" class="p-color flex-shrink-0 cursor-pointer" width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L13 13M1 13L13 1L1 13Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <form action="{{ url('search/results') }}">
      <input class="ml-4 px-2 py-1 border-l-2 border-gray-700 focus:outline-none focus:shadow-outline" name="q" type="text" placeholder="{{ searchQuery }}"/>
    </form>  </div>

    <!-- Content -->

    <!-- Tabs Heading -->
    <div class="flex w-full mt-4 px-6 lg:px-20 mb-8">
      <div class="flex flex-col w-full border-b font-bold text-sm sm:text-base uppercase text-gray-500">
        <div class="flex">
          <div onclick="toProducts()" id="products" class="tab-item text-center px-2 cursor-pointer tab-active">
            Products ({{ entriesProduct|length }})
          </div>
          <div onclick="toOthers()" id="others" class="tab-item text-center px-2 cursor-pointer">
            Other Results ({{ entries|length }})
          </div>
        </div>
        <div class="search-tab-line" style="height: 2px;background-color: #961b4a;transition: margin-left 300ms;"></div>
      </div>
    </div>

    <!-- Content -->
    <div class="w-full flex px-6 lg:px-20">
      <!-- Product Content -->
      <div id="pContent" class="max-w-lg w-full grid grid-cols-1 gap-8">
        <!-- Repeatable Product -->
        {% for product in entriesProduct %}
          <div class="flex w-full hover:opacity-50">
            {% for i, ent in  product.productVariants.limit(1).all() %}
              {% set prodImg = ent.productImages %}
              {% if prodImg != '' and prodImg.one() != null %}
                <img src="{{ prodImg.one().url }}" alt="" class="flex-shrink-0 w-24 h-24 object-cover mr-4">
              {% endif %}
            {% endfor %}

            <!-- Text -->
            <a href="{{ product.url }}" class="flex-1 flex flex-col">
              <h3 class="p-color uppercase tracking-wide font-bold">
                {{ product.productCategory[0].title }}
              </h3>
              <p class="font-medium -mt-1">
                {{ product.productDescription }}
              </p>
              <p class="text-sm text-gray mb-1">
                {{ product.title }}
              </p>
              <p class="text-sm">
                {{ product.salesHtml }}
              </p>
            </a>
          </div>
        {% endfor %}
        <!-- End -->
      </div>
      <!-- Other Content -->
      <div id="oContent" class="max-w-lg w-full grid grid-cols-1 gap-8">
        <!-- Repeatable Others -->
        <ul>
          <li>
            <a href="#" class="flex flex-col w-full hover:opacity-50">
              <h3 class="font-medium">
                Searched for: <span class="p-color">{{ searchQuery }}</span>
              </h3>
              {# <p class="text-sm">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ipsam repellendus amet at nobis itaque minima debitis eum sed asperiores eveniet ut sunt distinctio nesciunt ad iste nemo laboriosam, inventore eos quos eaque ab. Aliquid molestiae
                labore veniam rerum et.
              </p> #}
            </a>
          </li>
        </ul>

        <!-- End -->
        <!-- Repeatable Others -->
        {% for entry in entries %}
          <a href="{% if entry.type == 'staff'%} {{ '/about-us#our-team' }} {% else %} {{entry.url}} {% endif %}" class="flex flex-col w-full hover:opacity-50">
            <h3 class="font-medium">
              <span class="p-color">{{ entry.title }}</span>
            </h3>
            <p class="text-sm">
              {% if  entry.staffBio is defined %}
                {{ entry.staffBio|striptags }}
              {% elseif entry.richtext is defined %}
                {{ entry.richtext|striptags  }}
              {% endif %}
            </p>
          </a>
        {% endfor %}
        <!-- End -->
      </div>
    </div>

  </section>

</section>

<script>
        let sTabLine = document.querySelector('.search-tab-line');
        let products = document.querySelector('#products');
        let others = document.querySelector('#others');
        let pContent = document.querySelector('#pContent');
        let oContent = document.querySelector('#oContent');

        let pD = products.getBoundingClientRect();
        let pWidth = pD.width;
        let oD = others.getBoundingClientRect();
        let oWidth = oD.width;

        sTabLine.style.width = pWidth + "px";
        oContent.classList.add('hidden');

        function toProducts() {
            sTabLine.style.marginLeft = "0";
            sTabLine.style.width = pWidth + "px"
            products.classList.add('tab-active');
            others.classList.remove('tab-active');
            pContent.classList.remove('hidden');
            oContent.classList.add('hidden');
        }
        function toOthers() {
            sTabLine.style.marginLeft = pWidth + "px";
            sTabLine.style.width = oWidth + "px"
            products.classList.remove('tab-active');
            others.classList.add('tab-active');
            pContent.classList.add('hidden');
            oContent.classList.remove('hidden');
        }
    </script>


{% endblock %}
