{% set categoryId = craft.app.request.getQueryParam('categoryId') %}
{% if categoryId %}
  {% set category = craft.categories.id(categoryId).one() %}
  {% set fittinginstructions = craft.entries.section('fittingInstructions').relatedTo(category) %}
  {% set entries = fittinginstructions.all() %}
  {% if entries|length > 0 %}
    {% for entry in entries %}
      {% set img = entry.fittingImage.one() %}
      <div class="flex flex-col justify-between">
        <div id="catalogue-info{{entry.id}}">
          <!-- Height and width is set in the comment section -->
          <!-- <img class="w-48 h-64 object-cover fitting-img" src="{{ img.getUrl() }}" alt=""/> -->
          <img class="w-48 h-48 object-cover" src="{{ img.getUrl() }}" alt=""/>
          <div class="pt-3 text-base uppercase font-medium tracking-wider">
            {{ entry.title }}
          </div>
          <div class="text-sm">
            {{ entry.fittingProductCode }}
          </div>
        </div>
        <div class="text-xs mt-2">
          <div id="catalogue-buttons" class="mb-1">
            <!-- View Button-->
            <a class="p-color font-base" href="{{entry.url}}">View</a>
          </div>
          <!-- Request Button -->
          {% if entry.fittingInstructionsDoc != ''%}
          <div id="catalogue-buttons">
            <a class="mt-2 p-color font-base" href="{{entry.fittingInstructionsDoc.url}}" target="_blank">Programming Instructions</a >
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
  {% endif %}
{% endif %}
