{% set myCategoryQuery = craft.categories().group('fittingCategories').level(1).all() %}

<!-- Fitting -->
<section class="w-full flex flex-col justify-center items-center px-6 py-10 pb-32">
  <h1 data-aos="fade-up" class="text-4xl font-hairline text-center">
    Fitting Instructions
  </h1>

  <div data-aos="fade-up" data-aos-duration="600" class="w-full flex flex-col mt-12 lg:px-24">
    {% for category in myCategoryQuery %}
      {% set fittinginstructions = craft.entries.section('fittingInstructions').relatedTo(category) %}
      {% set entries = fittinginstructions.all() %}
      {% if entries | length > 0 %}
      {% set enslug = craft.request.query('slug') %}
       {% if enslug is not empty %}
         {% if enslug == entries[0].slug %}
           {% set ischeck = '1' %}
         {% else %}
           {% set ischeck = '0' %}
         {% endif %}
       {% endif %}
        <!-- Instruction Group -->
        <div class="relative mb-2px w-full">
        <input class="opacity-0 absolute w-full h-10 cursor-pointer" type="radio" name="accordion" {% if ischeck == '1' %} checked="" {% endif %}/>
          <div class="plus-minus flex justify-between items-center md:text-lg uppercase font-base">
            <div class="py-2 font-medium">
              {{ category.title }}
            </div>
            <div class="relative">
              <span class="minus">-</span><span class="plus">+</span>
            </div>
          </div>

            {% set childCat = craft.categories().descendantOf(category).all() %}
            {% if childCat %}
              <div class="expand w-full">
                {% for child in childCat %}
                  {% set fittinginstructions = craft.entries.section('fittingInstructions').relatedTo(child) %}
                  {% set entries = fittinginstructions.all() %}
                  {% if entries|length > 0 %}
                    <div class="sub-heading mb-2 relative w-full">
                      <input class="sub-input cursor-pointer w-full h-6 absolute top-0 left-0 opacity-0 child-category" data-category="{{ child.id }}" type="radio" name="sub-heading" id=""/>
                      <svg class="sub-arrow pointer-events-none w-4 h-4 mr-2 p-color inline" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 9L12 16L5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                        <span class="text-sm uppercase font-bold p-color" data-category="{{ child.id }}">{{ child.title }}</span>
                        <div class="cat-{{child.id}} child-category-data sub-content w-full grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5" style="display:none;">

                          {% for entry in entries %}
                            {% set img = entry.fittingImage.one() %}
                            <div class="flex flex-col justify-between">
                              <div id="catalogue-info{{entry.id}}">
                                <!-- Height and width is set in the comment section -->
                                <!-- <img class="w-48 h-64 object-cover fitting-img" src="{{ img.getUrl() }}" alt=""/> -->
                                <img class="w-48 h-48 object-cover" src="{{ img.getUrl() }}" alt=""/>
                                <div class="pt-3 text-base uppercase font-medium tracking-wider">
                                  {{ entry.title }}
                                </div>
                                <div class="text-sm">
                                  {{ entry.fittingProductCode }}
                                </div>
                              </div>
                              <div class="text-xs mt-2">
                                {% if entry.fittingInstructionsDoc != ''%}
                                <div id="catalogue-buttons" class="mb-1">
                                  <!-- View Button-->
                                  <a class="p-color font-base" href="{{entry.fittingInstructionsDoc.url}}" target="_blank">View</a>
                                </div>
                                {% endif %}
                                <!-- Request Button -->
                                {% if entry.fittingProgrammingDetails != ''%}
                                <div id="catalogue-buttons">
                                  <a class="mt-2 p-color font-base" href="{{entry.fittingProgrammingDetails.url}}" target="_blank">Programming Instructions</a >
                                </div>
                                {% endif %}
                              </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                  {% endif %}
                {% endfor %}
            </div>
              {% else %}

              <div class="expand w-full">
              <div class="sub-content w-full grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
                {% for entry in entries %}
                  {% set img = entry.fittingImage.one() %}
                  <!-- Product Expand Start -->

                  <!-- Product Start -->
                  <div class="flex flex-col justify-between">
                    <div id="catalogue-info{{entry.id}}">
                      <!-- Height and width is set in the comment section -->
                      <!-- <img class="w-48 h-64 object-cover fitting-img" src="{{ img.getUrl() }}" alt=""/> -->
                      <img class="w-48 h-48 object-cover fitting-img" src="{{ img.getUrl() }}" alt=""/>
                      <div class="pt-3 text-base uppercase font-medium tracking-wider">
                        {{ entry.title }}
                      </div>
                      <div class="text-sm">
                        {{ entry.fittingProductCode }}
                      </div>
                    </div>
                    <div class="text-xs mt-2">
                      {% if entry.fittingInstructionsDoc != ''%}
                      <div id="catalogue-buttons" class="mb-1">
                        <!-- View Button-->
                        <a class="p-color font-base" href="{{entry.fittingInstructionsDoc.url}}" target="_blank">View</a>
                      </div>
                      {% endif %}
                      <!-- Request Button -->
                      {% if entry.fittingProgrammingDetails != ''%}
                      <div id="catalogue-buttons">
                        <a class="mt-2 p-color font-base" href="{{entry.fittingProgrammingDetails.url}}" target="_blank">Programming Instructions</a >
                      </div>
                      {% endif %}
                    </div>
                  </div>

                  <!-- Product End -->
                {% endfor %}
              </div>
            </div>
            {% endif %}
            <!-- </div> -->
            <!-- Expand End -->
        </div>
      {% endif %}
    {% endfor %}
    <!-- Instruction Group End -->
  </div>
</section>
