<section class="w-full flex flex-col justify-center items-center px-6">
  <!-- Catalogue Start -->
  <div data-aos="fade-up" data-aos-duration="800" class="m-4 w-full lg:px-24 grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
    <!-- Catalogue Item Start -->
    {% set catalogue = craft.entries.section('productCatalogue') %}
    {% set entries = catalogue.all() %}
    {% for entry in entries %}
      {% set img = entry.featuredImage.one() %}
      <!-- Catalogue Item Start -->
      <div class="flex flex-col justify-between">
        <div id="catalogue-info">
          <img class="w-48 h-64 object-cover" src="{{ img.getUrl() }}" alt=""/>
          <div class="pt-3 text-base uppercase font-medium tracking-wider">
            {{ entry.title }}
          </div>
          <div class="text-sm">
            {{ entry.description }}
          </div>
        </div>
        <div class="text-xs mt-2">
          <div id="catalogue-buttons" class="mb-1">
            <!-- View Button-->
            <a class="p-color font-base" href="{{ entry.LinkFiles.url }}" target="_blank">View</a>
          </div>
          <!-- Request Button -->
          <div id="catalogue-buttons">
            <a class="mt-2 p-color font-base" href="#request">Request a copy</a >
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- End -->
  </div>

</section>
