<!-- How to section -->
<section class="w-full flex flex-col justify-center items-center px-6 py-10">
  <h1 data-aos="fade-up" class="text-4xl font-hairline text-center">
    How To Videos
  </h1>

  <div data-aos="fade-up" data-aos-duration="600" class="mt-16 w-full lg:px-24 grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
    <!-- How to Video link -->
    {% set videos = craft.entries.section('howToVideos').all() %}
    {% for video in videos %}
      {% set img = video.backgroundImage.one() %}
      <div class="video-thumb relative w-full cursor-pointer">
      <a href="#" data-video="{{ video.embedUrl }}" class="block relative w-full h-full overflow-hidden open-video">

        <figure class="snip1206 w-full h-full">
          <i class="far fa-play-circle play-icon"></i>
          <img src="{{ img.url }}" alt="sample74"/>
          <figcaption>
            <p class="break-words px-2 hidden md:block text-white text-lg uppercase tracking-wider font-normal text-center">
              {{ video.title }}
            </p>
          </figcaption>
          <h2 class="truncate absolute bottom-0 z-20 block md:hidden w-full p-2 text-white text-lg uppercase tracking-wider font-normal text-center">
            {{ video.title }}
          </h2>
        </figure>
      </a>
    </div>
      <!-- End -->
    {% endfor %}
    <!-- How to Video link -->

  </div>
  <div class="overlay-modal z-50 left-0"></div>
  <div class="video-modal z-50 w-3/4 lg:w-1/2">
    <!-- <div class="video-close">X</div> -->
    <div class="video-close cross z-30 p-2 cursor-pointer" style="margin-top: 35px;"><svg class="h-3 w-3" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L13 13M1 13L13 1L1 13Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg></div>
    <div class="video-content"></div>
  </div>
</section>
{% set enslug = craft.request.query('slug') %}

{% if enslug is not empty %}
  {% set entry = craft.entries.section('howToVideos').slug(enslug).one() %}
  {% if entry.embedUrl is defined %}
  <div class="vdurl" style="display: none;">{{ entry.embedUrl }}</div>
  

  <script type="text/javascript">
  
    $(document).ready(function(){
     
      var href= $('.vdurl').html();
      console.log(href);
      var iframe = '<div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><iframe src="'+ href +'" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe></div></div>';

        $(".video-modal").show();
        $(".video-modal .video-content").html(iframe);
        $(".overlay-modal").show();
        $("body").css("overflow-y", "hidden");

        $(".video-close").on("click", function(){
        $(".video-modal").hide();
        $(".video-modal .video-content").html('');
        $(".overlay-modal").hide();
        $("body").css("overflow-y", "auto");
      });
    });  
  </script>
{% endif %}
{% endif %}


<!-- How to Video link -->
