.bannerWrapper {
	height:574px;
	overflow-y: hidden;
	margin:0 -15px; 

	.banner {
		height:100%;
		max-height:574px;
		width:100%;
		display: block;
		background-repeat: no-repeat;
		background-position: center center;
		background-size:cover;
		-ms-behavior: url(/assets/vendor/background-size-polyfill/backgroundsize.min.htc);
    	position:relative;

		&:before {
			content:'';
			display: block;
			top: 0px;
			left: 0px;
			width: 100%;
			height:100%; 
			position:absolute; 
			background:rgba($blackColour, $opacityLight); 
		}

		.text {
			width: 50%;
			height: 100%;
			background-image:url('/assets/images/template/foodcap-swish.png');
			background-repeat:no-repeat; 
			background-position: 0px -94px;
			position:relative;
  
			h1 {
				color: $whiteColour;
				position: absolute; 
				bottom:60px;
				left: 35px;
				width:44%; 
				margin: 0px;
				font-size: 1.5em;
				line-height: 1.5em;
				max-width: 350px; 
			}


			&.md { 

				h1 {
					bottom:37px;
					width:55%; 
					font-size: 1.4em;
					line-height: 1.4em;		
				}			
			}		

			&.sm, &.xs {
				width: 100%; 
				background: rgba($primaryColour, .9); 
				padding:70px 25px; 

				h1 {
					width: 100%;
					position:initial;
				}
			}	 
		} 
	}
} 

.md {

	.bannerWrapper {
		height: 470px;
	}
}

.sm {

	.bannerWrapper {
		height: inherit; 
	}
}

.xs {

	.bannerWrapper {
		height: inherit;
	}
}