.carousel-control {
    max-width: 45px;
    background: none;
    box-shadow: none;
    background-image: none !important;
    z-index:10000;

	&.left {

	}

	&.right {

	}

	.glyphicon {

		&:before {
			font-family: 'FontAwesome';
			text-shadow: none;
			font-size: 1.1em;
		}

		&.glyphicon-chevron-left {
			
			&:before {
				content:'\f104';
			}
		}

		&.glyphicon-chevron-right {
			
			&:before {
				content:'\f105';
			}
		}		
	}
}