.downloadsWrapper {
	padding:0 0 35px 0;
   
	.download {
		display: block;
		color: $blackColour;
		font-weight: bold;
		font-size: .9em;
		margin: 5px 0;
		
		i {
			color: $primaryColour;
			margin:0 5px 0 0;
		}
	}
} 