.goToButtonsWrapper, .GoToButtonsSubSectionWrapper {
//	padding: 15px 0 4px 0;

    margin: auto;
    // width: 75%;
    // padding-top: 65px;
    padding-top: 40px;
    // padding-bottom: 60px;


  a {
      color: #000000;
      font-weight: 900;

      // &:active{
      //   color: green;
      // }
  }

}

.buttonsWrapper {
	padding:15px 0 0 0;
}

.goToButton, .slideRevealButton {
	transition: all $transitionTimeFast;
	overflow:hidden;
	padding: 0px;
	position: relative;
	right: inherit;
	top: inherit;
	line-height: 0px;

	&:hover {
		background:$secondaryLightColour;
	}

	* {
		transition: all $transitionTimeFast;
	}

	.off, .on {
		transition: all $transitionTimeSlow;
		padding: 20px 40px;
	}

	&.iconLeft {

		.off, .on {
			padding-left:40px;
			padding-right:20px;
		}
	}

	&.iconRight {

		.off, .on {
			padding-right:40px;
			padding-left:20px;
		}
	}

	.off {
		display: block;
		// color: $blackColour;
		color: #fff;
		background:$blackColour;
		padding: 21px;
	}

	.on {
		position: absolute;
		// background:$primaryColour;
		// color: $whiteColour;
		background: #fff;
		color: #000;
		left: -100%;
		top:0px;
		border: 1px solid #000;

		i {
			color: #000;
		}
	}

	i {
		position: absolute;
		top: 8px;
		// right: 15px;
	}

	&:hover, &.is-checked, &.active {
		boreder:50px solid red;

		.on {
			left:0%;
			width:100%;
		}

		.off {
			transform: translateX(100%);
			color: $blackColour;
		}
	}
}
.nav>li>a {
	&:hover, &:focus, &:active{
		background-color: transparent;
		color: #696969;
		h3{
			color: #696969;
		}
	}
	.active{
		background-color: transparent;
	}
}

li.nav-item.text-center.xs {
    width: 100%;
}
