.goToInnerButtonsWrapper, .GoToInnerButtonsSubSectionWrapper {
	padding:15px 0 4px 0;
}

.innerbuttonsWrapper {
	padding:15px 0 0 0;
}
  
.goToInnerButton, .slideRevealInnerButton {
	transition: all $transitionTimeFast;
	overflow:hidden;
	padding: 0px;
	position: relative;
	right: inherit; 
	top: inherit;
	line-height: 0px;

	&:hover {
		background:$secondaryLightColour; 
	}

	* {   
		transition: all $transitionTimeFast;			
	} 

	.off, .on {
		transition: all $transitionTimeSlow;
		padding: 20px 40px;
	}

	&.iconLeft {

		.off, .on {
			padding-left:40px;
			padding-right:20px;  
		}  
	}

	&.iconRight {
		
		.off, .on {
			padding-right:40px;
			padding-left:20px;
		}
	}
  
	.off { 
		display: block;
		color: $blackColour;
	}     
  
	.on {
		position: absolute;
		background:$primaryColour; 
		color: $whiteColour;
		left: -100%; 
		top:0px; 

		i {
			color: $whiteColour; 
		}
	}

	i {
		position: absolute;
		top: 8px;
		right: 15px;  
	}
       
	&:hover, &.is-checked, &.active {
		boreder:50px solid red;
		
		.on {
			left:0%;	
			width:100%;		
		}

		.off {
			transform: translateX(100%);
			color: $blackColour; 
		}
	}  
}