.headerBannerWrapper {
	margin:0 -15px;
	background:$secondaryLightColour;
//	border-bottom:5px solid $whiteColour;

	.textWrapper {
		position: relative;
		height: 100%;

		.text {
			margin:0px;
			color: $whiteColour;
			position: absolute;
			bottom:0px;
			left: 0px;
//			padding:0 40px 40px 40px;
            margin:0 40px 200px 80px;
			z-index:2000;
			text-transform: uppercase;
			font-size: 5em;

			&:before {
//				background: rgba($whiteColour, $opacity);
				content:'';
				height: 10px;
				width: 33%;
				max-width: 255px;
				z-index: 2000;
				position: absolute;
				top: -10px;
				left: 40px;
			}

			&.xs {
				font-size:3em;

				&:before {
					top: -10px;
					height: 7px;
				}
			}

			&.sm {
				font-size: 3.5em;
			}
		}
	}

	&.isHome {

		.imageBanner {
			height: 730px;
		}

		.textWrapper {

			.text {
				font-size: 3em;
			}
		}
	}
}
