.headerBannerWrapper {

	.imageBanner {
//		@include backgroundCover();
		height: 555px;
		position:relative;
		background-position:center;
		background-repeat: no-repeat;
		background-size: cover;
//		&:before {
//			@include blackGradientTextUnderlay();	
//		}		

		&.xs {
			height: 500px !important; 
		}		 
	}

	&.isHome { 

		.imageBanner {
			height: 730px;	
		}
	}
}