.iconBlocksWrapper {
	margin: 0 -15px;
	border-bottom:5px solid $whiteColour;

	.iconBlockWrapper {
		@include backgroundCover();
		background-position:center;
		background-color:$secondaryLightColour;
		margin: 0 -15px;
		height: 430px;
		overflow:hidden;
		color: $whiteColour;
		position: relative;
		transform-style: preserve-3d;
		transition: all $transitionTime;
		display: block;

		&.sm, &.xs {
			border-bottom:5px solid $whiteColour;
		}

		&.md {
			height: 350px;
		}

		&:before {
			opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
		}

		&:after {
			opacity: 1;
				-webkit-transform: scale(1);
				transform: scale(1);
		}

		&:hover {

			&:after {
				opacity: 1;
			}

			.overlay {
				opacity:1;
				transform: scale(1);
				width: 100%;
				height:100%;
				top:0;
			}

			.heading {
				opacity: 0;
				left: -35%;
			}
		}

		.heading {
			transition: all $transitionTimeSlow;
			opacity: 1;
			position:absolute;
			bottom: 20px;
			left: 35px;
			color: $whiteColour;
			margin:0px;

			&.xs {
				font-size:3em !important;
			}

			&.md {
				font-size: 3em;
			}
		}

		.overlay {
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			opacity: 0;
			text-align: center;
			padding: 150px 15px 15px 15px;
			color: $whiteColour;
			position: relative;
			transform: translateY(-50%);
			top: -25%;
			z-index: 10000;
			background:rgba($primaryColour, 0.6);
			width: 100px;
			height:100px;
			background-image: url("/assets/images/template/double_img.png");
			// background-position: -7px;
			 background-position: -10px;
			background-size: contain;
			background-repeat: no-repeat;
			transition: all 1s;
			// &:hover {
			//
			// 		transition: all $transitionTime;
			// 		// @include opacity(0);
			// 		content:'';
			// 		background:rgba($primaryColour, $opacityDark);
			// 		position: absolute;
			// 		top:0px;
			// 		left: 0px;
			// 		width: 100%;
			// 		height:100%;
			// 	}


			.heading {
				color: $whiteColour;
				position: inherit;
				bottom: inherit;
				left: inherit;
				margin: 0 0 15px 0;
				opacity: 1;
				font-size: 1.7em;
			}

			.content {
				color: $whiteColour;
				padding:0 30px;
			}
		}
	}
}

.grid {
	position: relative;
	/*margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;*/
	list-style: none;
	text-align: center;
}

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	// margin: 10px 1%;
	min-width: 320px;
	// max-width: 400px;
	// max-height: 360px;
	// width: 48%;
	background: #000;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
	color:#FFFFFF;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
    font-size: .8em;
    color: #FFFFFF;
    text-transform: none;
}

/*---------------*/
/***** Oscar *****/
/*---------------*/

figure.effect-oscar {
	background: -webkit-linear-gradient(45deg, #000 40%);
	background: linear-gradient(45deg, #000 40%);
}

figure.effect-oscar img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	min-width: 100%;
}

figure.effect-oscar figcaption {
	padding: 3em;
	// background-color: rgba(58,52,42,0.7);
	background-color: rgba(0, 0, 0, 0);
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
}

figure.effect-oscar h2 {
	margin: 30% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

figure.effect-oscar:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-oscar:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
	opacity: 0.4;
}

.grid figure{

		max-width: 33.33%;
		margin: 0;
		width: 100%;
		&.xs {
			max-width: 100%;
		}

}
