.imageBannerWrapper { 
	margin:15px -15px; 

	.imageBanner {
//		@include backgroundCover();
		background-position:center;  
	}
 
	.caption {
		font-size: .8em;
		margin:15px 0 0 0;    

		i {
			color: $primaryColour; 
			margin: 0 2px 0 0;
		}
	}
}