.officesMapWrapper {
 	// margin:15px 0 60px 0;

	a, .link {
		color: $blackColour;
		transition: all $transitionTimeFast;
		cursor: pointer;

		&:hover {
			opacity: $opacity;
		}
	}

	.link {
		font-weight: bold;
	}

	.contactsWrapper {
		margin:0 20px 30px -15px;

		.officeContactWrapper {
			margin:15px 0;

			.contactPiece {
				margin:5px 0;
				position: relative;
				padding: 0 0 0 25px;

				i {
					color: $primaryColour;
					position:absolute;
					top:0;
					left:0px;
				}
			}
		}
	}

	.mapWrapper {
		// margin:30px -15px 45px -15px;

		.infoBox {
 			margin:30px 0 0 -5px;

			img:first-child {
				position: absolute;
				cursor: pointer;
				top: 5px;
				right: 5px;
				z-index: 1000;
				opacity: $opacity;
				margin-top: 45px !important;

				&:hover {
					opacity: 1;
				}
			}

			&[id^='infoBox'] {
				background:$whiteColour;
				border:2px solid $secondaryLightColour;
				box-shadow:5px 3px 10px -7px  $secondaryColour;
				padding:15px;
				border-radius:5px;
				position:relative;
				width: 250px;
				font-size: 1.2em;

				&:after, &:before {
					right: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				&:after {
					border-color: rgba($whiteColour, 0);
					border-right-color: $whiteColour;
					border-width: 10px;
					margin-top: -10px;
				}

				&:before {
					border-color: rgba($secondaryLightColour, 0);
					border-right-color: $secondaryLightColour;
					border-width: 13px;
					margin-top: -13px;
				}

				.title {
					font-family: $primaryFont !important;
					color: $blackColour;
					margin:0px;
					font-weight: bold;
					text-transform:none;
				}

				.address {
					margin: 0px;
				}
			}
		}
	}
}

.officeContainer{
      // background: #ffffff;
			background: linear-gradient(90deg, #fff 95%, #f7f7f7 5%);
}
