.relatedStaffWrapper {
	margin:0 -15px 20px -15px; 
 
	a {
		color: $blackColour;
		transition: all $transitionTimeFast; 
		cursor: pointer;  
 
		&:hover { 
			opacity: $opacity; 
		}
	}
 
	.staffMemberWrapper {

		.profilePhoto {
			height:175px;  
			width:175px;
			border-radius:50%;  
			margin-bottom:25px;
			@include backgroundCover();
			background-position:center;  
		}  
  
		.nameWrapper {
			margin:0 0 15px 0; 
 
			.title {
				margin: 0 0 5px 0; 
				font-family:$primaryFont !important;
				color:$primaryColour; 	
				font-size: 1em; 
				font-weight: 600;
				line-height: 1.4em;				
			}
 
			.position, .location {
				font-style: italic;
				display: block;
				margin: 0;
				font-size: .9em;				
			}
		} 
 
		.bioWrapper {
			font-size: .8em;
		}

		.contactsWrapper {
			margin:20px 0 0 0;
			padding: 5px 0 0 0;

			a {
				transition:all $transitionTimeFast;
				margin:0 5px 0 0;

				i {
					color: $primaryColour;
				}
			}
		}

		.quoteWrapper {
 
			quote {
				font-size: .9em;  		
			}
		}
	}
}