.relatedStaffWrapper {

	.staffMemberWrapper.procurement {
		margin:0 0 40px 0;
		
		.contactPiece {
			margin:5px 0;
			position: relative;
			padding: 0 0 0 25px; 

			i { 
				color: $primaryColour; 
				position:absolute;
				top:3px;
				left:0px;
			}
		}		
	}
}