.relatedJobsWrapper {

	.relatedJobWrapper {
		margin-top:60px;
		margin-bottom:15px;

		&:first-child {
			margin-top:0px;
		}

		.meta {
			margin:15px 0 20px;

			.location {
				color:$primaryColour;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 1em;
				font-size: .9em;
				margin: 0px;
      font-size: 18px;
       text-transform: uppercase;
       font-weight: 400;

			}

			.closeDate {
				font-size: .9em;
				font-weight: bold;
				margin: 0px;
				font-style: italic;
			}
		}

		.description {
			margin:0 0 35px 0;
		}
	}
}
