.richTextWrapper {
	
	.textWrapper {
		
		&.positionCenter {
			margin:0 auto;
		}

		&.positionRight {
			float: right; 
		}		
 
		&.xs, &.sm {
			width:100% !important; 
		}
	}

	figure {
		margin: 45px 0 35px 0; 

		img {
    		max-width: 100%;
		}
  
		figcaption {
			font-style: italic;
			color: $secondaryColour;
			font-size: .9em;
			border-top: 3px solid $primaryColour;
			margin: 5px 0 0 0;
			padding: 5px 0;
		}
	}
}
 
.richText {

	.fa {  
		color:$primaryColour;  
	}

	ul {
		list-style-type: none;
		padding:0px;
		margin: 20px 0; 
		  
		li {
			font-weight: 300;
			font-size: 1.1em;
   			margin: 15px 0;
 
			&:before {
				content:'\f00c';
				font-family:'FontAwesome';
				color: $primaryColour;
				display: inline-block;
				margin-right: 11px;
			}
		}
	}
}  