.searchWrapper {
	padding:60px 0;

	.search { 
  
		.headingWrapper {
			position:relative;
			border-right:3px solid $primaryColour;

			i {
				display: inline-block;
				font-size: 1.5em;
				color: $primaryColour; 
				position:absolute; 
				top: 35px;
				right: 140px;
			}
  
			.heading {
				display: inline-block;
				font-size: 2em;
				margin: 20px 0 25px 0;
				padding:0 5px 0 0;  
				width: 100%;
				text-align: right;
			}
		}
  
		.input {

			input {
				border:none;
				width: 100%;
				font-size: 2em;
				padding: 23px 12px;

				&:focus {
					outline:none; 
				}

				&::placeholder {
					color: darken($secondaryLightColour, 10);  
				}
			}
		}

		.submit {

			button {

			}
		}
	}
}