.socialIconsWrapper {

	a {
		$size: 75px;

		border-radius:50%;
		height: $size;
		width: $size;
		display: inline-block;
		border:3px solid $primaryColour;	
		color:$primaryColour;		
		transition:all $transitionTimeFast;
		text-align: center;
		padding: .15em 0 0 0;
		font-size: 2.5em;
		margin: 0 10px 0 0;

		i {
			color:$primaryColour;
			transition:all $transitionTimeFast;
		}

		&:hover {
			background:$primaryColour;

			i {
				color:$whiteColour;
			}
		}

	}
}