.staffProfiles {
//	padding:70px 0;
    padding-top: 70px;

//	.staffProfile {
//		display: inline-block; 
//		margin: 10px;
//
//		.profilePic {
// 
//		} 
//
//		.meta {
//			margin:20px 0 0 0; 
// 
//			.name {
//				font-size: 1.4em; 
//			} 
// 
//			.position {
//				font-style: italic; 
//				color: $blackColour;
//				margin: 5px 0 20px 0;
//				font-size: .9em;				
//			} 
//
//			.phone, .email {
//				font-size: .9em; 
//				display: block;
//				margin:3px 0 5px 0;  
//				transition: all $transitionTimeFast; 
//
//				&:hover {
//					color: $primaryColour; 
//				} 				
//			}
//
//			.phone {
//				color: $blackColour;				
//			}
//
//			.email {
//				color: $secondaryColour;
//				font-weight: bold;
//			}			
//		}
//	} 
}