.tableWrapper {
  
	table {
		margin-top:5px;
	}
}

table {
	margin:30px 0 15px 0; 
	width: 100%;

	&.small-only {
		display: none;
		margin: 10px 0; 
	    border: 1px solid $secondaryLightColour;
  
		&:first-child {
			margin-top:30px;
		}

		&:last-child {
			margin-bottom:30px;
		}
 
		&.xs {
			display: table;
		}
 
		tr {
    
			td {
  
				&.st-key, &:first-child {
					width:25%;  
				    padding: 7px;
				    border-right:1px solid $secondaryLightColour;  
				    background:rgba($secondaryLightColour, $opacityLight); 
				}  
   
				&.st-val, &:last-child {
					width:75%;
				    padding: 7px;
				}
			}
		}
	}

	&.large-only {
		display: inline-table;
 
		&.xs {
			display: none;
		}
	}
 
	thead {

		tr {
			  
			&:first-child {
				border-top:none;
			}

			th {
				color: $secondaryLightColour;
				font-weight: bold;				
			} 
		}

		&.show-border {

			tr {

				th {
					border-bottom: 3px solid #e3e3e3; 
				}
			}
		}
	}

	tbody {

		tr {

			td {

			}
		}
	}

	tfoot {

		tr {

			td {
				border-top: 3px solid #e3e3e3; 
			}
		}
	}

	tr {
		border-top:1px solid $secondaryLightColour;

		&:first-child {
			border:none;
		}

		td, th {
			padding:7px 30px 7px 0;
			font-size:.9em;  

			* {

				&:first-child {
					margin-top: 0px;
				}

				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
}