/*:root {
  --scale: 0.3;
}
.videoBanner {
	margin: 45px -15px 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:20%;
    left: 12.5%;
    width: 75%;
	height: 80%;
	transition: all 2s linear;
	&:hover {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
*/
.VideoBanner {
	padding-right: 0;
    padding-left: 0;
	margin-top: 40px;
	&.xs {
		display: none;
	}
}
.videoBannerWrapper {

	position: relative;
	overflow:hidden;
	height: 730px;
	width: 80%;
    margin: 90px auto;
	transition: all 1s linear;
	&:hover {
		width: 100%;
		margin: 30px auto 0;
	}
	.videoWrapper {
		width: 100%;
		background: #fff;
		opacity: 1;
		position: relative;
		max-height: 100%;
		height: 100%;
		.video {

			height: 100%;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				&.lg {
					top: -20%;
					width: 140%;
					height: 140%;
					left: -20%;
				}
			}

			&.xs {
				top: 50%;
				left: -50%;
				width: 200%;
				height: 200%;
			}
		}
	}
}

/*
.videoBannerWrapper {
	margin:15px -15px;
	position: relative;
	overflow:hidden;

	.videoWrapper {
		width: 100%;
		background: $whiteColour;
		opacity: 1;
		position: relative;

		.video {
			padding-top: 56.25%;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 100%;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			&.xs {
				top: 50%;
				left: -50%;
				width: 200%;
				height: 200%;
			}
		}
	}

	&:before {
		transition: all $transitionTime;
		background: rgba($blackColour, $opacityLight);
		content:'';
		position:absolute;
		top:0px;
		left:0px;
		height:100%;
		width:100%;
		z-index: 1000;
	}

	&:hover {
		cursor: pointer;

		&:before {
			background: rgba($blackColour, $opacity);
		}
	}

	.overlay {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1000;
		text-align: center;
		width: 100%;

		.playButton {
 			margin: 0 0 15px 0;

			img {
				margin:0 auto;

				&.xs {
					display: none;
					margin-bottom:5px;
				}
			}
		}

		.heading {
			color: $whiteColour;
		    font-size: 2.5em;
		    padding:0 15px;
		    margin:0px;

		    &.xs {
		    	font-size: 2em;
		    }
		}
	}
}*/
