.videoBannerWrapper.isHeader {
  	margin-top:0px;
  	margin-bottom: 0px;

	&:before {
		display: none;
		cursor:default;
	}

	.textWrapper {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		cursor:default;
	}

	.videoWrapper {

		&:before {
			z-index: 1000;
			// @include blackGradientTextUnderlay();
			cursor:default;
		}

		.video {

			iframe {

				&.md {
					top: -10%;
					width: 120%;
					height: 120%;
				}

				&.sm {
					width: 180%;
					height: 180%;
					top: -40%;
				}

				&.xs {
					width: 210%;
					height: 100%;
					top: 0px;
				}
			}

			&.xs {

			}
		}
	}

	&:before {

	}

	&:hover {

		&:before {

		}
	}
}
