.videoBannerWrapper {
	margin:15px -15px;
	position: relative;
	overflow:hidden;
  
	.videoWrapper {
		width: 100%;
		background: $whiteColour; 
		opacity: 1;
		position: relative;
 
		.video {
			padding-top: 56.25%;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 100%;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			&.xs {   
				top: 50%;
				left: -50%;  
				width: 200%; 
				height: 200%;				
			}
		}	
	}

	&:before {
		transition: all $transitionTime;  
		background: rgba($blackColour, $opacityLight); 
		content:'';
		position:absolute;
		top:0px;
		left:0px;
		height:100%;
		width:100%;
		z-index: 1000;
	}  
   
	&:hover { 
		cursor: pointer;

		&:before {
			background: rgba($blackColour, $opacity);
		}
	}  

	.overlay {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1000;
		text-align: center;
		width: 100%;
  
		.playButton {				
 			margin: 0 0 15px 0;
 			
			img {
				margin:0 auto; 

				&.xs {
					display: none;  
					margin-bottom:5px; 
				}				
			}
		}  
 
		.heading {
			color: $whiteColour; 
		    font-size: 2.5em;
		    padding:0 15px;
		    margin:0px; 

		    &.xs {
		    	font-size: 2em; 
		    }		    
		}
	}
}