.videoGalleryWrapper {
	padding:0 15px; 
	margin-bottom:30px;

	.links {

		.videoWrapper {			
			position: relative;
			transform-style: preserve-3d; 

			&:before {
				position:absolute;  
				top:0px;
				left:0px;  
				content: '';
				background: rgba($primaryColour, $opacity);  
				width: 100%; 
				height: 100%;
				z-index: 1000;	
				opacity:0;
				transition: all $transitionTimeFast; 
				cursor:default;   
			}		 	

			a {
				display: block;

				&:before {
					position:absolute;
					top:50%;
					left:0px;
					content: '\f065';
					font-family: 'FontAwesome';
					color: $whiteColour;
					width: 100%;
					text-align: center;	
					z-index: 2000;	
					font-size: 3em;	
					margin-top: -15px;	
					opacity:0;
					transition: all $transitionTimeFast; 
				}				
			}
 
			&:hover {

				&:before {
					opacity:1; 
				}

				a {

					&:before {
						opacity:1; 
					}
				}
			}
		}  

		.thumbnailRow {
			margin: 0 -5px;
			padding: 5px 0 0 0;
 
			.videoWrapper {
				
				a {

					&:before {
						font-size:1.5em;	
						margin-top: -12px;
					}
				}

				&.small {
					width: 20%;
					float: left;
					border:5px solid $whiteColour;	

					&.xs {
						width: 100%;
					}	

					&.sm {
						width: 25%; 
					}
				}
			}
		}
	}
}  