{% extends '_layouts/base' %}

{% block bodyContent %}

  {{ parent() }}

  <main id="main" class="overflow-hidden w-full">
    {% for image in globalBlackLogo.logo.all() %}
      <div id="logo" class="w-full pl-12 md:pl-16">
        <a href="{{ url('') }}">
          <img class="pt-8 sm:pl-20 mx-auto sm:mx-0 w-48 sm:w-64" src="{{ image.getUrl() }}" alt="Windsor logo"/>
        </a>
      </div>
    {% endfor %}
    <section id="story" class="w-full flex flex-col justify-center overflow-hidden mt-20">

      <div class="pl-12 md:pl-16">
        <!-- Breadcrumbs -->
        <ul class="font-normal flex flex-wrap text-xs tracking-widest mb-12 px-6 lg:px-24">
          <li>
            <a href="/about-us" class="text-gray">About</a >
          </li>
          <li>
            <a href="javascript:void(0);" class="font-base p-color">
              <i class="uil uil-angle-right"></i>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" class="text-gray">{{ entry.title }}</a>
          </li>
        </ul>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2">
        <img data-aos="fade-right" class="w-full object-cover" src="{{ entry.featuredImage.one.url() }}" alt=""/>
        <div class="pl-12 md:pl-16 lg:pl-0">
          <div class="p-6 lg:p-16 w-full overflow-hidden">
            <!-- Content Start -->
            <h3 class="text-4xl md:text-5xl leading-tight capitalize font-hairline">
              {{ entry.title }}
            </h3>
            <div class="text-base uppercase mt-4">{{ entry.postDate|date('d F Y') }}</div>
            <div class="mt-6">
              {{ entry.richtext }}
            </div>
            <!-- Content End -->
          </div>
        </div>
      </div>
    </section>
    {% include 'News/othernews' with {
      'heading' : 'Other News'
    } %}
  </main>
{% endblock %}
