{% set year = craft.app.request.getQueryParam('year') %}
{% set offset = craft.app.request.getQueryParam('display') %}

{% set dateParam = 'and, >= ' ~ year ~ '-01-01, < ' ~ (year + 1) ~ '-01-01' %}
{% set allNewsByYear = craft.entries.section('news').postDate(dateParam).limit(1).offset(offset).all() %}

{% for news in allNewsByYear %}
    <div class="flex flex-col justify-between">
      <div id="article">
        <img class="w-full h-64 object-cover flex-shrink-0" src="{{ news.featuredImage.one.url() }}" alt=""/>
        <div class="pt-3 text-sm uppercase font-medium tracking-wider">
          {{ news.title }}
        </div>
        <div class="text-xs uppercase tracking-wider">
          {{ news.postDate|date('d F Y') }}
        </div>
      </div>

      <div class="read-more-button">
        <!-- View Button-->
        <a class="read-more text-xs mt-2 block" href="{{ news.url }}">Read More</a >
      </div>
    </div>
{% endfor %}
