<section id="news" class="w-full flex flex-col justify-center py-10 pl-12 md:pl-16">
  <h1 data-aos="fade-up" class="text-4xl md:text-5xl font-hairline text-center px-6">
    {{ heading }}
  </h1>
  {% set allNews = craft.entries.section('news').all() %}
  <!-- Year Tabs -->
  <div data-aos="fade-up" data-aos-duration="600" class="flex w-full mt-4 px-6 lg:px-24">
    <div class="flex flex-col w-full border-b font-bold text-xs text-gray-500">
      <div class="flex">
        {% set c = 0 %}
        {% for year, entries in allNews|group("postDate|date('Y')") %}

          <div id="tab-{{ year }}" class="tab-item w-12 text-center cursor-pointer {% if c  == 0 %} tab-border tab-active  {% endif %}">
              {{ year }}
              <div class="tab-line w-12"  {% if c  != 0  %} style="display:none;" {% endif %}></div>
              {% set c = c + 1 %}
          </div>

        {% endfor %}
      <!--  <div onclick="toTwo()" id="tab-2" class="tab-item w-12 text-center cursor-pointer">
          2019
        </div>
        <div onclick="toThree()" id="tab-3" class="tab-item w-12 text-center cursor-pointer">
          2018
        </div>-->
      </div>

    </div>
  </div>

  <!-- Tab Content-->  {% set c = 0 %}
    <div data-aos="fade-up" data-aos-duration="800" class="flex w-full mt-4 px-6 lg:px-24">
    {% for year, entries in allNews|group("postDate|date('Y')") %}

    <!-- Content 1 Start -->
        {% set dateParam = 'and, >= ' ~ year ~ '-01-01, < ' ~ (year + 1) ~ '-01-01' %}
        {% set allNewsByYear = craft.entries.section('news').postDate(dateParam).limit(4).all() %}
      <div id="tab-{{ year }}-content" class="tab-content-item w-full {% if c  == 0 %} show  {% endif %}">

        <div id="content-{{ year }}" class="mt-16 w-full grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
            {% for news in allNewsByYear %}
                <div class="flex flex-col justify-between">
                  <div id="article">
                    <img class="w-full h-64 object-cover flex-shrink-0" src="{{ news.featuredImage.one.url() }}" alt=""/>
                    <div class="pt-3 text-sm uppercase font-medium tracking-wider">
                      {{ news.title }}
                    </div>
                    <div class="text-xs uppercase tracking-wider">
                      {{ news.postDate|date('d F Y') }}
                    </div>
                  </div>

                  <div class="read-more-button">
                    <!-- View Button-->
                    <a class="read-more text-xs mt-2 block" href="{{ news.url }}">Read More</a >
                  </div>
                </div>
            {% endfor %}

        </div>
        {% if entries|length > 4 %}
          <div class="w-full flex justify-center items-center mt-12 text-sm tracking-wider">
            <a href="javascript:void(0)" class="p-back text-white px-3 py-1 uppercase loadmore" data-year="{{ year }}" data-total="{{ entries|length }}" data-display="{{ allNewsByYear|length }}">Load more</a>
          </div>
        {% endif %}
      </div>
{% set c = c + 1 %}

{% endfor %}
</div>
    <!-- Content 3 End -->

</section>

<script>
  $(".loadmore").unbind('click').click(function(event){
    event.preventDefault();
    event.stopPropagation();
    var year = $(this).attr("data-year");
    var display = $(this).attr("data-display");
    var total = $(this).attr("data-total");
    $.ajax({
      url: "/ajax/news-data?year="+year+"&display="+display,
      success: function(result){
        $("#content-"+year).append(result);
        //update param
        var countNews = $("#content-"+year).find('.flex-col').length;
        $('#tab-'+year+'-content').find('.loadmore').attr('data-display', countNews);
        if(countNews >= total) {
          $('#tab-'+year+'-content').find('.loadmore').hide();
        }
      }
    });
  });
</script>
