{% extends '_layouts/base' %}

{% block bodyContent %}
  {% set about = craft.entries.section('jobApplication') %}
  {% set entries = about.all() %}
  {% for entry in entries %}


<div class="pl-12 md:pl-16 tracking-wide">

    {% for image in globalBlackLogo.logo.all() %}
      <div id="logo" class="w-full">
        <a href="{{ url('') }}">
          <img class="pt-8 sm:pl-20 mx-auto sm:mx-0 w-48 sm:w-64" src="{{ image.getUrl() }}" alt="Windsor logo"/>
        </a>
      </div>
    {% endfor %}

    <section class="w-full lg:w-1/2 lg:px-24 lg:pt-32 pt-12">
        <ul class="font-normal flex flex-wrap text-xs tracking-widest px-6 lg:px-0" >
          <li><a href="/about-us" class="text-gray">About Us</a></li>
          <li>
            <i class="uil uil-angle-right p-color"></i>
          </li>
          <li>
            <a href="javascript:void(0);" class="text-gray">Job Application</a>
          </li>
        </ul>
      </section>

    <section class="w-full flex flex-col justify-center items-center px-6 py-12 xl:-mt-20">
      <h1 data-aos="fade-up" class="leading-tight text-4xl md:text-5xl font-hairline text-center">
        {{ entry.title }}
      </h1>
      <div data-aos="fade-up" data-aos-duration="600" class="text-center max-w-2xl text-base font-light mt-6">
        {{ entry.richtext }}
      </div>
    </section>
    <section
            id="Application"
            class="w-full max-w-2xl mx-auto flex flex-col justify-center items-center px-6 py-12"
          >
          {% macro errorList(errors) %}
              {% if errors %}
              <ul class="errors">
                {% for error in errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            {% endmacro %}

            {% from _self import errorList %}

            {{ wheelformErrors['form'] is defined ? errorList(wheelformErrors['form']) }}
            <form class="w-full mx-auto" method="post" action="" accept-charset="UTF-8" novalidate="" enctype="multipart/form-data">
              {{ csrfInput() }}
                  <input type="hidden" name="action" value="wheelform/message/send">
                  <input type="hidden" name="form_id" value="3">
                  {# <input type="hidden" name="redirect" value="{{ 'contact/thanks'|hash }}"> #}
              <p class="text-3xl md:text-4xl font-hairline text-left w-full mb-12">
                General Details
              </p>
              <!-- Position & Date -->
              <div
                class="w-full grid grid-cols-1 md:grid-cols-2 gap-8 text-left mb-8"
              >
                <div id="request-form" class="mb-4">
                  <div class="flex justify-between items-start gray-border-b -mt-1">
                    <select
                      name="position"
                      id="position"
                      class="appearance-none w-full focus:outline-none pb-2 uppercase text-sm font-base bg-transparent"
                    >
                      <option
                        class="bg-transparent"
                        value="none"
                        for="position"
                        selected
                        disabled
                        hidden
                      >
                        POSITION APPLYING FOR
                      </option>
                      <option class="bg-transparent" for="position" name="position">Hello</option>
                    </select>
                    <i class="uil uil-angle-down ml-2 text-xl"></i>
                  </div>
                </div>
                <div id="request-form" class="flex flex-col">
                  <input
                    class="input-border w-full focus:outline-none bg-transparent"
                    id="date"
                    name="date"
                    type="text"
                    value="{{ values['date'] ?? '' }}"
                    onfocus="(this.type='date')"
                    onblur="if(!this.value)this.type='text'"
                    placeholder=" "
                  />
                  <label
                    class="uppercase text-sm font-base truncate"
                    for="date"
                    >Date</label
                  >
                </div>
              </div>

              <!-- Name -->
              <div
                class="w-full grid grid-cols-1 md:grid-cols-2 gap-8 text-left mb-8"
              >
                <div id="request-form" class="flex flex-col">
                  <input
                    class="input-border focus:outline-none"
                    name="firstname"
                    type="text"
                    value="{{ values['firstname'] ?? '' }}"
                    placeholder=" "
                    data-placeholder="first-name"
                    id="firstname"
                  />
                  <label
                    class="uppercase text-sm font-base truncate"
                    for="firstname"
                    >First Name</label
                  >
                  {{ wheelformErrors['firstname'] is defined ? errorList(wheelformErrors['firstname']) }}
                </div>
                <div id="request-form" class="flex flex-col">
                  <input
                    class="input-border focus:outline-none"
                    name="lastname"
                    type="text"
                    value="{{ values['lastname'] ?? '' }}"
                    id="lastname"
                    placeholder=" "
                    data-placeholder="last-name"
                  />
                  <label
                    class="uppercase text-sm font-base truncate"
                    for="lastname"
                    >Last Name</label
                  >
                  {{ wheelformErrors['lastname'] is defined ? errorList(wheelformErrors['lastname']) }}
                </div>
              </div>

              <!-- Mail Address -->
              <div id="request-form" class="focus w-full flex flex-col mb-12">
                <input
                  class="input-border focus:outline-none"
                  type="text"
                  name="homeaddress"
                  id="homeaddress"
                  value="{{ values['homeaddress'] ?? '' }}"
                  placeholder=" "
                  data-placeholder="Mail"
                />
                <label
                  class="uppercase text-sm font-base truncate"
                  for="homeaddress"
                  >Home Address</label>
                  {{ wheelformErrors['homeaddress'] is defined ? errorList(wheelformErrors['homeaddress']) }}
              </div>

              <!-- Phone Numbers -->
              <div
                id="request-form"
                class="w-full grid grid-cols-1 md:grid-cols-2 gap-8 text-left mb-8"
              >
                <div class="flex flex-col">
                  <input
                    class="input-border focus:outline-none"
                    name="daytimephone"
                    type="number"
                    value="{{ values['daytimephone'] ?? '' }}"
                    id="daytimephone"
                    placeholder=" "
                    data-placeholder="daytime-phone"
                  />
                  <label class="uppercase text-sm font-base truncate" for="daytimephone"
                    >DAYTIME PHONE NUMBER</label
                  >
                  {{ wheelformErrors['daytimephone'] is defined ? errorList(wheelformErrors['daytimephone']) }}
                </div>
                <div class="flex flex-col">
                  <input
                    class="input-border focus:outline-none"
                    name="eveningtimephone"
                    id="eveningtimephone"
                    value="{{ values['eveningtimephone'] ?? '' }}"
                    type="number"
                    placeholder=" "
                    data-placeholder="evening-phone"
                  />
                  <label class="uppercase text-sm font-base truncate" for="eveningtimephone"
                    >EVENING PHONE NUMBER</label
                  >
                  {{ wheelformErrors['eveningtimephone'] is defined ? errorList(wheelformErrors['eveningtimephone']) }}
                </div>
              </div>
              <!-- Email and Phone -->
              <div
                id="request-form"
                class="w-full grid grid-cols-1 md:grid-cols-2 gap-8 text-left mb-8"
              >
                <div class="flex flex-col">
                  <input
                    class="input-border focus:outline-none"
                    name="mobile"
                    id="mobile"
                    value="{{ values['mobile'] ?? '' }}"
                    type="tel"
                    placeholder=" "
                    data-placeholder="Phone"
                  />
                  <label class="uppercase text-sm font-base truncate" for="mobile"
                    >Mobile</label
                  >
                  {{ wheelformErrors['mobile'] is defined ? errorList(wheelformErrors['mobile']) }}
                </div>
                <div class="flex flex-col">
                  <input
                    class="input-border focus:outline-none"
                    name="email"
                    id="email"
                    value="{{ values['email'] ?? '' }}"
                    type="email"
                    placeholder=" "
                    data-placeholder="E-mail"
                  />
                  <label class="uppercase text-sm font-base truncate" for="email"
                    >Email</label
                  >
                  {{ wheelformErrors['email'] is defined ? errorList(wheelformErrors['email']) }}
                </div>
              </div>

              <!-- Driving Liscence -->

              <div class="flex flex-col mb-24">
                <label class="uppercase text-sm font-base mb-2" for="driverlicense"
                  >Do you hold a current Drivers Liscence:</label
                >
                <div class="flex items-center mb-2">
                  <input type="radio" name="driverlicense"   value="" name="driverlicense" id="driverlicense"/>
                  <label for="driverlicense" class="ml-2 text-sm font-base">Yes</label>
                </div>
                <div class="flex items-center mb-2">
                  <input type="radio"  name="driverlicense" value="{{ values['driverlicense'] ?? '' }}" />
                  <label for="driverlicense" class="ml-2 text-sm font-base">No</label>
                </div>
                {{ wheelformErrors['driverlicense'] is defined ? errorList(wheelformErrors['driverlicense']) }}
              </div>

              <!-- Qualifications -->

              <p class="text-3xl md:text-4xl font-hairline text-left w-full mb-2">
                Qualifications and employment history
              </p>
              <p class="text-sm font-light mb-6">
                List of all formal qualifications you have achieved which are
                relevant to this position.
              </p>

              <!-- Repeatable Part Start-->

              <div class="gray-border pt-12">
                <!-- Name -->
                <div
                  class="mb-8 w-full grid grid-cols-1 md:grid-cols-2 gap-8 text-left"
                >
                  <div id="request-form" class="flex flex-col">
                    <input
                      class="input-border focus:outline-none px-2"
                      name="qualification"
                      type="text"
                      placeholder=" "
                      data-placeholder="qualifications"
                    />
                    <label
                      class="ml-2 uppercase text-sm font-base truncate"
                      for="qualifications"
                      >Qualifications</label
                    >
                  </div>
                  <div id="request-form" class="flex flex-col">
                    <input
                      class="input-border focus:outline-none px-2"
                      name="lengthofstudy"
                      type="text"
                      placeholder=" "
                      data-placeholder="study-length"
                    />
                    <label
                      class="ml-2 uppercase text-sm font-base truncate"
                      for="lengthofstudy"
                      >Length of Study (Give dates)</label
                    >
                  </div>
                </div>

                <!-- Relevant Papers/Subjects -->
                <div id="request-form" class="w-full flex flex-col mt-6 -mb-5">
                  <input
                    class="input-border border-transparent focus:outline-none px-2"
                    type="text"
                    name="revelantpapers"
                    id="subjects"
                    placeholder=" "
                    data-placeholder="subjects"
                  />
                  <label
                    class="ml-2 uppercase text-sm font-base truncate"
                    for="revelantpapers"
                    >Relevant Papers/Subjects</label
                  >
                </div>
              </div>
              <!-- Repeatable Part End -->

              <!-- Repeat Button -->
              <div class="flex w-full mt-6 mb-12">
                <a href="#" class="uppercase p-back text-white py-1 px-4 text-base"
                  >Add another position</a
                >
              </div>

              <!-- Relevant Training -->
              <p class="text-sm font-light mb-6">
                List of any relevant training that you have completed.
              </p>

              <!-- Repeatable Part Start-->

              <div class="gray-border pt-12">
                <!-- Name -->
                <div
                  class="mb-8 w-full grid grid-cols-1 md:grid-cols-2 gap-8 text-left"
                >
                  <div id="request-form" class="flex flex-col">
                    <input
                      class="input-border focus:outline-none px-2"
                      name="course"
                      type="text"
                      placeholder=" "
                      data-placeholder="course"
                    />
                    <label
                      class="ml-2 uppercase text-sm font-base truncate"
                      for="course"
                      >Course</label
                    >
                  </div>
                  <div id="request-form" class="flex flex-col">
                    <input
                      class="input-border focus:outline-none px-2"
                      name="lengthstudy"
                      type="text"
                      placeholder=" "
                      data-placeholder="study-length"
                    />
                    <label
                      class="ml-2 uppercase text-sm font-base truncate"
                      for="lengthstudy"
                      >Length of Study (Give dates)</label
                    >
                  </div>
                </div>

                <!-- Relevant Papers/Subjects -->
                <div id="request-form" class="w-full flex flex-col mt-6 -mb-5">
                  <input
                    class="input-border border-transparent focus:outline-none px-2"
                    type="text"
                    name="relevantsubjects"
                    id="course-subjects"
                    placeholder=" "
                    data-placeholder="course-subjects"
                  />
                  <label
                    class="ml-2 uppercase text-sm font-base truncate"
                    for="relevantsubjects"
                    >Relevant Papers/Subjects</label
                  >
                </div>
              </div>
              <!-- Repeatable Part End -->

              <!-- Repeat Button -->
              <div class="flex w-full mt-6 mb-12">
                <a href="#" class="uppercase p-back text-white py-1 px-4 text-base"
                  >Add another Course</a
                >
              </div>

              <!-- Employer -->
              <p class="text-sm font-light mb-6">
                Provide details of your present and previous employment. Please
                complete in full.
              </p>

              <!-- Repeatable Part Start-->

              <div class="gray-border pt-12 job-position1">
                <!-- Name -->
                <div
                  class="mb-8 w-full grid grid-cols-1 md:grid-cols-2 gap-8 text-left"
                >
                  <div  class="flex flex-col">
                    <input
                      class="input-border focus:outline-none px-2"
                      name="nameandaddress"
                      type="text"
                      placeholder=" "
                      data-placeholder="employer"
                    />
                    <label
                      class="ml-2 uppercase text-sm font-base truncate"
                      for="nameandaddress"
                      >Name and address of Employer</label
                    >
                  </div>
                  <div  class="flex flex-col">
                    <input
                      class="input-border focus:outline-none px-2"
                      name="datefromto"
                      type="text"
                      placeholder=" "
                      data-placeholder="date-to-date"
                    />
                    <label
                      class="ml-2 uppercase text-sm font-base truncate"
                      for="datefromto"
                      >From (Date) to (Date)</label
                    >
                  </div>
                </div>

                <!-- Position & Duties -->
                <div class="w-full flex flex-col mt-6">
                  <input
                    class="input-border focus:outline-none px-2"
                    type="text"
                    name="positionandduties"
                    id="duties"
                    placeholder=" "
                    data-placeholder="duties"
                  />
                  <label
                    class="ml-2 uppercase text-sm font-base truncate"
                    for="positionandduties"
                    >Postion and Main Duties</label
                  >
                </div>

                <!-- Reason for Leaving -->
                <div class="w-full flex flex-col mt-6 mb-6">
                  <input
                    class="input-border focus:outline-none px-2"
                    type="text"
                    name="leavingreason"
                    id="leaving"
                    placeholder=" "
                    data-placeholder="leaving"
                  />
                  <label
                    class="ml-2 uppercase text-sm font-base truncate"
                    for="leavingreason"
                    >Reason for Leaving</label
                  >
                </div>

                <!-- May we Contact -->

                <div class="flex flex-col mb-12 px-2">
                  <label
                    class="uppercase text-sm font-base mb-2"
                    for="contact-reference"
                    >May we contact this employer for reference?</label
                  >
                  <div class="flex items-center mb-2">
                    <input type="radio" name="contactemployer" value="yes" />
                    <label for="contact-reference" class="ml-2 text-sm font-base"
                      >Yes</label
                    >
                  </div>
                  <div class="flex items-center mb-2">
                    <input type="radio" name="contactemployer" value="no" />
                    <label for="contact-reference" class="ml-2 text-sm font-base"
                      >No</label
                    >
                  </div>
                </div>
              </div>
              <!-- Repeatable Part End -->

              <div class="gray-border pt-12 job-position2" style="display:none;">
                <!-- Name -->
                <div
                  class="mb-8 w-full grid grid-cols-1 md:grid-cols-2 gap-8 text-left"
                >
                  <div id="request-form" class="flex flex-col">
                    <input
                      class="input-border focus:outline-none px-2"
                      name="nameandaddress"
                      type="text"
                      placeholder=" "
                      data-placeholder="employer"
                    />
                    <label
                      class="ml-2 uppercase text-sm font-base truncate"
                      for="nameandaddress"
                      >Name and address of Employer</label
                    >
                  </div>
                  <div id="request-form" class="flex flex-col">
                    <input
                      class="input-border focus:outline-none px-2"
                      name="datefromto"
                      type="text"
                      placeholder=" "
                      data-placeholder="date-to-date"
                    />
                    <label
                      class="ml-2 uppercase text-sm font-base truncate"
                      for="datefromto"
                      >From (Date) to (Date)</label
                    >
                  </div>
                </div>

                <!-- Position & Duties -->
                <div id="request-form" class="w-full flex flex-col mt-6">
                  <input
                    class="input-border focus:outline-none px-2"
                    type="text"
                    name="positionandduties"
                    id="duties"
                    placeholder=" "
                    data-placeholder="duties"
                  />
                  <label
                    class="ml-2 uppercase text-sm font-base truncate"
                    for="positionandduties"
                    >Postion and Main Duties</label
                  >
                </div>

                <!-- Reason for Leaving -->
                <div id="request-form" class="w-full flex flex-col mt-6 mb-6">
                  <input
                    class="input-border focus:outline-none px-2"
                    type="text"
                    name="leavingreason"
                    id="leaving"
                    placeholder=" "
                    data-placeholder="leaving"
                  />
                  <label
                    class="ml-2 uppercase text-sm font-base truncate"
                    for="leavingreason"
                    >Reason for Leaving</label
                  >
                </div>

                <!-- May we Contact -->

                <div class="flex flex-col mb-12 px-2">
                  <label
                    class="uppercase text-sm font-base mb-2"
                    for="contact-reference"
                    >May we contact this employer for reference?</label
                  >
                  <div class="flex items-center mb-2">
                    <input type="radio" name="contactemployer" value="yes" />
                    <label for="contact-reference" class="ml-2 text-sm font-base"
                      >Yes</label
                    >
                  </div>
                  <div class="flex items-center mb-2">
                    <input type="radio" name="contactemployer" value="no" />
                    <label for="contact-reference" class="ml-2 text-sm font-base"
                      >No</label
                    >
                  </div>
                </div>
              </div>

              <!-- Repeat Button -->
              <div class="flex w-full mt-6 mb-12">
                <a href="#" class="uppercase p-back text-white py-1 px-4 text-base add-position"
                  >Add another Position</a
                >
              </div>

              <!-- Dismissed -->

              <div class="flex flex-col mb-12 px-2">
                <label class="uppercase text-sm font-base mb-2" for="dismissed"
                  >Have you ever been dismissed, or resigned as an alternative to
                  being dismissed in previous employment?</label
                >
                <div class="flex items-center mb-2">
                  <input type="radio" name="dismissed" value="yes" />
                  <label for="Dismissed" class="ml-2 text-sm font-base">Yes</label>
                </div>
                <div class="flex items-center mb-2">
                  <input type="radio" name="dismissed" value="no" />
                  <label for="Dismissed" class="ml-2 text-sm font-base">No</label>
                </div>
              </div>

              <!-- Dismissed Reason -->
              <div id="request-form" class="w-full flex flex-col mt-6 mb-24">
                <input
                  class="input-border focus:outline-none px-2"
                  type="text"
                  name="ifyes"
                  placeholder=" "
                  data-placeholder="dismissed-reason"
                />
                <label
                  class="ml-2 text-sm font-base truncate"
                  for="ifyes"
                  >If yes, please give details:</label
                >
              </div>

              <!-- Legal Requirements -->

              <p class="text-3xl md:text-4xl font-hairline text-left w-full mb-6">
                Legal Requirements
              </p>

              <!-- Entitled to work in NZ -->

              <div class="flex flex-col mb-12 px-2">
                <label class="uppercase text-sm font-base mb-2" for=""
                  >Are you entitled to work in NZ?</label
                >
                <div class="flex items-center mb-2">
                  <input type="radio" name="entitledtowork" value="yes" />
                  <label for="" class="ml-2 text-sm font-base">Yes</label>
                </div>
                <div class="flex items-center mb-2">
                  <input type="radio" name="entitledtowork" value="no" />
                  <label for="" class="ml-2 text-sm font-base">No</label>
                </div>
              </div>

              <!-- Entitled to work in NZ - If Yes -->

              <div class="flex flex-col mb-12 px-2">
                <label class="uppercase text-sm font-base mb-2" for=""
                  >If yes, are you legally entitled to work because:</label
                >
                <div class="flex items-center mb-2">
                  <input type="radio" name="ifyeslegally" value="nz-citizen" />
                  <label for="" class="ml-2 text-sm font-base"
                    >You are a NZ Citizen?</label
                  >
                </div>
                <div class="flex items-center mb-2">
                  <input type="radio" name="ifyeslegally" value="work-visa" />
                  <label for="" class="ml-2 text-sm font-base"
                    >You have a Work Visa?</label
                  >
                </div>
                <div class="flex items-center mb-2">
                  <input
                    type="radio"
                    name="ifyeslegally"
                    value="entitled-other"
                  />
                  <label for="" class="ml-2 text-sm font-base"
                    >Other? (Please explain)</label
                  >
                </div>
              </div>

              <!-- If Other - Entitled to Work -->
              <div id="request-form" class="w-full flex flex-col mt-6 mb-6">
                <input
                  class="input-border focus:outline-none px-2"
                  type="text"
                  name="entitled-other-reason"
                  placeholder=" "
                  data-placeholder="entitled-other-reason"
                />
                <label
                  class="ml-2 text-sm font-base truncate"
                  for="entitled-other-reason"
                  >If other, please explain</label
                >
              </div>

              <p class="text-sm font-light mt-12 px-2">
                If you have a work visa please attach a copy of this.
              </p>
              <!-- Attach Visa -->
              <div class="flex w-full mt-6 mb-12 relative">
                <p
                  class="uppercase p-back text-white py-1 px-4 text-base pointer-events-none"
                >
                  Attach Visa
                </p>
                <input
                  class="absolute opacity-0 w-32 focus:outline-none cursor-pointer"
                  type="file"
                  id="pdf"
                  name="visacopy"
                  accept=".pdf"
                />
              </div>

              <!-- Position & Date -->
              <div
                class="w-full grid grid-cols-1 md:grid-cols-2 gap-8 text-left mb-24"
              >
                <div id="request-form" class="flex flex-col">
                  <input
                    class="input-border focus:outline-none bg-transparent"
                    name="expirydateofvisa"
                    type="text"
                    onfocus="(this.type='date')"
                    onblur="if(!this.value)this.type='text'"
                    placeholder=" "
                  />
                  <label
                    class="uppercase text-sm font-base truncate"
                    for="expirydateofvisa"
                    >Expiry Date of work Visa</label
                  >
                </div>
              </div>

              <!-- Disabilites or Medical Conditions -->

              <p class="text-3xl md:text-4xl font-hairline text-left w-full mb-2">
                Disabilites or Medical Conditions
              </p>
              <p class="text-sm font-light mb-6 leading-loose">
                Note: The Human Rights Act 1993 defines disability as: physical
                disability or impairment; physical illness; psychiatric illness;
                intellectual or psychological disability or impairment; the presence
                in the body of organisms capable of causing llness; any other loss
                or abnormality of a body or mind function; and reliance on a guide
                dog, wheelchair or other remedial means.
              </p>

              <!-- Do You have any disability? -->

              <div class="flex flex-col px-2 mb-32 sm:mb-24">
                <label class="uppercase text-sm font-base mb-2 mt-6" for=""
                  >Do you have any disability or medical condition that may affect
                  our ability to fully and effectively carry out the tasks and
                  responsibilities described in job specification?</label
                >
                <div class="flex items-center mb-2">
                  <input type="radio" name="disability" value="yes" />
                  <label for="" class="ml-2 text-sm font-base">Yes</label>
                </div>
                <div class="flex items-center mb-2">
                  <input type="radio" name="disability" value="no" />
                  <label for="" class="ml-2 text-sm font-base">No</label>
                </div>
              </div>

              <!-- If Other - Entitled to Work -->
              <div id="request-form" class="w-full flex flex-col mb-6">
                <input
                  class="input-border focus:outline-none px-2"
                  type="text"
                  name="disability-reason"
                  placeholder=" "
                  data-placeholder="disability-reason"
                />
                <label class="relative ml-2 text-sm font-base" for="disability-reason"
                  ><span class="absolute bottom-0 left-0 -mb-6">If yes, please provide details (please include any services or
                  facilities which would allow you to carry out this role
                  satisfactorily)</span></label
                >
              </div>

              <!-- Do You have any injury? -->

              <div class="flex flex-col px-2 mb-12">
                <label class="uppercase text-sm font-base mb-2 mt-6" for=""
                  >Do you have, or have you had, any injury or medical condition
                  caused by a gradual process, disease or infection which may be
                  aggravated by the function and responsibilities of the job for
                  which you have applied, and it is describd in the attached job
                  specification?</label
                >
                <div class="flex items-center mb-2">
                  <input type="radio" name="injury" value="yes" />
                  <label for="" class="ml-2 text-sm font-base">Yes</label>
                </div>
                <div class="flex items-center mb-2">
                  <input type="radio" name="injury" value="no" />
                  <label for="" class="ml-2 text-sm font-base">No</label>
                </div>
              </div>

              <!-- If Other - Injury -->
              <div id="request-form" class="w-full flex flex-col mb-6">
                <input
                  class="input-border focus:outline-none px-2"
                  type="text"
                  name="injury-reason"
                  placeholder=" "
                  data-placeholder="injury-reason"
                />
                <label class="ml-2 text-sm font-base truncate" for="injury-reason"
                  >If yes, please provide details:</label
                >
              </div>

              <!-- Do You have any past injury? -->

              <div class="flex flex-col px-2 mb-12">
                <label class="uppercase text-sm font-base mb-2 mt-6" for=""
                  >Do you have any present or past injury for which you may or may
                  not have claimed acc and/or other insurance cover, which may be
                  aggravated by the job you have applied for?</label
                >
                <div class="flex items-center mb-2">
                  <input type="radio" name="claimedacc" value="yes" />
                  <label for="" class="ml-2 text-sm font-base">Yes</label>
                </div>
                <div class="flex items-center mb-2">
                  <input type="radio" name="claimedacc" value="no" />
                  <label for="" class="ml-2 text-sm font-base">No</label>
                </div>
              </div>

              <!-- If Other - Past Injury -->
              <div id="request-form" class="w-full flex flex-col mb-6">
                <input
                  class="input-border focus:outline-none px-2"
                  type="text"
                  name="past-injury-reason"
                  placeholder=" "
                  data-placeholder="past-injury-reason"
                />
                <label
                  class="ml-2 text-sm font-base truncate"
                  for="past-injury-reason"
                  >If yes, please provide details:</label
                >
              </div>

              <!-- Do You have any neck injury? -->

              <div class="flex flex-col px-2 mb-12">
                <label class="uppercase text-sm font-base mb-2 mt-6" for=""
                  >Have you suffered from any injury to your neck, shoulders or
                  back?</label
                >
                <div class="flex items-center mb-2">
                  <input type="radio" name="suffered" value="yes" />
                  <label for="" class="ml-2 text-sm font-base">Yes</label>
                </div>
                <div class="flex items-center mb-2">
                  <input type="radio" name="suffered" value="no" />
                  <label for="" class="ml-2 text-sm font-base">No</label>
                </div>
              </div>

              <!-- If Other - Neck Injury -->
              <div id="request-form" class="w-full flex flex-col mb-24">
                <input
                  class="input-border focus:outline-none px-2"
                  type="text"
                  name="neck-injury-reason"
                  placeholder=" "
                  data-placeholder="neck-injury-reason"
                />
                <label
                  class="ml-2 text-sm font-base truncate"
                  for="neck-injury-reason"
                  >If yes, please provide details:</label
                >
              </div>

              <!-- Criminal History -->

              <p class="text-3xl md:text-4xl font-hairline text-left w-full mb-2">
                Criminal History
              </p>
              <p class="text-sm font-light mb-6 leading-loose">
                I understand that any record of criminal convictions I might have
                will automatically be concealed if I meet the eligibily criteria
                stipulated in Section 7 of the Criminal Records (Clean State) Act
                2004.
              </p>

              <!-- Even been convicted? -->
              <div class="flex flex-col px-2 mb-2">
                <label class="uppercase text-sm font-base mb-2 mt-6" for=""
                  >Have you ever been convicted of any criminal offence, including
                  matters relating to dishonesty, E.G., fraud, theft,
                  misappropriation of funds, within the last seven years?</label
                >
                <div class="flex items-center mb-2">
                  <input type="radio" name="convicted" value="yes" />
                  <label for="" class="ml-2 text-sm font-base">Yes</label>
                </div>
                <div class="flex items-center mb-2">
                  <input type="radio" name="convicted" value="no" />
                  <label for="" class="ml-2 text-sm font-base">No</label>
                </div>
              </div>

              <!-- Hearing on charges? -->
              <div class="flex flex-col px-2 mb-6">
                <label class="uppercase text-sm font-base mb-2 mt-6" for=""
                  >Are you awaiting a hearing on any charges?</label
                >
                <div class="flex items-center mb-2">
                  <input type="radio" name="charges" value="yes" />
                  <label for="" class="ml-2 text-sm font-base">Yes</label>
                </div>
                <div class="flex items-center mb-2">
                  <input type="radio" name="charges" value="no" />
                  <label for="" class="ml-2 text-sm font-base">No</label>
                </div>
              </div>

              <textarea
                class="mb-24 block w-full gray-border focus:outline-none p-2"
                name="declaration"
                id="criminal-history"
                cols="30"
                rows="5"
                placeholder="If you answered 'Yes' to either of these, please give details"
              ></textarea>

              <!-- Declaration and acknowledgement -->

              <p class="text-3xl md:text-4xl font-hairline text-left w-full mb-2">
                Declaration and acknowledgement
              </p>
              <p class="text-sm font-light mb-12 leading-loose">
                Please copy paste Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Reiciendis autem quidem temporibus accusamus sapiente debitis
                quisquam unde animi! Aliquid commodi dolorem culpa dignissimos eos
                inventore tenetur omnis aut! Veniam, ab?
              </p>

              <p class="text-sm uppercase font-base mb-2">Declarations</p>
              <div class="flex items-start">
                <input
                  class="mt-1"
                  type="radio"
                  name="declaration"
                  id="declaration"
                />
                <p class="ml-2 text-sm">
                  I declare that to the best of my knowledge the information that I
                  have provided is accurate, and complete, and I have not withheid
                  any information which may have a bearing or any relevance to my
                  application.
                </p>
              </div>

              <!-- Cover letter -->
              <div class="flex w-full mt-12 mb-6 relative">
                <p
                  class="uppercase p-back text-white py-1 px-4 text-base pointer-events-none"
                >
                  Upload a cover letter
                </p>
                <input
                  class="absolute opacity-0 w-56 focus:outline-none cursor-pointer"
                  type="file"
                  id="cover-pdf"
                  name="coverletter"
                />
              </div>
               <input type="file" name="attachment" id="cv">

              <!-- Upload CV -->
              <div class="flex w-full mt-6 mb-12 relative">
                <p
                  class="uppercase p-back text-white py-1 px-4 text-base pointer-events-none" name="cv"
                >
                  Upload a CV
                </p>
                <input
                  class="absolute opacity-0 w-32 focus:outline-none cursor-pointer"
                  type="file"
                  id="cv"
                  name="cv"
                  accept=".pdf"
                />
              </div>

              <!-- Captcha Starts Here -->

              <!-- Captcha Ends Here -->

              <input
                class="mt-12 p-back text-white py-1 px-4 text-base"
                type="submit" value="Send"
                value="SUBMIT APPLICATION"
              />
            </form>
          </section>



    <!-- End story section -->
</div>
  {% endfor %}
{% endblock %}

{% block customJs %}
<script type="text/javascript">
var position = 1;
  $(".add-position").on("click", function (e){
    var position = position + 1;
    if($(".job-position"+position).length > 1) {
      $(".job-position"+position).show();
    }
  })
</script>
{% endblock %}
