
        <!-- Group -->

        <div class="relative mb-4 w-full">
          <input
            class="opacity-0 absolute w-full h-10 cursor-pointer"
            type="checkbox"
            name="accordion"
          />
          <div
            class="plus-minus flex justify-between items-center md:text-lg uppercase font-base"
          >
            <p class="pb-2">{{ ExpandingRow.heading }}</p>
            <p class="relative">
              <span class="minus">-</span><span class="plus">+</span>
            </p>
          </div>
          <div class="expand w-full">
            <!-- Expand Start -->
            <div class="w-full py-4 gray-border-b">
              <div class="text-base font-base tracking-widest mb-2">
                {{ ExpandingRow.richtext }}
              </div>
              <!-- <h3 class="text-base uppercase font-base tracking-widest mb-2">
                Professional Series
              </h3>
              <ul class="text-sm warranty-list">
                <li>- Architectural</li>
                <li>- Galaxy</li>
                <li>- Astron</li>
                <li>- Italian</li>
                <li>- Belmont</li>
                <li>- Empire</li>
                <li>- Traditional</li>
                <li>- Door Closer Range</li>
              </ul> -->
            </div>
            <!-- Expand End -->
          </div>
        </div>
        <!-- Group End -->
