{% do craft.sproutForms.addFieldVariables({
    'craft': craft,
    'now': now,
    'currentSite': currentSite,
    'currentUser': currentUser,
    'siteName': siteName,
    'siteUrl': siteUrl,
    'systemName': systemName
}) -%}
{%- set renderingOptions = renderingOptions is defined and renderingOptions is not empty ? renderingOptions : {} -%}
{%- set lastEntry = craft.sproutForms.lastEntry(form.id) -%}
{%- set globalErrorsEnabled = form.errorDisplayMethod in ['both', 'global'] ? true : false -%}
{%- set errors      = entry.getErrors()|length ? entry.getErrors() : false -%}
{%- set errorClass  = renderingOptions.errorClass is defined ? renderingOptions.errorClass : 'errors' -%}
{%- set id          = renderingOptions.id is defined ? renderingOptions.id : form.handle ~ '-form' -%}
{%- set class       = renderingOptions.class is defined ? renderingOptions.class : form.handle ~ '-form' -%}
{%- set redirectUri = form.redirectUri -%}
{%- set rules       = form.getRules() -%}

{%- set globalErrorListHtml -%}
    {% set globalErrors = [] %}
    {% for errors in entry.getErrors() %}
        {% for error in errors %}
            {% set globalErrors = globalErrors|merge([error]) %}
        {% endfor %}
    {% endfor %}
    {% include "errors" with {
        errors: globalErrors
    } %}
{%- endset -%}

<form method="post" accept-charset="utf-8" data-aos="fade-up" data-aos-duration="600", enctype="multipart/form-data" data-submission-method="{{ form.submissionMethod }}"
    {%- if id %} id="{{ id }}"{% endif -%}
    {%- if class %} class="{{ class -}}{%- if errors %} {{ errorClass }}{% endif -%}"{% endif -%}
    {%- if rules %} data-rules="{{ rules|json_encode|raw|e('html') }}"{% endif -%}
>
    {{ csrfInput() }}
    <input type="hidden" aria-hidden="true" name="action" value="sprout-forms/entries/save-entry">
    <input type="hidden" aria-hidden="true" name="handle" value="{{ form.handle }}">
    {%- if redirectUri is not empty %}
        {% if redirectUri|slice(0, 1)|lower == '?' %}
            {%- set redirectUri = craft.app.request.getUrl()~redirectUri %}
        {% endif %}

        <input type="hidden" aria-hidden="true" name="redirect"
            value="{{ redirectUri|hash }}">
    {% endif %}

    {% if globalErrorsEnabled and errors|length and (form.errorMessage or globalErrorListHtml) %}
        {% set errorMessage = view.renderObjectTemplate(form.errorMessage, entry) %}
        <div id="{{ id }}-message-box" class="sproutforms-message-errors">
            {{ errorMessage|markdown }}
            {{ globalErrorListHtml }}
        </div>
    {% endif %}

    {% if lastEntry and form.id == lastEntry.getForm().id and form.successMessage %}
        {% set successMessageTemplate = form.successMessage ?? '' %}
        {% set successMessage = view.renderObjectTemplate(successMessageTemplate, lastEntry) %}
        <div id="{{ id }}-message-box" class="sproutforms-message-success">{{ successMessage|markdown }}</div>
    {% endif %}

    <div class="fields">
        {%- for tab in form.getFieldLayout().getTabs() %}
            {{ craft.sproutForms.displayTab(form, tab.id, renderingOptions) }}
        {% endfor -%}
    </div>

	<!-- Name   required="" aria-required="true"-->
           <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-8 text-left mb-8">
            <div id="request-form" class="flex flex-col">
              <input
                class="input-border focus:outline-none"
                name="fields[first_name][name][fullNameShort]"
                type="text"
                placeholder=" "
                data-placeholder="first-name"
              />
              <label class="uppercase text-sm font-base" for="first-name"
                >First Name</label
              >
            </div>
            <div id="request-form" class="flex flex-col">
              <input
                class="input-border focus:outline-none"
                name="fields[last_name][name][fullNameShort]"
                type="text"
                placeholder=" "
                data-placeholder="last-name"
              />
              <label class="uppercase text-sm font-base" for="last-name"
                >Last Name</label
              >
            </div>
          </div>

          <!-- Email and Phone -->
          <div
            id="request-form"
            class="w-full grid grid-cols-1 md:grid-cols-2 gap-8 text-left mb-8"
          >
            <div class="flex flex-col">
              <input
                class="input-border focus:outline-none"
                name="fields[email_address]"
                type="email"
                placeholder=" "
                data-placeholder="E-mail"
              />
              <label class="uppercase text-sm font-base" for="email"
                >Email Address</label
              >
            </div>
            <div class="flex flex-col">
              <input
                class="input-border focus:outline-none"
                name="fields[phone]"
                type="number" autocomplete="tel"
				min="0"
                placeholder=" "
                data-placeholder="Phone"
              />
              <label class="uppercase text-sm font-base" for="phone"
                >Phone</label
              >
            </div>
          </div>

          <!-- Mail Address -->
          <div id="request-form" class="focus w-full flex flex-col mb-12">
            <input
              class="input-border focus:outline-none"
              type="text"
              name="fields[mail_address]"
              id="mail-address"
              placeholder=" "
              data-placeholder="Mail"
            />
            <label class="uppercase text-sm font-base" for="mail-address"
              >Mailing Address</label
            >
          </div>

          <!-- Special Instructions -->
          <div class="focus w-full flex flex-col mb-12">
            <label
              class="mb-2 uppercase text-sm font-base"
              for="special-instructions"
              >Special Instructions</label
            >

            <textarea
              class="w-full gray-border focus:outline-none p-2"
              name="fields[spacial_instruction]"
              id="special-instructions"
              cols="3"
              rows="5"
            ></textarea>
          </div>

          <!-- Select Catalogues -->
          <div>
            <div class="grid grid-cols-2">
              <label class="uppercase text-sm font-base" for="catalogues"
                >Select Catalogue(s)</label
              >
              <label
                class="text-right uppercase text-sm font-base"
                for="quantity"
                >Quantity</label
              >
            </div>
            <div
              class="grid grid-cols-1 gap-2 mt-2 p-4 gray-border"
            >
              <!-- Catalogue Item-->
              <div class="flex justify-between">
                <div>Catalogue 1</div>

                <div class="flex items-center">
                  <span class="minuso h-6 w-6 cursor-pointer ">-</span>
                  <input class="number w-12 mx-1 " type="text" value="0">
                  <span class="pluso h-6 w-6 cursor-pointer ">+</span>
                </div>
              </div>
              <!-- Catalogue Item End -->
              <!-- Catalogue Item-->
              <div class="flex justify-between">
                <div>Catalogue 2</div>
                <div class="flex items-center">
                      <span class="minuso h-6 w-6 cursor-pointer ">-</span>
                      <input class="number w-12 mx-1 " type="text" value="0">
                      <span class="pluso h-6 w-6 cursor-pointer ">+</span>
                    </div>
              </div>
              <!-- Catalogue Item End -->
              <!-- Catalogue Item-->
              <div class="flex justify-between">
                <div>Catalogue 3</div>
                <div class="flex items-center">
                        <span class="minuso h-6 w-6 cursor-pointer ">-</span>
                        <input class="number w-12 mx-1 " type="text" value="0">
                        <span class="pluso h-6 w-6 cursor-pointer ">+</span>
                      </div>
              </div>
              <!-- Catalogue Item End -->
              <!-- Catalogue Item-->
              <div class="flex justify-between">
                <div>Catalogue 4</div>
                <div class="flex items-center">
                    <span class="minuso h-6 w-6 cursor-pointer ">-</span>
                    <input class="number w-12 mx-1 " type="text" value="0">
                    <span class="pluso h-6 w-6 cursor-pointer ">+</span>
                  </div>
              </div>
              <!-- Catalogue Item End -->
              <!-- Catalogue Item-->
              <div class="flex justify-between">
                <div>Catalogue 5</div>
                <div class="flex items-center">
                          <span class="minuso h-6 w-6 cursor-pointer ">-</span>
                          <input class="number w-12 mx-1 " type="text" value="0">
                          <span class="pluso h-6 w-6 cursor-pointer ">+</span>
                        </div>
              </div>
              <!-- Catalogue Item End -->
              <!-- Catalogue Item-->
              <div class="flex justify-between">
                <div>Catalogue 6</div>
                <div class="flex items-center">
                                  <span class="minuso h-6 w-6 cursor-pointer ">-</span>
                                  <input class="number w-12 mx-1 " type="text" value="0">
                                  <span class="pluso h-6 w-6 cursor-pointer ">+</span>
                                </div>
              </div>
              <!-- Catalogue Item End -->
              <!-- Catalogue Item-->
              <div class="flex justify-between">
                <div>Catalogue 7</div>
                <div class="flex items-center">
                                  <span class="minuso h-6 w-6 cursor-pointer ">-</span>
                                  <input class="number w-12 mx-1 " type="text" value="0">
                                  <span class="pluso h-6 w-6 cursor-pointer ">+</span>
                                </div>
              </div>
              <!-- Catalogue Item End -->
            </div>
          </div>

    {# Do not remote this line when customizing templates.
       All Captcha behavior depends on this hook. #}
    {% hook 'sproutForms.modifyForm' %}

    <button type="submit" class="mt-16 p-back text-white py-1 px-4 text-xs uppercase">{{ form.submitButtonText is not empty ? form.submitButtonText : 'Submit'|t('site') }}</button>

</form>

{# Add focus to the first field which has an error #}
{% if errors -%}
    {%- for labelId, error in errors %}
        {%- if loop.first %}
            {%- js at endBody %}
                (function() {
                var field = document.getElementById('fields-' + '{{ labelId }}');
                if (field) {
                field.focus();
                }
                })();
            {% endjs -%}
        {%- endif %}
    {%- endfor %}
{%- endif %}

{% css %}
    .sprout-hidden{
    display: none !important;
    }
{% endcss %}

{%- set accessibilityJsUrl = view.getAssetManager().getPublishedUrl(
    '@sproutforms/web/assets/formtemplates/dist/js/accessibility.js',
    true) -%}
{%- do view.registerJsFile(accessibilityJsUrl, {
    position: 3
}) -%}

{%- set addressFieldJsUrl = view.getAssetManager().getPublishedUrl(
    '@sproutforms/web/assets/formtemplates/dist/js/addressfield.js',
    true) -%}
{%- do view.registerJsFile(addressFieldJsUrl) -%}

{%- set disableSubmitButtonJsUrl = view.getAssetManager().getPublishedUrl(
    '@sproutforms/web/assets/formtemplates/dist/js/disable-submit-button.js',
    true) -%}
{%- do view.registerJsFile(disableSubmitButtonJsUrl) -%}

{%- set rulesJsUrl = view.getAssetManager().getPublishedUrl(
    '@sproutforms/web/assets/formtemplates/dist/js/rules.js',
    true) -%}
{%- do view.registerJsFile(rulesJsUrl) -%}

{%- set submitHandlerJsUrl = view.getAssetManager().getPublishedUrl(
    '@sproutforms/web/assets/formtemplates/dist/js/submit-handler.js',
    true) -%}
{%- do view.registerJsFile(submitHandlerJsUrl) -%}

{% js at endBody %}
    (function() {
    window.csrfTokenName = "{{ craft.app.getConfig().getGeneral().csrfTokenName|e('js') }}";
    new SproutFormsAddressField('{{ id }}');
    new SproutFormsCheckableInputs('{{ id }}');
    new SproutFormsDisableSubmitButton('{{ id }}');
    new SproutFormsRules('{{ id }}');
    new SproutFormsSubmitHandler('{{ id }}');
    })();
{% endjs -%}
