{% extends '_layouts/base' %}

{% block bodyContent %}
  {{ parent() }}

  <section class="pl-12 md:pl-16">
    {% set installation = craft.entries.section('installation') %}
    {% set entries = installation.all() %}
    {% for entry in entries %}

      {% for image in globalBlackLogo.logo.all() %}
        <div id="logo" class="w-full">
          <a href="{{ url('') }}">
            <img class="pt-8 sm:pl-20 mx-auto sm:mx-0 w-48 sm:w-64" src="{{ image.getUrl() }}" alt="Windsor logo"/>
          </a>
        </div>
      {% endfor %}
      <section class="w-full flex flex-col justify-center items-center px-6 pt-32 lg:pt-48">
        <h1 data-aos="fade-up" class="leading-tight text-4xl md:text-5xl font-hairline text-center">
          {{ entry.title }}
        </h1>
        <div data-aos="fade-up" data-aos-duration="600" class="text-center max-w-2xl text-base font-light mt-6">
          {{ entry.introParagraph }}
        </div>
        </section>
        {% include '_includes/_neo/Builders/PageBuilders' with {
          'neo' : entry.PageBuilders
        } %}

  {% endfor %}
</section>
{% endblock %}
