{% extends '_layouts/base' %}

{% block bodyContent %}

<div class="pl-12 md:pl-16">


	{% for image in globalBlackLogo.logo.all() %}
		<div id="logo" class="w-full absolute top-0">
			<a href="{{ url('') }}">
				<img class="pt-8 sm:pl-20 mx-auto sm:mx-0 w-48 sm:w-64" src="{{ image.getUrl() }}" alt="Windsor logo"/>
			</a>
		</div>
	{% endfor %}


<section
   class="w-full h-screen flex flex-col justify-center items-center px-6 py-32 lg:py-48"
 >
   <h1
     data-aos="fade-up"
     class="leading-tight text-4xl md:text-5xl font-hairline text-center"
   >
     Page Not Found
   </h1>
   <p
     data-aos="fade-up"
     data-aos-duration="600"
     class="text-center max-w-2xl text-base font-light mt-6"
   >
     Sorry we couldn't find the page you were looking for. </br>
     Try searching for what you are looking for.
   </p>

 </section>
</div>
 {% endblock %}
