{% extends '_layouts/base' %}

{% block bodyContent %}
  {{ parent() }}

  <section class="pl-12 md:pl-16">
    {% set warranty = craft.entries.section('warranty') %}
    {% set entries = warranty.all() %}
    {% for entry in entries %}

    {% for image in globalBlackLogo.logo.all() %}
      <div id="logo" class="w-full">
      <a href="{{ url('') }}">
        <img class="pt-8 sm:pl-20 mx-auto sm:mx-0 w-48 sm:w-64" src="{{ image.getUrl() }}" alt="Windsor logo"/>
      </a>
      </div>
        {% endfor %}
      <section class="w-full flex flex-col justify-center items-center px-6 py-32">
        <h1 data-aos="fade-up" class="leading-tight text-4xl md:text-5xl font-hairline text-center">
          {{ entry.title }}
        </h1>
        <div data-aos="fade-up" data-aos-duration="600" class="text-center max-w-2xl text-base font-light mt-6">
          {{ entry.introParagraph }}
        </div>
        <div data-aos="fade-up" data-aos-duration="700" class="flex flex-row flex-wrap justify-center mt-10 text-center">
            <a class="flex justify-center items-center p-back text-white py-1 pl-4 pr-2 m-2" href="https://windsorhardware.co.nz/data/hiddendocuments/Warranty-2019.pdf" target="_blank">Download PDF<i class="uil uil-download-alt ml-2 text-xl"></i>
            </a>
      </div>
      </section>
      <section class="w-full flex flex-col justify-center items-center p-6 pb-32">
        <div data-aos="fade-up" data-aos-duration="600" class="w-full flex flex-col lg:px-24">
          {% include '_includes/_neo/Builders/ExpandingRow' with {
            'neo' : entry.ExpandingRow
          } %}

          <!-- Note -->
          <p class="text-xs mt-4">
            {{ entry.note }}
          </p>

          <!-- Information -->
          <div class="w-full text-sm mt-12 mb-6">
            {{ entry.richtext }}
          </div>
        </div>
      </section>
    </section>
  {% endfor %}
{% endblock %}
