<!DOCTYPE html>
<html lang="en-GB" class="no-js">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Windsor Architectural Hardware</title>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" ,="," minimum-scale="1," maximum-scale="1"/>
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta property="og:locale" content="en_GB"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Windsor Brass"/>
    <meta property="og:site_name" content="Windsor Brass"/>

    <!-- Here please download jquery.min.js and add here your path -->
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.mThumbnailScroller.css">
    <script src="/assets/js/jquery.mThumbnailScroller.js"></script>

    <link rel="shortcut icon" href="/assets/images/template/WB_Favicon_Gold.png" type="image/x-icon"/>
    <meta name="msapplication-TileColor" content="#364652"/>
    <meta name="theme-color" content="#ffffff"/>
    <!-- Icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css"/>
    <script src="https://kit.fontawesome.com/42fba5e5f6.js" crossorigin="anonymous"></script>

    <!-- Global CSS-->
    <link rel="stylesheet" href="/assets/css/australia_global.css"/>

    <!-- Tailwind -->
    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"/> -->
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- Animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>

    <!-- Carousel -->
    <link rel="stylesheet" href="/assets/css/carousel.css"/>

    <!-- Gallery -->
   <link rel="stylesheet" href="/assets/css/storyGallery.css" />
   <link rel="stylesheet" href="/assets/css/gallery.css" />
   <script src="https://www.google.com/recaptcha/api.js"></script>
   <script type="text/javascript">
      window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName|e('js') }}";
      window.csrfTokenValue = "{{ craft.app.request.csrfToken|e('js') }}";
   </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G1K63T10DJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-G1K63T10DJ');
    </script>
  </head>

  <body class="overflow-x-hidden">
    <!-- Search Overlay -->

    <div class="search-overlay bg-white h-full w-full h-full fixed pl-12 md:pl-16 z-30">
      {% for image in globalBlackLogo.logo.all() %}
      <div id="logo" class="w-full">
        <a href="{{ url('') }}">
        <img class="pt-8 sm:pl-20 mx-auto sm:mx-0 w-48 sm:w-64" src="{{ image.getUrl() }}" alt="Windsor logo"/>
      </a>
      </div>
      {% endfor %}

  <!-- Search -->
<div class="mt-32 ml-20 py-3 flex items-center">
  <svg onclick="remove()" class="p-color flex-shrink-0 cursor-pointer" width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 1L13 13M1 13L13 1L1 13Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  <form action="{{ url('search/results') }}">
  <input class="ml-4 px-2 py-1 border-l-2 border-gray-700 focus:outline-none" name="q" id="searchInput" type="text" placeholder="Search"/>
</form>
</div>
</div>

<!-- Nav Overlay -->

    <div class="nav-overlay h-full fixed z-40">
      <div class="pl-12 md:pl-16">
        <a href="{{ url('') }}">
        {% for image in globalWhiteLogo.logo.all() %}
        <img class="pt-8 sm:pl-20 mx-auto sm:mx-0 w-48 sm:w-64" src="{{ image.getUrl() }}" alt="Windsor logo"/>
        {% endfor %}
      </a>
      </div>

      <div class="pl-12 md:pl-16 w-full h-full">
          {% set activeNode = craft.navigation.getActiveNode({ handle: 'main' }) %}
        <ul class="nav-link-list font-thin mt-32 ml-12 md:ml-16 text-white leading-loose pb-12 tracking-wider">
          {# <li onclick="searchActive()" class="mb-10 search-button cursor-pointer">
            <a href="javascript:void(0);" class="text-2xl">
              <i class="uil uil-search"></i>
            </a>
          </li> #}
          {% set nodes = craft.navigation.nodes().all() %}
                            {% nav node in nodes %}
          <li id="nav-link">

          <a href="{% if node.url != 'Home' %}{{ node.url }} {% else %} {{siteUrl}} {% endif %}">
          {{ node.title }}
            </a>
          </li>
          {% endnav %}
        </ul>
      </div>
    </div>

    <!-- Nav Overlay -->
    <div class="country-overlay h-full fixed z-40">
      <div class="pl-12 md:pl-16">
        <a href="{{ url('') }}">
        {% for image in globalWhiteLogo.logo.all() %}
        <img class="pt-8 sm:pl-20 mx-auto sm:mx-0 w-48 sm:w-64" src="{{ image.getUrl() }}" alt="Windsor logo"/>
        {% endfor %}
      </a>
      </div>
      <div class="pl-12 md:pl-16 w-full h-full">
        <ul
          class="country-link-list font-thin mt-32 ml-12 md:ml-16 text-white leading-loose pb-12 tracking-wider"
        >
          <li id="country-link">
            <a href="https://windsorhardware.co.nz/">
              New Zealand
            </a>
          </li>
          <li id="country-link">
            <a href="{{ url('') }}">
              Australia
            </a>
          </li>
        </ul>
      </div>
    </div>

    <nav class="z-50 flex flex-col justify-between items-center w-12 md:w-16 h-screen fixed text-white pt-56 pb-16">
      {# <button onclick="active()" class="hamburger hamburger--slider nav-icon focus:outline-none transform translate-x-1 scale-75" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button> #}
      <div class="flex flex-col">
        <button onclick="active()" class="hamburger hamburger--slider nav-icon focus:outline-none transform translate-x-1 scale-75 mb-12" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <button onclick="searchActive()" class="mb-10 search-button cursor-pointer focus:outline-none">
          <i class="uil uil-search text-2xl"></i>
        </button>
        <button onclick="countryActive()" class="mb-8 country-icon focus:outline-none mb-8" type="button">
           <i class="uil uil-globe text-2xl"></i>
           <p class="text-xs">AU</p>
         </button>
      </div>

      <div class="cursor-pointer relative">
        <a id="button" href="#main" data-offset="100" data-duration="300" class="transform -translate-x-16 -translate-y-12 -rotate-90 absolute bottom-0 left-0 h-8 w-32 flex items-center">
          <p class="mr-2">Back to top</p>
          <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 5H1M15 1L19 5L15 1ZM19 5L15 9L19 5Z" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </a>
        {# <div
          id="button-2"
          data-id="d4b3b987e8"
          class="absolute bottom-0 transform -translate-x-1/2 h-6 w-6 appear livechat_button"
        >
          <a
            href="https://www.livechat.com/?utm_source=chat_button&utm_medium=referral&utm_campaign=lc_12115278"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="#fff" d="M19,2H5A3,3,0,0,0,2,5V15a3,3,0,0,0,3,3H16.59l3.7,3.71A1,1,0,0,0,21,22a.84.84,0,0,0,.38-.08A1,1,0,0,0,22,21V5A3,3,0,0,0,19,2Zm1,16.59-2.29-2.3A1,1,0,0,0,17,16H5a1,1,0,0,1-1-1V5A1,1,0,0,1,5,4H19a1,1,0,0,1,1,1Z" />
          </svg>
          </a>
        </div> #}
      </div>
    </nav>

    <main id="main" class="overflow-x-hidden w-full">

      <!-- header content -->
    {% block headerContent %}
		{% endblock %}

    <!-- body content -->
    {% block bodyContent %}
    {% endblock %}

    <!-- Footer -->
      <footer class="mt-16 pl-12 md:pl-16 w-full pb-6 lg:px-24 font-normal">
        <p class="text-center md:text-right px-6">
          &copy; <script>document.write(new Date().getFullYear())</script> Windsor Architectural Hardware | Website by <a href="http://marketsouth.co.nz/" target="_blank">Market South</a>
        </p>
      </footer>
    </main>

    <script src="/assets/js/carousel.js"></script>
    <script src="/assets/js/gallery.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/_youtubeVideoEmbeds.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      (function($) {
        $(window).load(function() {
          $("#my-thumbs-list").mThumbnailScroller({
            axis: "x" //change to "y" for vertical scroller
          });
        });
      })(jQuery);
      $("#my-thumbs-list").mThumbnailScroller({type: "hover-50"});
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
  AOS.init();

  //quantity
  $(document).ready(function () {
    $(".minuso").click(function () {
      var $input = $(this).parent().find("input");
      var count = parseInt($input.val()) - 1;
      count = count < 0 ? 0 : count;
      $input.val(count);
      $input.change();
      return false;
    });
    $(".pluso").click(function () {
      var $input = $(this).parent().find("input");
      $input.val(parseInt($input.val()) + 1);
      $input.change();
      return false;
    });
  });
</script>
<!-- Start of LiveChat (www.livechatinc.com) code -->
    {# <script type="text/javascript">
      window.__lc = window.__lc || {};
      window.__lc.license = 12115278;
      (function () {
        var lc = document.createElement("script");
        lc.type = "text/javascript";
        lc.async = true;
        lc.src =
          ("https:" == document.location.protocol ? "https://" : "http://") +
          "cdn.livechatinc.com/tracking.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(lc, s);
      })();
    </script>
    <noscript>
      <a href="https://www.livechatinc.com/chat-with/12115278/" rel="nofollow"
        >Chat with us</a
      >, powered by
      <a
        href="https://www.livechatinc.com/?welcome"
        rel="noopener nofollow"
        target="_blank"
        >LiveChat</a
      >
    </noscript> #}
    <!-- End of LiveChat code -->
{% block customJs %}
{% endblock %}
  </body>
</html>
