<section id="staff-list" class="w-full flex flex-col justify-center items-center py-10 pl-16">
  <div data-aos="fade-up" data-aos-duration="800" class="members mt-16 w-full px-6 lg:px-24 grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
    <!-- Team Member -->
    {% include 'Staff/index.twig' %}
    <!-- Team Member End-->
  </div>
</section>
