<!-- Landing Image -->
     <div
       data-aos="fade-up"
       data-aos-anchor-placement="top-bottom"
       class="w-full pl-12 md:pl-16 md:pl-0"
     >

     <!-- Map Stuff -->
     <div class="w-full flex flex-col-reverse md:flex-row">
       <!-- Side Bar -->
       <div class="bg-light w-full max-w-sm overflow-y-scroll" style="height: 30rem;">
         <!-- Repeatable Info -->
           <div class="w-full p-6 md:px-16 md:py-8 bg-light-grey">
             <div class="text-sm w-full max-w-sm mx-auto flex flex-col">
               <h3 class="font-bold uppercase mb-3">
                 Store Name goes Here
               </h3>
               <p class="text-xs mb-3">West Madison Street Suite, Invercargill</p>
               <a href="tel:">03 123 123 123</a>
               <a href="">www.websitename.co.nz</a>

             </div>
           </div>
         <!-- Repeatable End -->
         <!-- Repeatable Info -->
           <div class="w-full p-6 md:px-16 md:py-8">
             <div class="text-sm w-full max-w-sm mx-auto flex flex-col">
               <h3 class="font-bold uppercase mb-3">
                 Store Name goes Here
               </h3>
               <p class="text-xs mb-3">West Madison Street Suite, Invercargill</p>
               <a href="tel:">03 123 123 123</a>
               <a href="">www.websitename.co.nz</a>

             </div>
           </div>
         <!-- Repeatable End -->
         <!-- Repeatable Info -->
           <div class="w-full p-6 md:px-16 md:py-8">
             <div class="text-sm w-full max-w-sm mx-auto flex flex-col">
               <h3 class="font-bold uppercase mb-3">
                 Store Name goes Here
               </h3>
               <p class="text-xs mb-3">West Madison Street Suite, Invercargill</p>
               <a href="tel:">03 123 123 123</a>
               <a href="">www.websitename.co.nz</a>

             </div>
           </div>
         <!-- Repeatable End -->
         <!-- Repeatable Info -->
           <div class="w-full p-6 md:px-16 md:py-8">
             <div class="text-sm w-full max-w-sm mx-auto flex flex-col">
               <h3 class="font-bold uppercase mb-3">
                 Store Name goes Here
               </h3>
               <p class="text-xs mb-3">West Madison Street Suite, Invercargill</p>
               <a href="tel:">03 123 123 123</a>
               <a href="">www.websitename.co.nz</a>

             </div>
           </div>
         <!-- Repeatable End -->
       </div>
       <!-- Map -->
       <div class="w-full bg-green-600 relative" style="height: 30rem;">
         <!-- Button to Toggle -->
         <div class="w-full flex items-center absolute bottom-0 py-3 px-6 mb-6 sm:mx-6 dark-back" style="left: 50%; transform: translateX(-50%); max-width: fit-content;">
           <div class="w-4 h-4 border border-white mr-4 relative cursor-pointer">
             <input checked class="map-check w-4 h-4 opacity-0" type="checkbox" name="map-check" id="map-check">
             <svg class="check absolute top-0 left-0 pointer-events-none w-4 h-4 cursor-pointer" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M5 13L9 17L19 7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
             </svg>
         </div>
           <p class="uppercase text-white text-sm tracking-wider">Search as I move the Map</p>
         </div>
         <!-- Map Starts Here -->
         <!-- Map Ends Here-->
       </div>
     </div>





     </div>
