{% extends '_layouts/base' %}

{% block bodyContent %}

	{{ parent() }}

  	{% for image in globalBlackLogo.logo.all() %}
  		<div id="logo" class="w-full pl-12 md:pl-16">
  			<a href="{{ url('') }}">
  				<img class="pt-8 sm:pl-20 mx-auto sm:mx-0 w-48 sm:w-64" src="{{ image.getUrl() }}" alt="Windsor logo"/>
  			</a>
  		</div>
  	{% endfor %}

		<style>
		.loc-list .list {
			 height: 30rem;
			/* overflow-y: scroll; */
			/* border: 1px solid #d4d4d4; */
		}
		.loc-list .list div {
		    /* padding: 0px 10px; */
		    /* border-bottom: 1px solid #d4d4d4; */
				cursor: pointer;
		}
		.loc-list .list div.active {
		    background-color: #eee;
		}
		.autocomplete-items {
		    position: absolute;
			border: 1px solid #d4d4d4;
			border-radius: 0 0 4px 4px;
			border-top: none;
			z-index: 20;
			top: 100%;
			left: 5%;
			right: 2%;
			width: 288px;
			max-height: 246px;
			overflow-y: scroll;
			display: none;
			background-color: #fff;
		}

		.autocomplete-items p{
		  padding: 10px;
		  cursor: pointer;
		  background-color: #fff;
		  border-bottom: 1px solid #d4d4d4;
		}
		#map-container{
			display: none;
		}
		.reset-map-zoom{
			left: 5%;
			bottom: 5%;
			z-index: 20;
			background: #fff;
			background: none rgb(255, 255, 255);
			border: 0;
			margin: 10px;
			padding: 5px 10px;
			position: absolute;
			cursor: pointer;
			user-select: none;
			border-radius: 2px;
			box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
			overflow: hidden;
			font-weight: 500;
		}
		</style>
  	<section class="w-full flex flex-col justify-center items-center py-12 pl-12 md:pl-16">
      <h1 data-aos="fade-up" class="leading-tight text-4xl md:text-5xl font-hairline text-center mb-6">
      		{{entry.title}}
      </h1>

      <div class="p-6 lg:px-24 w-full">
          <!-- Title -->
          <div class="p-back w-full mb-6">
            <p
              class="text-center uppercase tracking-wider text-lg text-white py-2 px-3 mb-12"
            >
              Find a stockist
            </p>
          </div>

          <!-- Address Bar -->
          <p class="text-xs mb-2 font-base">
            Enter your suburb or city in the field to find your nearest
            stockist:
          </p>

					<form onsubmit="return false" class="relative flex max-w-xs w-full mb-6">
	            <input
	              id="autocomplete"
	              placeholder="Suburb or City"
	                            class="flex-1 py-2 px-3 focus:outline-none border text-sm rounded-full"
	              type="text"
	            />

	            <div class="autocomplete-items overflow-y-scroll"></div>
	          </form>

        </div>
    </section>

		 <div class="w-full pl-12 md:pl-16 hidden h-64" id="noresults-container">
			 <p class="w-full text-center px-6">
				 Sorry, we couldn't find any stockists in that location. </br>
				 Try widening your search criteria - search by city instead of suburb or enter the name of another city or town near you.
			 </p>
				{# <div class="w-full text-center"><button type="button" class="view-all-stocks mt-4 p-back text-white py-1 px-4 text-sm uppercase">View All</button></div> #}
		 </div>
		 <div class="w-full pl-12 md:pl-16 md:pl-0 " id="map-container" style="height: 30rem;">
          <!-- Repeatable Info -->
            <div class="w-full loc-list">
              <div class="text-sm w-full mx-auto flex flex-col list overflow-y-scroll">
              </div>
            </div>
          <!-- Repeatable End -->
			<div class="relative hidden md:block md:w-1/2 lg:w-9/12 flex-shrink-0">
				<div id="map" class="loc-list object-cover w-full h-full"></div>
	 			<button class="reset-map-zoom hidden md:block" onclick="resetMapZoom()"><span>Reset Zoom</span></button>
			</div>
    </div>
    <!-- Landing Image -->
      <div
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        class="w-full pl-16 md:pl-0"
				id="image-container"
      >
        <img src="{{ entry.backgroundImage.one().url }}" alt="test" />
      </div>

  {% endblock %}
  {% block customJs%}

<script type="text/javascript">

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeA1h11Yjt0A6qB-Sk1h3VMxwiDbx31NQ&&libraries=places" async defer></script>
<script>
		function xmlToJson(xml) {
		  // Create the return object
		  var obj = {};

		  if (xml.nodeType == 1) {
		    // element
		    // do attributes
		    if (xml.attributes.length > 0) {
		      obj["@attributes"] = {};
		      for (var j = 0; j < xml.attributes.length; j++) {
		        var attribute = xml.attributes.item(j);
		        obj["@attributes"][attribute.nodeName] = attribute.nodeValue;
		      }
		    }
		  } else if (xml.nodeType == 3) {
		    // text
		    obj = xml.nodeValue;
		  }

		  // do children
		  // If all text nodes inside, get concatenated text from them.
		  var textNodes = [].slice.call(xml.childNodes).filter(function(node) {
		    return node.nodeType === 3;
		  });
		  if (xml.hasChildNodes() && xml.childNodes.length === textNodes.length) {
		    obj = [].slice.call(xml.childNodes).reduce(function(text, node) {
		      return text + node.nodeValue;
		    }, "");
		  } else if (xml.hasChildNodes()) {
		    for (var i = 0; i < xml.childNodes.length; i++) {
		      var item = xml.childNodes.item(i);
		      var nodeName = item.nodeName;
		      if (typeof obj[nodeName] == "undefined") {
		        obj[nodeName] = xmlToJson(item);
		      } else {
		        if (typeof obj[nodeName].push == "undefined") {
		          var old = obj[nodeName];
		          obj[nodeName] = [];
		          obj[nodeName].push(old);
		        }
		        obj[nodeName].push(xmlToJson(item));
		      }
		    }
		  }
		  return obj;
		}

		function getObjects(obj, key, val) {
		    var objects = [];
		    for (var i in obj) {
		        if (!obj.hasOwnProperty(i)) continue;
		        if (typeof obj[i] == 'object') {
		            objects = objects.concat(getObjects(obj[i], key, val));
		        } else if (i == key && obj[key] == val) {
		            objects.push(obj);
		        }
		    }
		    return objects;
		}

		var settings = {
		  "url": "https://exo.api.myob.com/stocksearchtemplate/23",
		  "method": "GET",
		  "timeout": 0,
		  "headers": {
		    "x-myobapi-exotoken": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2MDY3Mzc2MDAsImlzcyI6IlMtMS01LTIxLTM0NjYxMzc0MDMtMTQyNDc0NjQxOS02MzEyNjU5NzI6L3o0TnZzRWxMUno1aDhsbm5Ia1gzUT09IiwiYXVkIjoiaHR0cHM6Ly9leG8uYXBpLm15b2IuY29tLyIsIm5hbWUiOiJHU1MiLCJzdGFmZm5vIjoiNzMiLCJhcHBpZCI6IjQ0MDAifQ.kGfjO341AsDptY0GXvhtsb0ZWR3y9ddkS0yDMZ5fots",
		    "x-myobapi-key": "5de3bswg3ej8xxkcf5dynh39",
		    "Authorization": "Basic Z3NzOjE5MTJGcm9nTXV0aW55"
		  },
		};

		$.ajax(settings).done(function (response) {
			var obj = xmlToJson(response);
		  //console.log(obj.SearchTemplateResultSet.Data);
			//console.log(getObjects(obj,1, 'Albany'));
			var stockist = obj.SearchTemplateResultSet.Data;

			function searched_stocklist(type){
				//$('#autocomplete').on('keyup focus',function(){
	        var searchField = $('#autocomplete').val();

					// no results code //
					if(type != 3){
						if(searchField === '')  {
							$('.autocomplete-items').html('');
							$('.autocomplete-items').hide();
							$('#map-container').css('display','none');
							$('#noresults-container').hide();
							$('#image-container').show();
							return;
						}
					}
	        var regex = new RegExp(searchField, "i");
	        //var output = '<div class="row">';
					var output = '';
	        var count = 0;
					var stockdata = new Array();
				  $.each(stockist, function(key, val){
						/*if ((typeof val.Data[3] == 'string' && val.Data[3].search(regex) != -1)
								|| (typeof val.Data[4] == 'string' && val.Data[4].search(regex) != -1)
								|| (typeof val.Data[5] == 'string' && val.Data[5].search(regex) != -1)
								|| (typeof val.Data[6] == 'string' && val.Data[6].search(regex) != -1)) {*/
								//console.log(val.Data[3]);
								var autocomplete_address = '';

								if(typeof val.Data[3] == 'string'){
									autocomplete_address += val.Data[3] + ', '
								}
								if(typeof val.Data[4] == 'string'){
									autocomplete_address += val.Data[4] + ', '
								}
								if(typeof val.Data[5] == 'string'){
									autocomplete_address += val.Data[5] + ', '
								}
								if(typeof val.Data[6] == 'string'){
									autocomplete_address += val.Data[6]
								}

								autocomplete_address = autocomplete_address.replace(/,+/g,',');
  							autocomplete_address = autocomplete_address.replace(/,\s*$/, "");
								autocomplete_address = autocomplete_address.trim();

								if(type == 3){

									output += '<p class="autocomplete-address">'+autocomplete_address+'</p>'

									var phone = '';
									var website = '';
									var stock_lat = -36.820193;
									var stock_lng = 174.755067;

									if(typeof val.Data[2] == 'string'){
										phone = val.Data[2];
									}
									if(typeof val.Data[7] == 'string'){
										website = val.Data[7];
									}

									// mapdata //

									stockdata[count] = {
										accno : val.Data[0],
										name : val.Data[1],
										phone : phone,
										address : autocomplete_address,
										website : website,
										latitude : stock_lat,
										longitude : stock_lng
									};

									//console.log('type 3 = '+stockdata[count]);

									count++;

								}else{

									if (autocomplete_address.search(regex) != -1){

										output += '<p class="autocomplete-address">'+autocomplete_address+'</p>'

										var phone = '';
										var website = '';
										var stock_lat = -36.820193;
										var stock_lng = 174.755067;

										if(typeof val.Data[2] == 'string'){
											phone = val.Data[2];
										}
										if(typeof val.Data[7] == 'string'){
											website = val.Data[7];
										}

										// mapdata //

										stockdata[count] = {
											accno : val.Data[0],
											name : val.Data[1],
											phone : phone,
											address : autocomplete_address,
											website : website,
											latitude : stock_lat,
											longitude : stock_lng
										};

								  	count++;
									}
							}
				  });
						//console.log(stockdata);
				  	//output += '</div>';
						if(type == 2 || type == 1){
							$('.autocomplete-items').html(output);
							$('.autocomplete-items').show();
						}
						if(type == 2 || type == 3){
							initmap(stockdata);
						//}
						//if(type == 3){
							//console.log('3 '+stockdata[0]);
							if(stockdata.length == 0){
									$('#map-container').hide();
									$('#noresults-container').show();
									//return;
							}
						}
						$('.autocomplete-address').on('click', function() {
						  $('#autocomplete').val($(this).text());
							$('#autocomplete').focus();
							searched_stocklist(2);
							//initmap(stockdata);
							// $('#noresults-container').hide();
							$('#map-container').css('display','flex');
							$('#image-container').hide();
							$('.autocomplete-items').hide();
							//console.log('hello');
						});
	    	//});
				}
				$('#autocomplete').on('keyup focus',function(){
						searched_stocklist(1);
				});
				$('#autocomplete').on('mouseout',function(){
						//$('.autocomplete-items').hide();
				});
				$(document).on('keypress',function(e) {
						if(e.which == 13) {
							$('#map-container').css('display','flex');
							$('#image-container').hide();
							$('#noresults-container').hide();
							//initmap(stockdata);
							searched_stocklist(2);
							$("#autocomplete").blur();
							$('.autocomplete-items').hide();
						}
						//alert('You pressed enter!');
				});
				// view all markers //
				$('.view-all-stocks').on('click',function(){

					$('#image-container').hide();
					$('#noresults-container').hide();
					$('#map-container').css('display','flex');
					searched_stocklist(3);
				});
				// end of view all markers //
});
//$('body').on('click',function(e) {
	//$('.autocomplete-items').hide();
//});
</script>
<script type="text/javascript">
function initmap(locations){
	var defaultZoomedIn = 13;
	var defaultZoomedOut = 8;
  //Initialize the Google Maps Windsor -36.820193, 174.755067
	var markers = [];
  var infos = [];
	var geocoder;
	var map;
	var bounds = new google.maps.LatLngBounds();
	var stock_list = '';
	function initialize() {
	    map = new google.maps.Map(
	    document.getElementById("map"), {
	        center: new google.maps.LatLng(-36.820193, 174.755067),
	        zoom: defaultZoomedOut,
					disableDefaultUI: true,
					zoomControl: true,
	        mapTypeId: google.maps.MapTypeId.ROADMAP,
					styles:[
								    {
								        "featureType": "administrative",
								        "elementType": "labels.text.fill",
								        "stylers": [
								            {
								                "color": "#444444"
								            }
								        ]
								    },
								    {
								        "featureType": "landscape",
								        "elementType": "all",
								        "stylers": [
								            {
								                "color": "#eeeeee"
								            }
								        ]
								    },
								    {
								        "featureType": "landscape",
								        "elementType": "geometry",
								        "stylers": [
								            {
								                "saturation": "0"
								            }
								        ]
								    },
								    {
								        "featureType": "poi",
								        "elementType": "all",
								        "stylers": [
								            {
								                "visibility": "off"
								            }
								        ]
								    },
								    {
								        "featureType": "road",
								        "elementType": "all",
								        "stylers": [
								            {
								                "saturation": -100
								            },
								            {
								                "lightness": 45
								            }
								        ]
								    },
								    {
								        "featureType": "road.highway",
								        "elementType": "all",
								        "stylers": [
								            {
								                "visibility": "simplified"
								            }
								        ]
								    },
								    {
								        "featureType": "road.arterial",
								        "elementType": "labels.icon",
								        "stylers": [
								            {
								                "visibility": "off"
								            }
								        ]
								    },
								    {
								        "featureType": "transit",
								        "elementType": "all",
								        "stylers": [
								            {
								                "visibility": "off"
								            }
								        ]
								    },
								    {
								        "featureType": "water",
								        "elementType": "all",
								        "stylers": [
								            {
								                "color": "#f6f6f6"
								            },
								            {
								                "visibility": "on"
								            }
								        ]
								    },
								    {
								        "featureType": "water",
								        "elementType": "geometry.fill",
								        "stylers": [
								            {
								                "saturation": "-11"
								            },
								            {
								                "lightness": "3"
								            },
								            {
								                "gamma": "2.05"
								            },
								            {
								                "weight": "0.01"
								            }
								        ]
								    }
								]
	    });
	    geocoder = new google.maps.Geocoder();
	    window.map = map;
	    window.defaultZoomedOut = defaultZoomedOut;
			markers = [];
	    for (i = 0; i < locations.length; i++) {
	        setTimeout(geocodeAddress(locations, i),i*2500);
	    }
	    google.maps.event.addListener(map, 'zoom_changed', function() {
	        if (map.getZoom() < defaultZoomedIn) {
	          	if (!locations.length) {
	            	return;
	          	}
	      		closeInfos();
	        }
	    });
	}

	function addressClick(marker,i){
		$('.loc-list .list').on('click','.stock-marker-'+i,function () {
	 	 	 //console.log(marker);
	 		 //var id = $(this).data('id');
	 		 google.maps.event.trigger(marker, 'click');
	 		 //console.log(id);
	  });
	}

	//Manages the info windows
    function closeInfos(){
      if(infos.length > 0){
        infos[0].set("marker",null);
        infos[0].close();
        infos.length = 0;
      }
    }
	//google.maps.event.addDomListener(window, "load", initialize);

	function geocodeAddress(locations, i) {
		var stocklat = locations[i]['latitude'];
		var stocklng = locations[i]['longitude'];
		var address = locations[i]['address'];//"Auckland";
		var accno = locations[i]['accno'];
	  var phone = locations[i]['phone'];
	  var website = locations[i]['website'];
	  var name = locations[i]['name'];
		var address2 = locations[i]['address'];
		//address2= address2.replace(" ", "+");
		address2 = address2.replace(/[ ]/g, '+');
		//sleep(2000);
		console.log('Address =>'+accno+' '+name+' A '+address2);
		if(address2 != ''){

			// method 1 //

	/*
		var addressurl = "https://maps.googleapis.com/maps/api/geocode/json?sensor=false&key=AIzaSyCeA1h11Yjt0A6qB-Sk1h3VMxwiDbx31NQ&address="+address2;
		$.get('http://example.com', function(responseText) {
				alert(responseText);
		});
	*/
		// method 2 //
		$.ajax({
			type: "GET",
			dataType: "json",
			url: "https://maps.googleapis.com/maps/api/geocode/json",
			data: {'address': address2,'new_forward_geocoder':true,'sensor':false,key:'AIzaSyCeA1h11Yjt0A6qB-Sk1h3VMxwiDbx31NQ'},
			success: function(data){

			    if(data.results.length){
						var marker = new google.maps.Marker({
								icon: '/assets/images/Elements/Windsor-Map-Location-Icon.png',//'https://maps.google.com/mapfiles/ms/icons/blue.png',
								map: map,
								position: data.results[0].geometry.location,
								title: name,
								animation: google.maps.Animation.DROP,
								address: address,
								class: 'stockmap-marker-'+i
						})
						infoWindow(marker, map, name, address, phone, website,i);
						stocklist(name, address, phone, website,i);
						addressClick(marker,i);
						bounds.extend(marker.getPosition());
						map.fitBounds(bounds);
						markers.push(marker);
			    } else {
	            console.log("geocode of " + locations[i]['address'] + " failed:");
	        }
			}
		});

	// method 3 //
	  /*  geocoder.geocode({
	        'address': locations[i]['address']
	    },

	    function (results, status) {
	        if (status == google.maps.GeocoderStatus.OK) {
	            var marker = new google.maps.Marker({
	                icon: '/assets/images/Elements/Windsor-Map-Location-Icon.png',//'https://maps.google.com/mapfiles/ms/icons/blue.png',
	                map: map,
	                position: results[0].geometry.location,
	                title: name,
	                animation: google.maps.Animation.DROP,
	                address: address,
	                class: 'stockmap-marker-'+i
	            })
	            infoWindow(marker, map, name, address, phone, website,i);
	          	stocklist(name, address, phone, website,i);
							addressClick(marker,i);
	            bounds.extend(marker.getPosition());
	            map.fitBounds(bounds);
							markers.push(marker);
	        } else {
	            console.log("geocode of " + address + " failed:" + status);
	        }
	    });*/
		}
	}
	function sleep(milliSeconds) {
	  var startTime = new Date().getTime();
	  while (new Date().getTime() < startTime + milliSeconds);
	}
	function stocklist(name, address, phone, website,e){
		stock_list += '<div data-id="'+e+'" class="py-4 px-4 map-marker stock-marker-'+e+'">'+listofstock(name, address, phone, website)+'</div>';
		//console.log(stock_list.length);
		$('.loc-list .list').html(stock_list);
		$(".list li").sort(sort_li).appendTo('.loc-list .list');
	}
	function sort_li(a, b) {
    return ($(b).data('id')) < ($(a).data('id')) ? 1 : -1;
  }
	function infoWindow(marker, map, name, address, phone, website,stockid) {
	    google.maps.event.addListener(marker, 'click', function () {
				closeInfos();
				//console.log(markers.length);
				for (var j = 0; j < markers.length; j++) {
            markers[j].setIcon("/assets/images/Elements/Windsor-Map-Location-Icon.png");
        }
				$('.loc-list .list div').removeClass('active');
				$('.stock-marker-'+stockid).addClass('active');
				var $selectedLocation = $('.stock-marker-'+stockid);
      	var $container = $('.loc-list > .list');
				// Scroll to the top
				$container.animate({
        	scrollTop: $selectedLocation.offset().top - $container.offset().top + $container.scrollTop()
      	});
	    	var html = listofstock(name, address, phone, website);
				marker.setIcon('/assets/images/Elements/Windsor-Map-Location-Icon_SELECTED.png');
	        //var html = "<div><h3>" + title + "</h3><p>" + address + "<br></div><a href='" + url + "'>View location</a></p></div>";
	        iw = new google.maps.InfoWindow({
	            content: html,
	            maxWidth: 350
	        });
	        //iw.open(map, marker);
	        infos[0]=iw;
	        map.panTo(marker.position);
	        map.setZoom(defaultZoomedIn);
	    });
	}

	function listofstock(name, address, phone, website) {
	    var markerinfo = '<div class="map-div">'+
		 		'<div class="map-inner">'+
		 		'<p class="map-p"><strong>'+name+'</strong></p>'+
		 		'<p class="map-p">'+address+'</p>';
				if(phone != ''){
					markerinfo += '<p class="map-p"><a href="tel:'+phone+'">'+phone+'</a></p>';
				}
				if(website != ''){
					var websiteurl = website;
					var pattern = /^((http|https|ftp):\/\/)/;
					if(!pattern.test(websiteurl)) {
						websiteurl = "http://" + websiteurl;
					}
					markerinfo +=	'<p class="map-p"><a target="_blank" href="'+websiteurl+'">'+website+'</a></p>';
				}
			markerinfo +=	'</div></div>';
	     return markerinfo;
	}
	initialize();
}
function resetMapZoom() {
	window.map.setZoom(window.defaultZoomedOut);
}
</script>
{% endblock %}
