.formWrapper.supplyToUsForm { 
	padding-top:50px;

	.heading {
		margin:-10px 0 30px 0;
	}
 
	form {

		.killDatesWrapper {

			.killDateWrapper {
				border: 1px solid $secondaryLightColour;
				padding: 10px 20px 27px 20px;
				margin: 15px;			
			}

			.addAnotherDate {
				margin:10px 0 50px 15px;
			}  
		}

		.sectionBreak {

			&.carrierDrafterSectionBreak { 
				margin:65px 0 -15px 0;  
			}

			&.muttonLikelyShearingDate  {
				margin: 55px 0 0 0;
			}
  
			&.likelyShearingDate {
				margin:65px 0 -40px 0; 
			}
		}

		.customWrapper {

			&.throughputSection {

				.questionHtml {
					padding:25px 0 10px 0;

					p {
						font-size: .9em;
					}
				}
			}

			&.exclusivitySpecifications {

				.questionHtml {
					padding: 20px 0 0 0;
					margin: 0 0 -3px 0;
					
					p {
						font-size: .9em;
					}
				}
			}

			&.muttonLikelyShearingDate {

				.questionHtml {
					padding:25px 0 10px 0; 
					
					p {
						font-size: .9em;
					}
				}				
			}			
		}
	}
}