.blueImp.modal {

  .modal-header {
    display: none;
  }

  .modal-dialog {
    margin-top:100px;

    .close {
      @include opacity(1);
      position: absolute;
      color: $whiteColour;
      font-size: 14px;
      z-index: 9999999;
      right: 100px;
      font-weight: 100;
      border: 1px solid $whiteColour;
      border-radius: 50%;
      text-transform: lowercase;
      padding: 11px 9px 14px 9px;
      line-height: 0px;
      top: 14px;
      text-align: center;

      &.sm {
        right:90px;
      }
    }
 
    &.lg {
      max-width: 1100px;
    }

    .modal-content {
      background: none;
      border-radius: 0px;
      box-shadow:none;
      position: relative;
      margin-top: 19%;
      box-shadow: 0px 0px 15px 0 $blackColour;

      .modal-body {
        padding:0px;

        img {
          margin:0px;
          position: relative;
        }
      }

      .modal-footer {
        border-top:none;
        background: $secondaryLightColour;
        text-align: left;
        color: $secondaryColour;
        font-size: .9em;

        p.description {
          margin-bottom: 0px;
        }

        .navigation {
          position: absolute;
          top: 0px;
          width: 100%;
          height: 100%;
          left: 0px;

          .navButton {
            top: 0px;
            width: 15%;
            position: absolute;
            height:100%;
            cursor: pointer;
            background-repeat: no-repeat !important;
            @include opacity(0);
            transition: all .6s;

            &:hover {
              @include opacity(1);
            }

            &.next {
              right:0px;
              background: url("/assets/images/template/rightArrow.png");
              background-position:80% 44% !important;

              &:hover {
                background-position: 97% 44% !important;
              }
            }

            &.prev {
              left:0px;
              background: url("/assets/images/template/leftArrow.png");
              background-position:20% 44% !important;

              &:hover {
                background-position: 3% 44% !important;
              }
            }
          }
        }
      }
    }
  }
}
