.blueimp-gallery {

	.slide-loading {

		&.xs {
			background: none !important;
		}
	} 
 
	.indicator, .play-pause {
 
		li {
			background-image:none !important; 
			background:$secondaryColour;
			opacity:1 !important;

			&.active {
				background:$whiteColour; 
			}
		}
	}  
 
	.close {
		padding:0px;
		font-size: 1.2em;
		font-weight: 100;
		top: 40px; 
		right: 47px;
		display: block; 
 
		&:before {
			content:'\f00d';
			font-family: 'FontAwesome';
		}
	}

	.prev, .next { 
		height: 100%;
		width: 100px;
		top: 0px;
		border: none;
		border-radius: 0px;
		padding: 0px;
		margin: 0px;
		transition:all $transitionTimeFast;
		background:none;

		&:before {
			font-family:'FontAwesome';
			transition: all $transitionTimeFast;
			position: absolute;
			top: 50%;
			margin-top: -15px;			
		}
	}

	.prev {
		left:0px;

		&:before {
			content:'\f104';
		}

		&:hover {

			&:before {

			}			
		}
	}

	.next {
		right:0px;

		&:before {
			content:'\f105';
		}

		&:hover {

			&:before {
				
			}			
		}
	}

	.play-pause {
		display: none;
	}

	.slide {

		.imgWrapper {
			margin-top:8%;
			display: inline-block;
			position: relative;
		}

		img {
			max-height: 75% !important;
  
			&.xs {
				max-width: 95% !important;
				max-height: 95% !important;
			}
		}

		.description {
			background-color: $secondaryLightColour;
			color:$secondaryColour;
			text-align: left;
			width: 75%;
			margin: 0 auto;
			display: block;
			padding:13px 17px;
			font-size: .9em;
			width: 100%;
			position: absolute;
			top: 100%;
			left:0px;

			&.xs {
				width: 95%;
			}
		}

		.slide-content {

			&.video-content {
				overflow: hidden;
				max-width: 75% !important;
				max-height: 75% !important;

				img {
					max-width: 100% !important;
					max-height: 100% !important;
				}
			}

			&.xs {
				max-width: 95% !important;
				max-height: 95% !important;
			}
		}
	}
}
