form.employmentForm {
	padding:0 0 40px 0; 
	
	.customWrapper {

		&.personalDetails {
			margin:0 0 -20px 0;
		}
  
		&.positionApplyingFor {
			margin:55px 0 15px 0;
		}
  
		&.drugScreening {  
			padding: 15px 0 0 0;
			margin: 0;
		}

		&.employmentHistory {

			.questionHtml {

				p {
					font-size: .9em;  
				}
			}
		}  

		&.medical {
    		margin: 20px 0 0 0;
  
			.questionHtml {  
				margin: 0 0 15px 0;

				p {
					font-size: .9em;  
				}				
			}
		}

		&.otherCircumstances {
  
			.questionHtml {
				margin:25px 0 -12px 0;
 
				p {

					&:first-child {
						font-weight: bold;
						font-size: .9em;
					}

					& + p {
						font-size: .9em;
						margin: -10px 0 0 0;
					}
				}  
			}
		}

		&.delarationAndAcknowledgement {

			.questionHtml {
				margin:15px 0;

				h3 + p {
					margin-top:25px; 
				}

				p {
					font-size: .9em;
				}
			}
		}
	}

	.sectionBreak {

		&.refree2 {
			margin:70px 0 -20px 0; 
		}

		&.medicalSectionBreak {
			margin:65px 0 50px 0;  
		}
	}
  
	.form-group { 

		&.inputName-ifOtherPleaseExplain {
			margin: -10px 0 10px 0;
		}

		&.inputName-pleaseProvideDetails {
			margin:-15px 0 15px 0; 
		} 

		&.inputName-coverLetter {
			margin:25px 0 -20px 0;

			.questionHtml {
				display: none;
			}
		}

		&.inputName-cv {

			.questionHtml {
				display: none;
			}
		}  

		&.inputName-declarationAccAuthorization {
			margin: -40px 0 0 0;
		}
 
		&.inputName-uploadAcv {
			margin: -45px 0 0 0;
		}

		&[class*="reasonForLeaving"] {
			margin-top:-5px;
		}

		&.submit {
			margin: 20px 0;
			text-align: left;
			padding-top: 25px;   
		}	
	}
   
	.employmentHistoriesWrapper {
		clear: both;
   
		.employmentHistoryWrapper {
			margin-top: 30px;
			
			&:before {
				content:''; 
				width: calc(100% - 30px);
				margin-left:15px;   
				border-top: 2px solid rgba(227,227,227,0.55);
				display:block;  
			}

			&:first-child {
				border-top:none;  
				margin-top:0px;

				&:before {
					display: none;  
				}
			}  
		}

		.btn.addAnotherPosition { 
			margin:30px 0 45px 15px;  
		}
	}

	.tabWrapper {

		&.tab-medical-disclaimers {
			padding: 20px 0 0 0;
		}		
	}
}