footer {
//	padding:40px 0 0 0;
//	border-top:5px solid $whiteColour;
//	background:$secondaryLightColour;
//	position:relative;
    margin: 100px 0 0 0;
    background: #fff;

	.contactMeta {
//		margin:0 0 30px 0;
        /*margin: 0 auto;*/
        padding: 60px 0 30px 0;

		&.xs {
			padding: 20px 0 0 0;
		}


         .box {
            float: left;
            width: 33%;
            text-align: left;
             color:#0072bc;


        }

		.logoWrapper  {

			&.sm {
				padding-top: 5px;
			}

			&.md {

				&:before {
					right:11px;
				}
			}

			.logo {
				display: block;
				margin: -9px 0 0 0;


				img {
//					margin-left: -15px;
                    // margin-bottom: 15px;

					&.sm {
						margin-left: -7px;
					}
				}
			}

			.socialsWrapper {


				&.xs {
					margin: 5px 0 10px 0;
				}

				&.sm {
					padding: 2px 0 0 0;
				}

				a {
					border-radius:50%;
					height: 30px;
					width: 30px;
					display: inline-block;
					border:3px solid $primaryColour;
					color:$primaryColour;
//					transition:all $transitionTimeFast;
					text-align: center;
					padding: 1px 0 0 0;
					font-size: 1em;

					i {
						color:$primaryColour;
//						transition:all $transitionTimeFast;
					}

					&:hover {
						background:$primaryColour;

						i {
							color:$whiteColour;
						}
					}

				}
			}
		}

		.officeWrapper {
			font-size: .8em;
            color: #0072bc;

			&.xs {
				margin:10px 0 15px 0;
			}

			.address {
				margin-bottom:5px;

				br {

					&:last-child {

						&:after {
							content:'sdfsdfsdfsdf';
						}
					}
				}
			}

			.phoneAndFax {

				.number {
					float: left;
					padding:0 0 0 15px;
									
					&.md, &.sm, &.xs {
						float: inherit;
						padding:0px;
					}

					&:first-child {
						padding-left:0px;
					}

					span {
						color: $primaryColour;
					}

					a {
						color: $blackColour;

						&:hover {
							color: $primaryColour;
						}
					}
				}
			}
		}
	}


    .button.button--sacnite {
         width: 40px;
        height: 40px;
        padding: 5px 0 0px 8px;
        margin-right: 15px;
		&.xs {
			height: 32px;
			width: 32px;
			padding: 2px 0 0px 4px;
		}
		&.facebook {
			padding: 6px 0 0px 9px;
			&.xs {
				padding: 4px 0 0px 6px;
			}
		}
    }

    .bg-2 {
        background-color: #fff0;
    }

    .button {
        margin: 1px;
    }

    .box {
        padding-right: 7px;
        padding-left: 7px;
    }

    .button--sacnite:hover::before {
        box-shadow: inset 0 0 0 2px #0072bc;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    .button--sacnite:hover {
        color: #0072bc;
    }

    .button--sacnite::before {
        box-shadow: inset 0 0 0 35px #0072bc;
    }

    .copyright-section > div > div > p {
        color: #fff;
        padding: 1rem 1rem 0 1rem;
    }

    footer > div > div > div {
        color: #0072bc;
    }

    .credits {
        background: #000;
    }

	.farmerLoginWrapper {

		&.xs {
			position: absolute;
			top: 0px;
			left: 0px;
		}

		a {
			position:relative;
			background: $primaryColour;
			width:105px;
			height: 115px;
			font-family: $secondaryFont;
			display: block;
			float: right;
			margin:-40px 0 0 0;
//  			transition: all $transitionTime;
  			overflow: hidden;

			&.xs {
				position: absolute;
				top: 0px;
				margin: 0px;
				left: 0px;
				width: 100%;
    			height: inherit;
				padding: 5px 0;

				.content {
					position: initial;

					i {
						display: none;
					}
				}
			}

			.content {
				color: $whiteColour;
				position: absolute;
				bottom:10px;
				left: 0px;
				width: 100%;
				text-align:center;
				text-transform:uppercase;
				padding: 0 10px;

				i {

					&:before {
//						transition: all $transitionTime;
						font-size: 1.25em;
						content:'\f105';
						font-family: 'FontAwesome';
						position: absolute;
						width: 100%;
						text-align: center;
						left: 0%;
						opacity:1;
						top:-25px;
					}
				}
			}

			&:hover {
				background: shade($primaryColour, 10);

				.content {

					i {
						opacity:1;
						color: $whiteColour;

						&:before {
							opacity:0;
							left:50%;
						}
					}
				}
			}
		}
	}

	.credits {
		background:$secondaryDarkColour;
		color: $whiteColour;
		padding: 10px 0;
		font-size: .7em;
//		position:absolute;
		bottom:0px;
		width: 100%;

		.meta {

			span {
				color: $primaryColour;
			}

			a {
				color: $whiteColour;
			}
		}

		.poweredBy {

			a {
				color: darken($secondaryColour, 20);
				text-align: right;
				display: block;
			}
		}
	}
}

.footer-logo-up{
    visibility: visible;
    animation-duration: 2.5s;
    animation-name: fadeInUp;
  }


.d-xs-block {
	display: none;
	&.xs {
		display: block;
	}
}

.d-xs-none {
	display: block;
	&.xs {
		display: none;
	}
}

.footer-logo-space {
	&.xs {
		width: 50%;
		margin: 0 auto !important;
		float: unset;
	}
}
