.Form_wrapper {
	// background: #fff;
}
.Form_class {
	padding: 0 45px 0 0;
}

.formWrapper {

  	.alertsWrapper {
		margin: 0px !important;

		.alert {

		}
  	}

	form {
		margin:25px -15px 0 -15px;

		.form-group {
			margin-bottom:8px;
			position:relative;
			padding:18px 0;

			&:before {
				transition: all $transitionTimeFast;
				content:attr(data-label);
				color: $primaryColour;
				position:absolute;
				left:0px;
				bottom:-16px;
				opacity:0;
				font-weight: bold;
				font-size: .9em;
			}

			&.inFocus {

				&:before {
					bottom:-8px;
					opacity:1;
				}
			}

			label {
				transition: all $transitionTimeFast;
				color: $blackColour;
				position:absolute;
				bottom: -13px;
				left:0;
				font-weight: bold;
				font-size:.9em;

				&.inFocus {
					bottom:0px;
					opacity:0;
				}
			}

			&.text, &.email, &.tel, &.date {

				input[type="text"], input[type="email"], input[type="tel"], input[type="date"] {
					border:2px solid $whiteColour;
					border-bottom: 2px solid $secondaryLightColour;
					min-height:45px;
					font-weight: bold;
					z-index: 1000;
					position: relative;
					background: none;
					border-top:none;
					border-left:none;
					border-right:none;
					padding:6px 0;
					cursor: pointer;

					::-webkit-datetime-edit-day-field:not([aria-valuetext]),
					::-webkit-datetime-edit-month-field:not([aria-valuetext]),
					::-webkit-datetime-edit-year-field:not([aria-valuetext])
					{
						color: red;
					}

      				&:hover {
						cursor: pointer;
					}

					&:focus {
						border-bottom: 5px solid $primaryColour;

						&:before {
							content:'';
							border-color:$primaryColour;
						}
					}

					&:-webkit-autofill {
						box-shadow: 0 0 0 45px white inset !important;
					}
				}
			}

			&.textarea {
				transition: all $transitionTimeFast;
				margin: 30px 0 0 0;
				height: 100px;
				overflow: hidden;
   				padding:0px;

				&:before {
					transition: all $transitionTimeFast;
					background: $secondaryLightColour;
					content: '';
					width: 100%;
					z-index: 100000;
					position: absolute;
					top: 45px;
					left: 0px;
					opacity: 1;
					height: 2px;
				}

				&:after {
					content:attr(data-label);
					color: $primaryColour;
					opacity:0;
					position:absolute;
					bottom:-30px;
					left: 0px;
					font-weight: bold;
					font-size: .9em;
				}

				label {
					transition: all $transitionTimeFast;
					bottom: 20px;
					left:1px;
				}

				&.inFocus, &.moveLabel {
 					height: 275px;
 					overflow: visible;
 					margin-bottom:20px;

					&:before {
						// background:$primaryColour;
						// height: 5px;
						top: 270px;
						opacity: 0;
					}

					&:after {
						bottom:-11px;
						opacity: 1 ;
					}

					label {
						opacity:0;
					}

					textarea {
						height: 100%;
						max-height: 260px;
						border: 2px solid $primaryColour;
					}
				}

				textarea {
					transition: all $transitionTime;
					border: 2px solid $whiteColour;
					z-index: 1000;
					position: relative;
					font-weight: bold;
					background:none;
					padding: 15px;
					margin: 13px 0 0 0;

					&:hover {
						cursor: pointer;
					}
				}
			}

			&.select {
				padding: 18px 0;
				margin-bottom:25px;

				label {
					bottom: -13px;
				}

				.bootstrap-select {
					min-height: 45px;
					border-bottom: 2px solid $secondaryLightColour;

					&.dropup {

						.dropdown-menu {

							&.open {

								.inner {

								}
							}
						}
					}

					button {
						min-height:41px;
						border-radius: 0px;
						border: none;
						padding: 0;
						color: $secondaryLightColour;

						&:before {
							background:$whiteColour !important;
							color: $secondaryLightColour;
							content:'\f107';
							background:none;
							font-family: 'FontAwesome';
							position:absolute;
							top: 0px;
							right: 0px;
							height: 42px;
							width: 43px;
							z-index: 100;
							text-align:right;
							font-weight: bold;
							line-height: 43px;
							font-size: 2em;
						}

						span {
							font-weight: bold;
						}

						&.dropdown-toggle {
							background:none;
							box-shadow:none;
							outline: none !important;

							.filter-option {
								text-transform: none;
								font-size: 1.25em;

								span {
									color:$blackColour;
								}
							}
						}
					}

					.dropdown-menu {

						&.open {
							z-index: 1000000;
							border-radius: 0px;
							border:none;
							border-radius:0px;
							overflow: visible !important;
							box-shadow: none !important;
							padding:0px;
							margin:0px;
						}

						.inner {
							border:2px solid $primaryColour;

							li {

								&.dropdown-header {
									display: none;
								}

								a {
									padding: 10px 30px;
									font-weight: bold;
									transition: all $transitionTimeFast;

									&:hover {
										background:$primaryColour;
										color: $whiteColour;
									}
								}
							}
						}
					}
				}
			}

			&.submit {
				text-align: right;

				&.xs {
					margin:30px 0 0 0;
				}

				button[type="submit"] {
					margin:0px;
				}
			}

			&.checkboxesWrapper {

				.questionHtml {
					margin:25px 0 -12px 0;

					p {

						&:first-child {
							font-weight: bold;
							font-size: .9em;
						}

						& + p {
							font-size: .9em;
							margin: -10px 0 0 0;
						}
					}
				}

				.checkboxes {
					margin: -5px 0 0 0;

					.checkbox {
  						margin-bottom:15px;

						input[type="checkbox"]:checked + label:after {
							display: block;
						}

						label {
							position: relative;
							outline:none !important;

							&:before, &:after {
								border:none;
								width: 14px;
								height: 14px;
								top:3px;
								left: 0px;
							}

							&:before {
								border-radius: 0px !important;
								background: tint($secondaryColour, 30);
							}

							&:after {
								display: none;
								background: $primaryColour;
								content:'';
							}

							&:focus, &:hover, &:active {
								outline:none !important;

								&:before, &:after {
									outline:none !important;
								}
							}
						}
					}
				}
			}

			&.radioButtonsWrapper {
				margin-bottom: 5px;
				padding-bottom: 5px;

				.questionHtml {
					margin: 5px 0 15px 0;
					font-weight: bold;
					font-size: .9em;

					h6 {

						& + p {
							font-size: 1em;
						}
					}
				}

				ul {
					list-style-type: none;
					padding:0px;
					width: 50%;
					margin-bottom:0px;

					li {

						.btn {
							background: none;
							border: none;
							padding: 5px 4px 2px 5px;
							margin: 0px;
							border-radius: 100%;
							width: 15px;
							height: 15px;

							span {
								width: 15px;
								height: 15px;
								top: 0px;
								left: 0px;
								position: absolute;

								&.cb-icon-radio-check {

								}

								&.cb-icon-radio-check-empty {

								}
							}
						}

						label {
							position: inherit;
							padding: 0 0 0 5px;
						}

						input[type="radio"] {
							position: absolute;
							margin-top: 7px;
							display: block !important;

							&:hover, &:focus, &:active, &:visited {
								outline: none;
							}
						}
					}
				}
			}

			&.assetsWrapper {

   				.questionHtml  {
					margin: 0 0 20px 0;
   				}

				.fileBtn {
					position: relative;
					overflow: hidden;
					font-size: 13px;
					padding: 10px 20px;
					font-weight: 600;
					border-right:none;
					transition: none;
					border:none;

					i {
						transition: none !important;
						margin:2px 6px 0 0;
					}

					&:hover {
						background:$primaryColour;
						color: $whiteColour;
						border: 2px solid lighten($primaryColour, 10);
						border:none;
					}

					input[type=file] {
						position: absolute;
						top: 0;
						right: 0;
						min-width: 100%;
						min-height: 100%;
						font-size: 100px;
						text-align: right;
						opacity: 0;
						background: red;
						cursor: inherit;
						display: block;
					}
				}

				.filenameHolder {
					color:$secondaryLightColour;
					background: none;
					border: none;
					padding: 9px 15px;
					height: auto;
					font-size: .9em;
					font-style: italic;
				}
			}
		}

		.form-control {
			border-radius: 0px;
			outline: none;
			box-shadow: none !important;
			color: $blackColour;

			&:focus {
				border:1px solid $secondaryColour;
			}

			&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				color:$primaryLightColour;
				opacity:1;
			}

			&::-moz-placeholder { /* Mozilla Firefox 19+ */
				color:$primaryLightColour;
				opacity:1;
			}

			&:-ms-input-placeholder { /* Internet Explorer 10+ */
				color:$primaryLightColour;
			}
		}

		.alertsWrapper {
			padding: 0 15px;
			margin: 0 0 40px 0;

			.alert {
				font-weight: normal;
			}
		}

		.tabWrapper.multiTabs {
			border: 1px solid $secondaryLightColour;
			padding: 10px 20px 27px 20px;
			margin: 15px;
		}

		.addAnotherTab {
			margin:5px 0 45px 0;
		}

		.recaptcha {

			.g-recaptcha {
				float:right;
			}
		}
	}
}

.form-display {
	margin-top: 0;
}

.supplytous {

	&.formWrapper.lg {
		margin-top: -80px;
	}
	.add-kill-date {
		clear: both;
		display: block;
		width: 215px;
	}
	.sectionHeading1 {
		clear: both;
		h3 {
			display: none;
		}
		p {
			font-family: $primaryFont !important;
			text-transform: unset;
			font-size: 1.2em;
		}
	}
	.sectionHeading2 {
		h3 {
			color: #000000;
font-weight: normal;
font-weight: bold;
font-size: 18px;
margin-bottom: 10px;
text-transform: uppercase;
border: none;
font-family: $secondaryFont  !important;
		}
	}
	.field {
		position: relative;
		margin: 20px 0;
		.heading {
			position: absolute;
			top: 5px;
			left: 25px;
			color: gray;
		}
		.input {
			input[type='tel'],
			input[type='date'],
			input[type='number'],
			input[type='email'],
			input[type='text'] {
				width: 90%;
				padding: 10px;
				border: 0 none;
				border-bottom: 1px solid #000000;
			}
			input[type='date'] {
				height: 40px;
			}
		}
		&.paragraph  {
			textarea {
				width: 95%;
				border: 0 none;
				border-bottom: 1px solid #000000;
        resize: none;
			}
		}
		&.multiplechoice  {
			font-weight: bold;
			legend {
				font-family: $secondaryFont;
			}
			label {
				width: 100%;
			}
			.heading {
				position: unset;
			}
			.input {
				margin-top: 10px;
				input {
					margin-right: 5px;
				}
			}
		}
		&.emaildropdown {
			select {
				width: 100%;
				padding: 10px;
				border-top: 0 none;
				border-left: 0 none;
				border-right: 0 none;
				border-bottom-color: #000000;
			}
		}
		&.phone {
			select {
				display: none;
			}
		}
	}
	.preferredKillDates {
		padding-left: 20px;
		h3 {
			font-size: 18px;
		}
	}
	.submit {
		button{
			color: #ffffff;
			background: #000000;
			&:hover {
				background: #e3e3e3;
				color: #000000;
			}
		}
	}

}

.employmentApplicationForm,
.contactus{
	background: #fff;
	.employmentApplicationForm-form {
		margin: 30px;
		&.xs {
			margin: 0;
		}
	}
	.field {
		position: relative;
		margin: 20px 0;
		.heading {
			position: absolute;
			top: 5px;
			left: 25px;
			color: gray;
		}
		.input {
			input[type='tel'],
			input[type='date'],
			input[type='number'],
			input[type='email'],
			input[type='text'] {
				width: 90%;
				padding: 10px;
				border: 0 none;
				border-bottom: 1px solid #000000;
			}
			input[type='date'] {
				height: 40px;
			}
		}
		&.paragraph  {
			textarea {
				width: 95%;
				border: 0 none;
				border-bottom: 1px solid #000000;
			}
		}
		&.checkboxes,
		&.multiplechoice  {
			font-weight: bold;
			label {
				width: 100%;
			}
			.heading {
				position: unset;
			}
		}
		&.checkboxes,
		&.emaildropdown {
			.heading {
				display: block !important;
				position: unset;
			}
		}
		&.authorize-field {
			.heading {
				display: none !important;
			}
		}

		&.phone {
			select {
				display: none;
			}
		}
	}
	select {
		width: 100%;
		padding: 10px;
		border-top: 0 none;
		border-left: 0 none;
		border-right: 0 none;
		border-bottom-color: #000000;
	}
	.preferredKillDates {
		padding-left: 20px;
		h3 {
			font-size: 18px;
		}
	}
	.submit {
		button{
			color: #ffffff;
			background: #000000;
			&:hover {
				background: #e3e3e3;
				color: #000000;
			}
		}
	}

}
.employmentApplicationForm {
	lagend {
		border: 0 none;
	}
	select {
		width: 95%;
	}
	.toDate1-field {
		clear: both;
	}
	.sectionHeading6  {
		clear: both;
	}
	label {
		font-weight: normal;
	}
	.field {
		&.paragraph  {
			.heading {
				display: block !important;
				position: unset;
				color: #000;
				label {
					text-transform: uppercase;
					color: #000000;
					font-weight: bold;
					// font-size: 18px;
					font-size: 16px;
					margin-bottom: 10px;
					text-transform: uppercase;
					border: none;
					// font-family: $secondaryFont;
				}
			}
			textarea {
				width: 95%;
				border: 2px solid #000;
			}
		}
		&.multiplechoice  {
			font-weight: bold;
			legend {
				// font-family: $secondaryFont;
			}
			label {
				width: 100%;
			}
			.heading {
				position: unset;
			}
			.input {
				margin-top: 10px;
				input {
					margin-right: 5px;
				}
			}
		}
	}

	.positionApplyFor-field  {
		.heading {
			display: block !important;
			position: unset;
			label {
				float: left;
				padding-right: 5px;
				color: #000000;
				font-weight: bold;
				font-size: 18px;
				margin-bottom: 10px;
				text-transform: uppercase;
				border: none;
				font-family: $secondaryFont;
			}
			p {
				font-size: 12px;
				padding-top: 5px;
			}
		}
		.input {
			width: 45%;
			&.xs {
				width: 100%;
			}
		}
	}
	.sectionHeading5  {
		h3 {
			float: left;
			padding-right: 5px;
		}
		p {
				font-size: 12px;
				padding-top: 5px;
			}
	}
	.nameAddress1-field {
		clear: left;
	}
	.consent-field {
		legend {
			font-size: 15px;
			text-transform: none;
			&:before {
				content: "\26A0";
				font-size: 25px;
			}
		}
		.instructions  {
			color: #000000;
			font-weight: bold;
			font-size: 18px;
			margin-bottom: 10px;
			text-transform: uppercase;
			border: none;
			font-family: $secondaryFont;
		}
	}
	.declaration-field,
	.medicalIllness-field,
	.legalWorkPermit-field {
		legend {
			text-transform: none;

			color: #000000;
			font-weight: bold;
			font-size: 18px;
			margin-bottom: 10px;
						border: none;
			font-family: $secondaryFont;
		}
	}
	.declaration-field,
	.medicalIllness-field {
		legend {
			float: left;
			padding-right: 5px;
			width: 12%;
		}
		p {
			font-size: 12px;
			padding-top: 5px;
		}
	}
	.medicalIllness-field {
		legend {
			width: 50%;
		}
	}
	.authorize-field {
		margin-top: -20px;
	}
}
.add-kill-date{
	left: 15px;
}
#fields-preferredKillDates, #fields-sectionHeading2, #fields-sectionHeading1,
#fields-likelyShearingDate-field, #fields-comments-field, .submit {
    padding-left: 15px;
}
#stock-booking-form > .container > .sectionCenterAlign,  .contactSectionCenterAlign {
    padding-left: 48px;
    display: inline-block;

}
#stock-booking-form > .container > .sectionCenterAlign {
	&.xs {
		padding-left: 0;
		margin-top: 120px;
	}
}
#employment-application-form .form-display {
	margin-top: 0;
}

legend {
	color: #000000;
font-weight: normal;
font-weight: bold;
font-size: 18px;
margin-bottom: 10px;
text-transform: uppercase;
border: none;
}

// .container.Form_wrapper.form {
//     /* width: 68%; */
//     // background: linear-gradient(90deg, #fff 93.9%, #f7f7f7 5%);
// }

/*.container.Form_wrapper.form {

    background: linear-gradient(90deg, #fff 92.6%, #f7f7f7 5%);
    margin-left: 14.4%;
}*/

.container.Form_wrapper.form > .sectionCenterAlign{
        padding-left: 48px;
        display: inline-block;
		&.xs {
			padding-left: 0;
		}
    }

// .container.Form_wrapper.lg {
//     background: linear-gradient(90deg, #fff 92.5%, #f7f7f7 0%);
//     margin-right: 239px;
// }


#stock-booking-form  {
	.field {
		.input {
			&.xs {
				width: 100% !important;
			}

		}
	}
}
