@media only screen and (max-width : 767px) {
	
	.navbar {
		border-bottom:5px solid rgba($whiteColour, $opacity); 
		top:40px; 

		.farmerLoginWrapper {
			position: absolute !important;
			top: -40px !important;
			width: 100%;
			height:40px;
			background:none; 

			a {
				padding: .6em 0 !important; 
				font-size: 1.2em;	
				max-height: 40px;			
			}
		}

		.navbar-header {
			border-bottom:5px solid rgba($whiteColour, $opacity); 
 
			.navbar-brand {
				width: 170px;
				padding: 10px; 
			}
 
			.navbar-toggle {
				width: inherit;
				margin: 15px;

				.icon-bar { 
					background:$whiteColour; 
				}
			}
		}
   
		#navbar { 
			background: $whiteColour; 
			margin: 0 -15px;
   
			ul.nav {
		 		margin:7.5px -15px 20px -15px;

				li {
	 				text-align:center;

					a { 
						color: $blackColour;
						padding: 15px 0;
						text-align: center;
						display: inline-block; 
						position: relative;
    					font-size: .9em;
    					
						&:before {
							background:rgba($primaryColour, $opacityLight);
							content:''; 
							width: 100%; 
							height: 5px; 
							position:absolute;
							left:0px;
							bottom: 8px; 
						}

						&:hover {

						}
					}

					&.active {

						a {
							color: $primaryColour; 
						}
					}		
				}
			}		
		}

		.search {
			color: $blackColour; 
			position: inherit;
			right: inherit;
			top: inherit;
			padding: 10px 0 5px 0;
			display: inline-block;

			&:hover {
				cursor: pointer; 
			}
		}
	}
}
 
/* ANIMATED X */
.navbar-toggle {
  border: none;
  background: transparent !important;
} 
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
/* END ANIMATED X */