

.navbar {
	position: absolute;
	width:100%;
	z-index: 5000;
	border:none;
	background:none;
//	top: 25px;

	.farmerLoginWrapper {
		background:$secondaryDarkColour;
		position: absolute;
		right: 50px;
		top: -33px;
		font-size: .8em;

		&.sm {
			right:35px;
		}

		.content {

		}

		&:hover {
			background:$secondaryColour;
		}
	}

	.container-fluid {


	}

	.navbar-header {

		&.md, &.sm {
			width: 100%;
		}

		.navbar-brand {
			height: inherit;
			padding: 15px 15px 15px 30px;

			&.md, &.sm {
				padding:15px 0 5px 0;
				width: 100%;
				margin: 0px;

				img {
					margin: 0 auto;
					max-width: 185px;
				}
			}
		}
	}

	#navbar {
		margin: 45px 50px 0 0;
        font-size: 18px;
		position: unset;
		@media only screen and (max-width: 767px) {
			border: 0 none;
			margin: 0 70px 0 0;
			position: absolute;
			top: 30px;
			right: -40px;
		}
		&.md, &.sm {
			margin:0px;
			text-align:center;
		}

		ul.nav {

			&.md, &.sm {
				float: inherit !important;
				clear: both;
				display: inline-block;
			}

			li {

				&.first {

					a {
						padding-left:5px !important;
					}
				}

				&:last-child {

					a {
						padding-right:5px !important;
					}
				}

				a {
					color: $whiteColour;
					font-family: $secondaryFont;
//					transition: all $transitionTimeFast;
					text-transform: uppercase;

					&.md {
						padding: 10px;
					}

					&.sm {
						padding: 10px 7px;
					}

					&:hover {
						/*color: $primaryColour;*/
					}
				}

				&.active {

					a {
						color: $primaryColour;
						background:none;
					}
				}
			}
		}
	}
	.nav-label,
	.menu-label,
	.search-label {
		position: absolute;
		right: 3px;
		top: 38px;
		font-size: 12px;
		color: #fff;
		display: none;
		text-align: center;
		line-height: 15px;
	}
	.search {
		color: $whiteColour;
		position: absolute;
		right: 0;
		top: 24px;
		margin-left: -25px;
		&.md {
			right: 55px;
			top: 80px;
		}

		&.sm {
			right: 41px;
			top: 51px;
		}
		&.xs {
			top: -5px;
			margin-left: 8px;
		}
		&:hover {
			& + .search-label {
				display: block;
			}
		}
	}

}

.navbar-nav li {
	z-index: 999;
	margin-right: 0;
	@media only screen and (max-width: 767px) {
		width: 20px !important;
		display: inline-block;
	}
}
#nav-icon4 {
  width: 20px;
  height: 30px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 2px;
  // width: 100%;
  width: 25px;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  // left: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  &.hover {
  	/*background: #000000;*/
  }
}


#nav-icon4 span:nth-child(1) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  @media only screen and (max-width: 767px) {
	left: 20px;
  }
}

#nav-icon4 span:nth-child(2) {
  top: 22px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  @media only screen and (max-width: 767px) {
	left: 20px;
  }
}

#nav-icon4 span:nth-child(3) {
  top: 28px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  @media only screen and (max-width: 767px) {
	left: 20px;
  }
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  // top: 14px;
  // left: 5px;
  top: 15px;
  left: 5px;
   width: 25px;
   @media only screen and (max-width: 767px) {
		left: 20px;
	}
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  // top: 29px;
  // left: 5px;
  top: 32px;
    left: 5px;
    width: 25px;
	@media only screen and (max-width: 767px) {
		left: 20px;
	}
}

#mySidenav.openmenu {
	width: 250px;
}
.sidenav {
  height: 555px;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 0.7;
  overflow-x: hidden;
  transition: 0.5s;
  // padding-top: 60px;
  padding-top: 120px;
        text-transform: uppercase;
    font-weight: bold;
	@media only screen and (max-width: 767px) {
		right: -30px;
		top: -30px;
		height: 500px;
	}
}
.Home .sidenav {
  height: 100vh;
}

.sidenav a {
  padding: 8px 8px 8px 38px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  &:first-child {
  	// margin-top: 25px;
  }
}

.sidenav a:hover {
  color: #f1f1f1;
  text-decoration: underline;
  font-weight:bold;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

ul#Navigation-controls {
    margin-right: 0px !important;
}


.search{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  .close{
    display: none;
    text-indent: -99999px;
    background: transparent;
    width: 45px;
    height:45px;
    border-radius: 40px;
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 99999999999;

    &:hover{
      cursor: pointer;
    }

    &.active{
      display: block;
    }
  }

  &-icon{
    border: 2px solid #fff;
    height: 15px;
    width: 15px;
    border-radius: 40px;
    transition: all 350ms ease-in-out;

    span{
      display: block;
      height: 8px;
      width: 3px;
      background: #fff;
      border-radius: 0 0 2px 2px;
      transform: rotate(-45deg);
      position: absolute;
      top: 10px;
      right: 7px;
      transition: 350ms 200ms ease-in-out, rotate 300ms ease-in-out;
		&.xs {
			right: -14px;
		}
      &:after{
        content: '';
        display: block;
        visibility: hidden;
        opacity: 0;
        background: #fff;
        height: 20px;
        width: 4px;
        border-radius: 2px;
        transform: rotate(90deg);
        transition: 350ms 200ms ease-in-out, rotate 300ms ease-in-out;
      }

      &:before{
        content: '';
        display: block;
        position: absolute;
        background: #fff;
        height: 10px;
        width: 4px;
        border-radius: 2px;
        visibility: hidden;
        opacity: 0;
        transition: 350ms 200ms ease-in-out, rotate 300ms ease-in-out;
      }
    }

    &.active{
      width: 350px;
      height: 50px;
      border-radius: 40px;
	  margin-left: -322px;
	  &.xs {
		width: 130px;
		height: 35px;
		margin-left: -110px;
	  }
      span{
        height: 20px;
        border-radius: 2px;
        top: 15px;
        right: 22px;
        transform: rotate(45deg);
        transition: 350ms 200ms ease-in-out, rotate 300ms ease-in-out;
		&.xs {
			top: 8px;
			right: 0;
		}
        &:after{
          visibility: visible;
          opacity: 1;
          transform: rotate(-90deg);
          transition: 350ms 200ms ease-in-out, rotate 300ms ease-in-out;
        }

        &.ready{
          transform: rotate(-90deg);

          &:after{
            position: absolute;
            height:10px;
            top: 11px;
            right: -3px;
            transform: rotate(-135deg);
            transition: 350ms 200ms ease-in-out, rotate 300ms ease-in-out;
          }

          &:before{

            visibility: visible;
            opacity: 1;
            top: 11px;
            right: 3px;
            transform: rotate(135deg);
            transition: 350ms 200ms ease-in-out, rotate 300ms ease-in-out;

          }
        }
      }

      input{
        display: block;
        width: calc(80% - 20px);
        height: 100%;
        padding: 12px 10px;
        border: 0;
        margin: 0 0 0 20px;
				color: #fff;
		background: transparent;
		&::-webkit-input-placeholder, /* Edge */
		&:-ms-input-placeholder, /* Internet Explorer 10-11 */
		&::placeholder {
			color: #fff;
		}
        &:focus{
          outline: none;
        }
      }
    }
  }

  input{
    display: none;
  }


}

input.search-input::placeholder {
    color: white;
    opacity: .6;
}

.menu-icon {
	&:hover {
		& + .menu-label {
			display: block;
		}
	}
}

#nav-icon4 {
	&:hover {
		& + .nav-label {
			display: block;
		}
	}
}
