.productFinderWrapper {
	// padding-bottom: 70px;
	padding-top: 70px;
	background: #fff;
    margin-right: 5%;
	&.xs {
		padding-top: 100px;
	}
	.filters {

		.filterHeading {
			// border-bottom:1px solid $secondaryLightColour;
			color:#000;
			font-size:1.2em;
			text-align: center;
			text-transform: uppercase;
    	font-weight: bold;
		}

		button {
    		background:$whiteColour;

			&.is-checked, &:hover, &:active, &:focus {

			}
		}

		[class*="CategoryWrapper"] {
			// padding: 40px 40px 15px 40px;
			/*padding: 40px 40px 15px 230px;*/
			margin: auto;
			width: 50%;
			text-align: center;
			text-align: -webkit-center;
		}

		.topLevelCategoryWrapper {
			// background:$secondaryLightColour;
			padding: 0 0 0 4%;
			width: 55%;
			margin: 0 auto;
		}

		.subLevelCategoryWrapper {
			background:tint($secondaryLightColour, 33);
			margin: 3px 0 0 0;
			margin: auto;
			width: 50%;
			/*text-align: center;*/
			&.xs {
				width: 100%;
				text-align: left;
			}
			.main {
				display: inline-block;
				position: relative;
				padding-left: 20px;
				margin-bottom: 15px;
				cursor: pointer;
				font-size: 14px;
			}

			/* Hide the default checkbox */
			input[type=checkbox] {
				visibility: hidden;
			}

			/* Creating a custom checkbox
			based on demand */
			.geekmark {
				position: absolute;
				top: 20%;
				left: 0;
				height: 15px;
				width: 15px;
				background-color: #ffffff;
				border: 1px solid #000000;
			}

			/* Specify the background color to be
			shown when hovering over checkbox */
			.main:hover input ~ .geekmark {
				background-color: #ffffff;
			}

			/* Specify the background color to be
			shown when checkbox is active */
			.main input:active ~ .geekmark {
				background-color: #ffffff;
			}

			/* Specify the background color to be
			shown when checkbox is checked */
			.main input:checked ~ .geekmark {
				background-color: #ffffff;
			}

			/* Checkmark to be shown in checkbox */
			/* It is not be shown when not checked */
			.geekmark:after {
				content: "";
				position: absolute;
				display: none;
			}

			/* Display checkmark when checked */
			.main input:checked ~ .geekmark:after {
				display: block;
			}

			/* Styling the checkmark using webkit */
			/* Rotated the rectangle by 45 degree and
			showing only two border to make it look
			like a tickmark */
			.main .geekmark:after {
				left: 3px;
				bottom: 2px;
				height: 12px;
				width: 7px;
				border: solid #000000;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
	}

	.grid {

		.productWrapper {
			margin:30px 0 0 0;
 			position:relative;

			// &:before {
			// 	background: $blackColour;
			// 	content: '';
			// 	position: absolute;
			// 	top: 0px;
			// 	left: 0px;
			// 	height: 200px;
			// 	width: 100%;
			// }

			.image {
				min-height:200px;
				opacity:.97;
			}

			.name {
				font-family: $primaryFont !important;
				font-size: 1.2em;
				font-weight: bold;
				margin :5px 0 5px 0;
				text-align: left;
			}

			.weight {
				font-style: italic;
				font-size: 1em;
				text-align: left;
			}

			.description {
				height: 250px;
				overflow: hidden;
				text-align:left;

			}
			.metaWrapper {
				margin: 15px 0;


			}
		}
	}
}

.productImage {
margin-bottom: 22px;
height: 100%;
width: 100%;
}

.productFinderWrapper {
	.xs.grid {
		.all {
			padding: 0 30px !important;
		}
	}
}